/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// OldStyleAPIService OldStyleAPI service
type OldStyleAPIService service

type ApiOBPv200ElasticSearchMetricsRequest struct {
	ctx context.Context
	ApiService *OldStyleAPIService
}

func (r ApiOBPv200ElasticSearchMetricsRequest) Execute() (*OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage, *http.Response, error) {
	return r.ApiService.OBPv200ElasticSearchMetricsExecute(r)
}

/*
OBPv200ElasticSearchMetrics Search API Metrics via Elasticsearch

<p>Search the API calls made to this API instance via Elastic Search.</p>
<p>Login is required.</p>
<p>CanSearchMetrics entitlement is required to search metrics data.</p>
<p>parameters:</p>
<p>esType  - elasticsearch type</p>
<p>simple query:</p>
<p>q       - plain_text_query</p>
<p>df      - default field to search</p>
<p>sort    - field to sort on</p>
<p>size    - number of hits returned, default 10</p>
<p>from    - show hits starting from</p>
<p>json query:</p>
<p>source  - JSON_query_(URL-escaped)</p>
<p>example usage:</p>
<p>/search/metrics/q=findThis</p>
<p>or:</p>
<p>/search/metrics/source={&quot;query&quot;:{&quot;query_string&quot;:{&quot;query&quot;:&quot;findThis&quot;}}}</p>
<p>Note!!</p>
<p>The whole JSON query string MUST be URL-encoded:</p>
<ul>
<li>For {  use %7B</li>
<li>For }  use %7D</li>
<li>For : use %3A</li>
<li>For &quot; use %22</li>
</ul>
<p>etc..</p>
<p>Only q, source and esType are passed to Elastic</p>
<p>Elastic simple query: <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/search-uri-request.html">https://www.elastic.co/guide/en/elasticsearch/reference/current/search-uri-request.html</a></p>
<p>Elastic JSON query: <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-filter-context.html">https://www.elastic.co/guide/en/elasticsearch/reference/current/query-filter-context.html</a></p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#none">none</a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv200ElasticSearchMetricsRequest
*/
func (a *OldStyleAPIService) OBPv200ElasticSearchMetrics(ctx context.Context) ApiOBPv200ElasticSearchMetricsRequest {
	return ApiOBPv200ElasticSearchMetricsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage
func (a *OldStyleAPIService) OBPv200ElasticSearchMetricsExecute(r ApiOBPv200ElasticSearchMetricsRequest) (*OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OldStyleAPIService.OBPv200ElasticSearchMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v2.0.0/search/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
