/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ConnectorAPIService ConnectorAPI service
type ConnectorAPIService service

type ApiOBPv600GetConnectorsRequest struct {
	ctx context.Context
	ApiService *ConnectorAPIService
}

func (r ApiOBPv600GetConnectorsRequest) Execute() (*OBPv600GetConnectors200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetConnectorsExecute(r)
}

/*
OBPv600GetConnectors Get Connectors

<p>Get the list of connectors and their availability for method routing.</p>
<p>Returns a sorted list of all connectors with their availability status for use in Method Routing.</p>
<h2><a href="#response-fields" id="response-fields">Response Fields</a></h2>
<ul>
<li><strong>connector_name</strong> - The name of the connector</li>
<li><strong>is_available_in_method_routing</strong> - Whether this connector can be used in Method Routing configuration.<br />
This depends on the <code>connector</code> and <code>starConnector_supported_types</code> props settings.</li>
</ul>
<h2><a href="#available-connectors" id="available-connectors">Available Connectors</a></h2>
<p>The OBP-API supports multiple connectors for accessing banking data:</p>
<ul>
<li><strong>mapped</strong> - Local database connector using Lift Mapper ORM</li>
<li><strong>akka_vDec2018</strong> - Akka-based connector for remote banking systems</li>
<li><strong>rest_vMar2019</strong> - REST connector for external APIs</li>
<li><strong>stored_procedure_vDec2019</strong> - Stored procedure connector for database-native operations</li>
<li><strong>rabbitmq_vOct2024</strong> - RabbitMQ message queue connector</li>
<li><strong>cardano_vJun2025</strong> - Cardano blockchain connector</li>
<li><strong>ethereum_vSept2025</strong> - Ethereum blockchain connector</li>
<li><strong>star</strong> - Star connector (special routing connector)</li>
<li><strong>proxy</strong> - Proxy connector (for testing)</li>
<li><strong>internal</strong> - Internal dynamic connector</li>
</ul>
<h2><a href="#use-case" id="use-case">Use Case</a></h2>
<p>Use this endpoint to discover which connectors are available when configuring Method Routing.<br />
A connector is available for method routing if it matches the <code>connector</code> prop setting,<br />
or if <code>connector=star</code> and the connector is listed in <code>starConnector_supported_types</code>.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>CanGetConnectorNames entitlement is required.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#connector_name"><strong>connector_name</strong></a>:</p>
<p><a href="/glossary#"><strong>connectors</strong></a>: connectors</p>
<p><a href="/glossary#"><strong>is_available_in_method_routing</strong></a>: is_available_in_method_routing</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetConnectorsRequest
*/
func (a *ConnectorAPIService) OBPv600GetConnectors(ctx context.Context) ApiOBPv600GetConnectorsRequest {
	return ApiOBPv600GetConnectorsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetConnectors200Response
func (a *ConnectorAPIService) OBPv600GetConnectorsExecute(r ApiOBPv600GetConnectorsRequest) (*OBPv600GetConnectors200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetConnectors200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorAPIService.OBPv600GetConnectors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/system/connectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetStoredProcedureConnectorHealthRequest struct {
	ctx context.Context
	ApiService *ConnectorAPIService
}

func (r ApiOBPv600GetStoredProcedureConnectorHealthRequest) Execute() (*OBPv600GetStoredProcedureConnectorHealth200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetStoredProcedureConnectorHealthExecute(r)
}

/*
OBPv600GetStoredProcedureConnectorHealth Get Stored Procedure Connector Health

<p>Returns health status of the stored procedure connector including:</p>
<ul>
<li>Connection status (ok/error)</li>
<li>Database server name: identifies which backend node handled the request (useful for load balancer diagnostics)</li>
<li>Server IP address</li>
<li>Database name</li>
<li>Response time in milliseconds</li>
<li>Error message (if any)</li>
</ul>
<p>Supports database-specific queries for: SQL Server, PostgreSQL, Oracle, and MySQL/MariaDB.</p>
<p>This endpoint is useful for diagnosing connectivity issues, especially when the database is behind a load balancer<br />
and you need to identify which node is responding or experiencing SSL certificate issues.</p>
<p>Note: This endpoint may take a long time to respond if the database connection is slow or experiencing issues.<br />
The response time depends on the connection pool timeout and JDBC driver settings.</p>
<p>Authentication is Required</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>response_time_ms</strong></a>: response_time_ms</p>
<p><a href="/glossary#status"><strong>status</strong></a>:</p>
<p><a href="/glossary#">database_name</a>: database_name</p>
<p><a href="/glossary#">error_message</a>: error_message</p>
<p><a href="/glossary#">server_ip</a>: server_ip</p>
<p><a href="/glossary#">server_name</a>: server_name</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetStoredProcedureConnectorHealthRequest
*/
func (a *ConnectorAPIService) OBPv600GetStoredProcedureConnectorHealth(ctx context.Context) ApiOBPv600GetStoredProcedureConnectorHealthRequest {
	return ApiOBPv600GetStoredProcedureConnectorHealthRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetStoredProcedureConnectorHealth200Response
func (a *ConnectorAPIService) OBPv600GetStoredProcedureConnectorHealthExecute(r ApiOBPv600GetStoredProcedureConnectorHealthRequest) (*OBPv600GetStoredProcedureConnectorHealth200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetStoredProcedureConnectorHealth200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorAPIService.OBPv600GetStoredProcedureConnectorHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/system/connectors/stored_procedure_vDec2019/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
