/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// APIAPIService APIAPI service
type APIAPIService service

type ApiOBPv140GetBankLevelDynamicResourceDocsObpRequest struct {
	ctx context.Context
	ApiService *APIAPIService
	bankid string
	apiversion string
}

func (r ApiOBPv140GetBankLevelDynamicResourceDocsObpRequest) Execute() (*http.Response, error) {
	return r.ApiService.OBPv140GetBankLevelDynamicResourceDocsObpExecute(r)
}

/*
OBPv140GetBankLevelDynamicResourceDocsObp Get Bank Level Dynamic Resource Docs

<p>Get documentation about the RESTful resources on this server including example bodies for POST and PUT requests.</p>
<p>This is the native data format used to document OBP endpoints. Each endpoint has a Resource Doc (a Scala case class) defined in the source code.</p>
<p>This endpoint is used by OBP API Explorer to display and work with the API documentation.</p>
<p>Most (but not all) fields are also available in swagger format. (The Swagger endpoint is built from Resource Docs.)</p>
<p>API_VERSION is the version you want documentation about e.g. v3.0.0</p>
<p>You may filter this endpoint with tags parameter e.g. ?tags=Account,Bank</p>
<p>You may filter this endpoint with functions parameter e.g. ?functions=enableDisableConsumers,getConnectorMetrics</p>
<p>For possible function values, see implemented_by.function in the JSON returned by this endpoint or the OBP source code or the footer of the API Explorer which produces a comma separated list of functions that reflect the server or filtering by API Explorer based on tags etc.</p>
<p>You may filter this endpoint using the 'content' url parameter, e.g. ?content=dynamic<br />
if set content=dynamic, only show dynamic endpoints, if content=static, only show the static endpoints. if omit this parameter, we will show all the endpoints.</p>
<p>You may need some other language resource docs, now we support en_GB and es_ES at the moment.</p>
<p>You can filter with api-collection-id, but api-collection-id can not be used with others together. If api-collection-id is used in URL, it will ignore all other parameters.</p>
<p>See the Resource Doc endpoint for more information.</p>
<p>Note: Dynamic Resource Docs are cached, TTL is 3600 seconds<br />
Static Resource Docs are cached, TTL is 3600 seconds</p>
<p>Following are more examples:<br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp">https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp?tags=Account,Bank">https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp?tags=Account,Bank</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp?functions=getBanks,bankById">https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp?functions=getBanks,bankById</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp?locale=es_ES">https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp?locale=es_ES</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp?content=static,dynamic,all">https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp?content=static,dynamic,all</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp?api-collection-id=4e866c86-60c3-4268-a221-cb0bbf1ad221">https://apisandbox.openbankproject.com/obp/v4.0.0/banks/BANK_ID/resource-docs/v4.0.0/obp?api-collection-id=4e866c86-60c3-4268-a221-cb0bbf1ad221</a></p>
<ul>
<li> operation_id is concatenation of "v", version and function and should be unique (used for DOM element IDs etc. maybe used to link to source code) </li>
<li> version references the version that the API call is defined in.</li>
<li> function is the (scala) partial function that implements this endpoint. It is unique per version of the API.</li>
<li> request_url is empty for the root call, else the path. It contains the standard prefix (e.g. /obp) and the implemented version (the version where this endpoint was defined) e.g. /obp/v1.2.0/resource</li>
<li> specified_url (recommended to use) is empty for the root call, else the path. It contains the standard prefix (e.g. /obp) and the version specified in the call e.g. /obp/v3.1.0/resource. In OBP, endpoints are first made available at the request_url, but the same resource (function call) is often made available under later versions (specified_url). To access the latest version of all endpoints use the latest version available on your OBP instance e.g. /obp/v3.1.0 - To get the original version use the request_url. We recommend to use the specified_url since non semantic improvements are more likely to be applied to later implementations of the call.</li>
<li> summary is a short description inline with the swagger terminology. </li>
<li> description may contain html markup (generated from markdown on the server).</li>
</ul>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#api_version">API_VERSION</a>:</p>
<p><a href="/glossary#Bank.bank_id">BANK_ID</a>: gh.29.uk</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankid The BANKID identifier
 @param apiversion The APIVERSION identifier
 @return ApiOBPv140GetBankLevelDynamicResourceDocsObpRequest
*/
func (a *APIAPIService) OBPv140GetBankLevelDynamicResourceDocsObp(ctx context.Context, bankid string, apiversion string) ApiOBPv140GetBankLevelDynamicResourceDocsObpRequest {
	return ApiOBPv140GetBankLevelDynamicResourceDocsObpRequest{
		ApiService: a,
		ctx: ctx,
		bankid: bankid,
		apiversion: apiversion,
	}
}

// Execute executes the request
func (a *APIAPIService) OBPv140GetBankLevelDynamicResourceDocsObpExecute(r ApiOBPv140GetBankLevelDynamicResourceDocsObpRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv140GetBankLevelDynamicResourceDocsObp")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v1.4.0/banks/{bankid}/resource-docs/{apiversion}/obp"
	localVarPath = strings.Replace(localVarPath, "{"+"bankid"+"}", url.PathEscape(parameterValueToString(r.bankid, "bankid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiversion"+"}", url.PathEscape(parameterValueToString(r.apiversion, "apiversion")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOBPv140GetResourceDocsObpRequest struct {
	ctx context.Context
	ApiService *APIAPIService
	apiversion string
}

func (r ApiOBPv140GetResourceDocsObpRequest) Execute() (*http.Response, error) {
	return r.ApiService.OBPv140GetResourceDocsObpExecute(r)
}

/*
OBPv140GetResourceDocsObp Get Resource Docs

<p>Get documentation about the RESTful resources on this server including example bodies for POST and PUT requests.</p>
<p>This is the native data format used to document OBP endpoints. Each endpoint has a Resource Doc (a Scala case class) defined in the source code.</p>
<p>This endpoint is used by OBP API Explorer to display and work with the API documentation.</p>
<p>Most (but not all) fields are also available in swagger format. (The Swagger endpoint is built from Resource Docs.)</p>
<p>API_VERSION is the version you want documentation about e.g. v3.0.0</p>
<p>You may filter this endpoint with tags parameter e.g. ?tags=Account,Bank</p>
<p>You may filter this endpoint with functions parameter e.g. ?functions=enableDisableConsumers,getConnectorMetrics</p>
<p>For possible function values, see implemented_by.function in the JSON returned by this endpoint or the OBP source code or the footer of the API Explorer which produces a comma separated list of functions that reflect the server or filtering by API Explorer based on tags etc.</p>
<p>You may filter this endpoint using the 'content' url parameter, e.g. ?content=dynamic<br />
if set content=dynamic, only show dynamic endpoints, if content=static, only show the static endpoints. if omit this parameter, we will show all the endpoints.</p>
<p>You may need some other language resource docs, now we support en_GB and es_ES at the moment.</p>
<p>You can filter with api-collection-id, but api-collection-id can not be used with others together. If api-collection-id is used in URL, it will ignore all other parameters.</p>
<p>See the Resource Doc endpoint for more information.</p>
<p>Note: Dynamic Resource Docs are cached, TTL is 3600 seconds<br />
Static Resource Docs are cached, TTL is 3600 seconds</p>
<p>Following are more examples:<br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp">https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp?tags=Account,Bank">https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp?tags=Account,Bank</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp?functions=getBanks,bankById">https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp?functions=getBanks,bankById</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp?locale=es_ES">https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp?locale=es_ES</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp?content=static,dynamic,all">https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp?content=static,dynamic,all</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp?api-collection-id=4e866c86-60c3-4268-a221-cb0bbf1ad221">https://apisandbox.openbankproject.com/obp/v4.0.0/resource-docs/v4.0.0/obp?api-collection-id=4e866c86-60c3-4268-a221-cb0bbf1ad221</a></p>
<ul>
<li> operation_id is concatenation of "v", version and function and should be unique (used for DOM element IDs etc. maybe used to link to source code) </li>
<li> version references the version that the API call is defined in.</li>
<li> function is the (scala) partial function that implements this endpoint. It is unique per version of the API.</li>
<li> request_url is empty for the root call, else the path. It contains the standard prefix (e.g. /obp) and the implemented version (the version where this endpoint was defined) e.g. /obp/v1.2.0/resource</li>
<li> specified_url (recommended to use) is empty for the root call, else the path. It contains the standard prefix (e.g. /obp) and the version specified in the call e.g. /obp/v3.1.0/resource. In OBP, endpoints are first made available at the request_url, but the same resource (function call) is often made available under later versions (specified_url). To access the latest version of all endpoints use the latest version available on your OBP instance e.g. /obp/v3.1.0 - To get the original version use the request_url. We recommend to use the specified_url since non semantic improvements are more likely to be applied to later implementations of the call.</li>
<li> summary is a short description inline with the swagger terminology. </li>
<li> description may contain html markup (generated from markdown on the server).</li>
</ul>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#api_version">API_VERSION</a>:</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param apiversion The APIVERSION identifier
 @return ApiOBPv140GetResourceDocsObpRequest
*/
func (a *APIAPIService) OBPv140GetResourceDocsObp(ctx context.Context, apiversion string) ApiOBPv140GetResourceDocsObpRequest {
	return ApiOBPv140GetResourceDocsObpRequest{
		ApiService: a,
		ctx: ctx,
		apiversion: apiversion,
	}
}

// Execute executes the request
func (a *APIAPIService) OBPv140GetResourceDocsObpExecute(r ApiOBPv140GetResourceDocsObpRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv140GetResourceDocsObp")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v1.4.0/resource-docs/{apiversion}/obp"
	localVarPath = strings.Replace(localVarPath, "{"+"apiversion"+"}", url.PathEscape(parameterValueToString(r.apiversion, "apiversion")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOBPv140GetResourceDocsOpenAPI31Request struct {
	ctx context.Context
	ApiService *APIAPIService
	apiversion string
}

func (r ApiOBPv140GetResourceDocsOpenAPI31Request) Execute() (*http.Response, error) {
	return r.ApiService.OBPv140GetResourceDocsOpenAPI31Execute(r)
}

/*
OBPv140GetResourceDocsOpenAPI31 Get OpenAPI 3.1 documentation

<p>Returns documentation about the RESTful resources on this server in OpenAPI 3.1 format.</p>
<p>API_VERSION is the version you want documentation about e.g. v6.0.0</p>
<h2><a href="#query-parameters" id="query-parameters">Query Parameters</a></h2>
<p>You may filter this endpoint using the following optional query parameters:</p>
<p><strong>tags</strong> - Filter by endpoint tags (comma-separated list)<br />
• Example: ?tags=Account,Bank or ?tags=Account-Firehose<br />
• All endpoints are given one or more tags which are used for grouping<br />
• Empty values will return error OBP-10053</p>
<p><strong>functions</strong> - Filter by function names (comma-separated list)<br />
• Example: ?functions=getBanks,bankById<br />
• Each endpoint is implemented in the OBP Scala code by a 'function'<br />
• Empty values will return error OBP-10054</p>
<p><strong>content</strong> - Filter by endpoint type<br />
• Values: static, dynamic, all (case-insensitive)<br />
• static: Only show static/core API endpoints<br />
• dynamic: Only show dynamic/custom endpoints<br />
• all: Show both static and dynamic endpoints (default)<br />
• Invalid values will return error OBP-10052</p>
<p><strong>locale</strong> - Language for localized documentation<br />
• Example: ?locale=en_GB or ?locale=es_ES<br />
• Supported locales: en_GB, es_ES, ro_RO<br />
• Invalid locales will return error OBP-10041</p>
<p><strong>api-collection-id</strong> - Filter by API collection UUID<br />
• Example: ?api-collection-id=4e866c86-60c3-4268-a221-cb0bbf1ad221<br />
• Returns only endpoints belonging to the specified collection<br />
• Empty values will return error OBP-10055</p>
<p>This endpoint generates OpenAPI 3.1 compliant documentation with modern JSON Schema support.</p>
<p>For YAML format, use the corresponding endpoint: /resource-docs/API_VERSION/openapi.yaml</p>
<p>See the Resource Doc endpoint for more information.</p>
<p>Note: Resource Docs are cached, TTL is 3600 seconds</p>
<h2><a href="#examples" id="examples">Examples</a></h2>
<p>Basic usage:<br />
<a href="https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi">https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi</a></p>
<p>Filter by tags:<br />
<a href="https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?tags=Account,Bank">https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?tags=Account,Bank</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?tags=Account-Firehose">https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?tags=Account-Firehose</a></p>
<p>Filter by content type:<br />
<a href="https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?content=static">https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?content=static</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?content=dynamic">https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?content=dynamic</a></p>
<p>Filter by functions:<br />
<a href="https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?functions=getBanks,bankById">https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?functions=getBanks,bankById</a></p>
<p>Combine multiple parameters:<br />
<a href="https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?content=static&amp;tags=Account-Firehose">https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?content=static&amp;tags=Account-Firehose</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?tags=Account,Bank,PSD2&amp;functions=getBanks,bankById">https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?tags=Account,Bank,PSD2&amp;functions=getBanks,bankById</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?content=static&amp;locale=en_GB&amp;tags=Account">https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?content=static&amp;locale=en_GB&amp;tags=Account</a></p>
<p>Filter by API collection:<br />
<a href="https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?api-collection-id=4e866c86-60c3-4268-a221-cb0bbf1ad221">https://apisandbox.openbankproject.com/obp/v6.0.0/resource-docs/v6.0.0/openapi?api-collection-id=4e866c86-60c3-4268-a221-cb0bbf1ad221</a></p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#api_version">API_VERSION</a>:</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param apiversion The APIVERSION identifier
 @return ApiOBPv140GetResourceDocsOpenAPI31Request
*/
func (a *APIAPIService) OBPv140GetResourceDocsOpenAPI31(ctx context.Context, apiversion string) ApiOBPv140GetResourceDocsOpenAPI31Request {
	return ApiOBPv140GetResourceDocsOpenAPI31Request{
		ApiService: a,
		ctx: ctx,
		apiversion: apiversion,
	}
}

// Execute executes the request
func (a *APIAPIService) OBPv140GetResourceDocsOpenAPI31Execute(r ApiOBPv140GetResourceDocsOpenAPI31Request) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv140GetResourceDocsOpenAPI31")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v1.4.0/resource-docs/{apiversion}/openapi"
	localVarPath = strings.Replace(localVarPath, "{"+"apiversion"+"}", url.PathEscape(parameterValueToString(r.apiversion, "apiversion")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOBPv140GetResourceDocsSwaggerRequest struct {
	ctx context.Context
	ApiService *APIAPIService
	apiversion string
}

func (r ApiOBPv140GetResourceDocsSwaggerRequest) Execute() (*http.Response, error) {
	return r.ApiService.OBPv140GetResourceDocsSwaggerExecute(r)
}

/*
OBPv140GetResourceDocsSwagger Get Swagger documentation

<p>Returns documentation about the RESTful resources on this server in Swagger format.</p>
<p>API_VERSION is the version you want documentation about e.g. v3.0.0</p>
<p>You may filter this endpoint using the 'tags' url parameter e.g. ?tags=Account,Bank</p>
<p>(All endpoints are given one or more tags which for used in grouping)</p>
<p>You may filter this endpoint using the 'functions' url parameter e.g. ?functions=getBanks,bankById</p>
<p>(Each endpoint is implemented in the OBP Scala code by a 'function')</p>
<p>See the Resource Doc endpoint for more information.</p>
<p>Note: Resource Docs are cached, TTL is 3600 seconds</p>
<p>Following are more examples:<br />
<a href="https://apisandbox.openbankproject.com/obp/v3.1.0/resource-docs/v3.1.0/swagger">https://apisandbox.openbankproject.com/obp/v3.1.0/resource-docs/v3.1.0/swagger</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v3.1.0/resource-docs/v3.1.0/swagger?tags=Account,Bank">https://apisandbox.openbankproject.com/obp/v3.1.0/resource-docs/v3.1.0/swagger?tags=Account,Bank</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v3.1.0/resource-docs/v3.1.0/swagger?functions=getBanks,bankById">https://apisandbox.openbankproject.com/obp/v3.1.0/resource-docs/v3.1.0/swagger?functions=getBanks,bankById</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v3.1.0/resource-docs/v3.1.0/swagger?tags=Account,Bank,PSD2&amp;functions=getBanks,bankById">https://apisandbox.openbankproject.com/obp/v3.1.0/resource-docs/v3.1.0/swagger?tags=Account,Bank,PSD2&amp;functions=getBanks,bankById</a></p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#api_version">API_VERSION</a>:</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param apiversion The APIVERSION identifier
 @return ApiOBPv140GetResourceDocsSwaggerRequest
*/
func (a *APIAPIService) OBPv140GetResourceDocsSwagger(ctx context.Context, apiversion string) ApiOBPv140GetResourceDocsSwaggerRequest {
	return ApiOBPv140GetResourceDocsSwaggerRequest{
		ApiService: a,
		ctx: ctx,
		apiversion: apiversion,
	}
}

// Execute executes the request
func (a *APIAPIService) OBPv140GetResourceDocsSwaggerExecute(r ApiOBPv140GetResourceDocsSwaggerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv140GetResourceDocsSwagger")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v1.4.0/resource-docs/{apiversion}/swagger"
	localVarPath = strings.Replace(localVarPath, "{"+"apiversion"+"}", url.PathEscape(parameterValueToString(r.apiversion, "apiversion")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOBPv200ElasticSearchMetricsRequest struct {
	ctx context.Context
	ApiService *APIAPIService
}

func (r ApiOBPv200ElasticSearchMetricsRequest) Execute() (*OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage, *http.Response, error) {
	return r.ApiService.OBPv200ElasticSearchMetricsExecute(r)
}

/*
OBPv200ElasticSearchMetrics Search API Metrics via Elasticsearch

<p>Search the API calls made to this API instance via Elastic Search.</p>
<p>Login is required.</p>
<p>CanSearchMetrics entitlement is required to search metrics data.</p>
<p>parameters:</p>
<p>esType  - elasticsearch type</p>
<p>simple query:</p>
<p>q       - plain_text_query</p>
<p>df      - default field to search</p>
<p>sort    - field to sort on</p>
<p>size    - number of hits returned, default 10</p>
<p>from    - show hits starting from</p>
<p>json query:</p>
<p>source  - JSON_query_(URL-escaped)</p>
<p>example usage:</p>
<p>/search/metrics/q=findThis</p>
<p>or:</p>
<p>/search/metrics/source={&quot;query&quot;:{&quot;query_string&quot;:{&quot;query&quot;:&quot;findThis&quot;}}}</p>
<p>Note!!</p>
<p>The whole JSON query string MUST be URL-encoded:</p>
<ul>
<li>For {  use %7B</li>
<li>For }  use %7D</li>
<li>For : use %3A</li>
<li>For &quot; use %22</li>
</ul>
<p>etc..</p>
<p>Only q, source and esType are passed to Elastic</p>
<p>Elastic simple query: <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/search-uri-request.html">https://www.elastic.co/guide/en/elasticsearch/reference/current/search-uri-request.html</a></p>
<p>Elastic JSON query: <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-filter-context.html">https://www.elastic.co/guide/en/elasticsearch/reference/current/query-filter-context.html</a></p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#none">none</a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv200ElasticSearchMetricsRequest
*/
func (a *APIAPIService) OBPv200ElasticSearchMetrics(ctx context.Context) ApiOBPv200ElasticSearchMetricsRequest {
	return ApiOBPv200ElasticSearchMetricsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage
func (a *APIAPIService) OBPv200ElasticSearchMetricsExecute(r ApiOBPv200ElasticSearchMetricsRequest) (*OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv200ElasticSearchMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v2.0.0/search/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv220GetConnectorMetricsRequest struct {
	ctx context.Context
	ApiService *APIAPIService
}

func (r ApiOBPv220GetConnectorMetricsRequest) Execute() (*OBPv220GetConnectorMetrics200Response, *http.Response, error) {
	return r.ApiService.OBPv220GetConnectorMetricsExecute(r)
}

/*
OBPv220GetConnectorMetrics Get Connector Metrics

<p>Get the all metrics</p>
<p>require CanGetConnectorMetrics role</p>
<p>Filters Part 1.<em>filtering</em> (no wilde cards etc.) parameters to GET /management/connector/metrics</p>
<p>Should be able to filter on the following metrics fields</p>
<p>eg: /management/connector/metrics?from_date=1100-01-01T01:01:01.000Z&amp;to_date=1100-01-01T01:01:01.000Z&amp;limit=50&amp;offset=2</p>
<p>1 from_date (defaults to one week before current date): eg:from_date=1100-01-01T01:01:01.000Z</p>
<p>2 to_date (defaults to current date) eg:to_date=1100-01-01T01:01:01.000Z</p>
<p>3 limit (for pagination: defaults to 1000)  eg:limit=2000</p>
<p>4 offset (for pagination: zero index, defaults to 0) eg: offset=10</p>
<p>eg: /management/connector/metrics?from_date=1100-01-01T01:01:01.000Z&amp;to_date=1100-01-01T01:01:01.000Z&amp;limit=100&amp;offset=300</p>
<p>Other filters:</p>
<p>5 connector_name  (if null ignore)</p>
<p>6 function_name (if null ignore)</p>
<p>7 correlation_id (if null ignore)</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#connector_name"><strong>connector_name</strong></a>:</p>
<p><a href="/glossary#"><strong>correlation_id</strong></a>: 1flssoftxq0cr1nssr68u0mioj</p>
<p><a href="/glossary#"><strong>date</strong></a>: 2020-01-27</p>
<p><a href="/glossary#duration"><strong>duration</strong></a>: 5.123</p>
<p><a href="/glossary#function_name"><strong>function_name</strong></a>:</p>
<p><a href="/glossary#metrics"><strong>metrics</strong></a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv220GetConnectorMetricsRequest
*/
func (a *APIAPIService) OBPv220GetConnectorMetrics(ctx context.Context) ApiOBPv220GetConnectorMetricsRequest {
	return ApiOBPv220GetConnectorMetricsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv220GetConnectorMetrics200Response
func (a *APIAPIService) OBPv220GetConnectorMetricsExecute(r ApiOBPv220GetConnectorMetricsRequest) (*OBPv220GetConnectorMetrics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv220GetConnectorMetrics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv220GetConnectorMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v2.2.0/management/connector/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv220GetMessageDocsRequest struct {
	ctx context.Context
	ApiService *APIAPIService
	connector string
}

func (r ApiOBPv220GetMessageDocsRequest) Execute() (*OBPv220GetMessageDocs200Response, *http.Response, error) {
	return r.ApiService.OBPv220GetMessageDocsExecute(r)
}

/*
OBPv220GetMessageDocs Get Message Docs

<p>These message docs provide example messages sent by OBP to the (RabbitMq) message queue for processing by the Core Banking / Payment system Adapter - together with an example expected response and possible error codes.<br />
Integrators can use these messages to build Adapters that provide core banking services to OBP.</p>
<p>Note: API Explorer provides a Message Docs page where these messages are displayed.</p>
<p><code>CONNECTOR</code>: rest_vMar2019, stored_procedure_vDec2019 ...</p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Connector">CONNECTOR</a>: CONNECTOR</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#adapter_implementation"><strong>adapter_implementation</strong></a>:</p>
<p><a href="/glossary#dependent_endpoints"><strong>dependent_endpoints</strong></a>:</p>
<p><a href="/glossary#description"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p>
<p><a href="/glossary#example_inbound_message"><strong>example_inbound_message</strong></a>: {}</p>
<p><a href="/glossary#example_outbound_message"><strong>example_outbound_message</strong></a>: {}</p>
<p><a href="/glossary#group"><strong>group</strong></a>:</p>
<p><a href="/glossary#message_docs"><strong>message_docs</strong></a>:</p>
<p><a href="/glossary#message_format"><strong>message_format</strong></a>:</p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#process"><strong>process</strong></a>: obp.getBank</p>
<p><a href="/glossary#suggested_order"><strong>suggested_order</strong></a>:</p>
<p><a href="/glossary#version"><strong>version</strong></a>:</p>
<p><a href="/glossary#inboundavroschema">inboundAvroSchema</a>:</p>
<p><a href="/glossary#inbound_topic">inbound_topic</a>:</p>
<p><a href="/glossary#outboundavroschema">outboundAvroSchema</a>:</p>
<p><a href="/glossary#outbound_topic">outbound_topic</a>:</p>
<p><a href="/glossary#requiredfieldinfo">requiredFieldInfo</a>: false</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connector The CONNECTOR identifier
 @return ApiOBPv220GetMessageDocsRequest
*/
func (a *APIAPIService) OBPv220GetMessageDocs(ctx context.Context, connector string) ApiOBPv220GetMessageDocsRequest {
	return ApiOBPv220GetMessageDocsRequest{
		ApiService: a,
		ctx: ctx,
		connector: connector,
	}
}

// Execute executes the request
//  @return OBPv220GetMessageDocs200Response
func (a *APIAPIService) OBPv220GetMessageDocsExecute(r ApiOBPv220GetMessageDocsRequest) (*OBPv220GetMessageDocs200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv220GetMessageDocs200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv220GetMessageDocs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v2.2.0/message-docs/{connector}"
	localVarPath = strings.Replace(localVarPath, "{"+"connector"+"}", url.PathEscape(parameterValueToString(r.connector, "connector")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv300GetAdapterInfoForBankRequest struct {
	ctx context.Context
	ApiService *APIAPIService
	bankid string
}

func (r ApiOBPv300GetAdapterInfoForBankRequest) Execute() (*OBPv400GetMapperDatabaseInfo200Response, *http.Response, error) {
	return r.ApiService.OBPv300GetAdapterInfoForBankExecute(r)
}

/*
OBPv300GetAdapterInfoForBank Get Adapter Info for a bank

<p>Get basic information about the Adapter listening on behalf of this bank.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Bank.bank_id">BANK_ID</a>: gh.29.uk</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>date</strong></a>: 2020-01-27</p>
<p><a href="/glossary#"><strong>git_commit</strong></a>: 59623811dd8a41f6ffe67be46954eee11913dc28</p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#version"><strong>version</strong></a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankid The BANKID identifier
 @return ApiOBPv300GetAdapterInfoForBankRequest
*/
func (a *APIAPIService) OBPv300GetAdapterInfoForBank(ctx context.Context, bankid string) ApiOBPv300GetAdapterInfoForBankRequest {
	return ApiOBPv300GetAdapterInfoForBankRequest{
		ApiService: a,
		ctx: ctx,
		bankid: bankid,
	}
}

// Execute executes the request
//  @return OBPv400GetMapperDatabaseInfo200Response
func (a *APIAPIService) OBPv300GetAdapterInfoForBankExecute(r ApiOBPv300GetAdapterInfoForBankRequest) (*OBPv400GetMapperDatabaseInfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv400GetMapperDatabaseInfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv300GetAdapterInfoForBank")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.0.0/banks/{bankid}/adapter"
	localVarPath = strings.Replace(localVarPath, "{"+"bankid"+"}", url.PathEscape(parameterValueToString(r.bankid, "bankid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310ConfigRequest struct {
	ctx context.Context
	ApiService *APIAPIService
}

func (r ApiOBPv310ConfigRequest) Execute() (*OBPv310Config200Response, *http.Response, error) {
	return r.ApiService.OBPv310ConfigExecute(r)
}

/*
OBPv310Config Get API Configuration

<p>Returns information about:</p>
<ul>
<li>The default bank_id</li>
<li>Akka configuration</li>
<li>Elastic Search configuration</li>
<li>Cached functions</li>
</ul>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#akka"><strong>akka</strong></a>:</p>
<p><a href="/glossary#cache"><strong>cache</strong></a>:</p>
<p><a href="/glossary#elastic_search"><strong>elastic_search</strong></a>:</p>
<p><a href="/glossary#function_name"><strong>function_name</strong></a>:</p>
<p><a href="/glossary#log_level"><strong>log_level</strong></a>:</p>
<p><a href="/glossary#metrics"><strong>metrics</strong></a>:</p>
<p><a href="/glossary#ports"><strong>ports</strong></a>:</p>
<p><a href="/glossary#property"><strong>property</strong></a>:</p>
<p><a href="/glossary#require_scopes_for_all_roles"><strong>require_scopes_for_all_roles</strong></a>:</p>
<p><a href="/glossary#require_scopes_for_listed_roles"><strong>require_scopes_for_listed_roles</strong></a>: false</p>
<p><a href="/glossary#scopes"><strong>scopes</strong></a>:</p>
<p><a href="/glossary#ttl_in_seconds"><strong>ttl_in_seconds</strong></a>:</p>
<p><a href="/glossary#"><strong>value</strong></a>: 5987953</p>
<p><a href="/glossary#warehouse"><strong>warehouse</strong></a>:</p>
<p><a href="/glossary#">remote_data_secret_matched</a>: remote_data_secret_matched</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv310ConfigRequest
*/
func (a *APIAPIService) OBPv310Config(ctx context.Context) ApiOBPv310ConfigRequest {
	return ApiOBPv310ConfigRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv310Config200Response
func (a *APIAPIService) OBPv310ConfigExecute(r ApiOBPv310ConfigRequest) (*OBPv310Config200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv310Config200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv310Config")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310CreateMethodRoutingRequest struct {
	ctx context.Context
	ApiService *APIAPIService
	oBPv310CreateMethodRoutingRequest *OBPv310CreateMethodRoutingRequest
}

// Request body
func (r ApiOBPv310CreateMethodRoutingRequest) OBPv310CreateMethodRoutingRequest(oBPv310CreateMethodRoutingRequest OBPv310CreateMethodRoutingRequest) ApiOBPv310CreateMethodRoutingRequest {
	r.oBPv310CreateMethodRoutingRequest = &oBPv310CreateMethodRoutingRequest
	return r
}

func (r ApiOBPv310CreateMethodRoutingRequest) Execute() (*OBPv310GetMethodRoutings200ResponsePropertiesMethodRoutingsItems, *http.Response, error) {
	return r.ApiService.OBPv310CreateMethodRoutingExecute(r)
}

/*
OBPv310CreateMethodRouting Create MethodRouting

<p>Create a MethodRouting.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>Explanation of Fields:</p>
<ul>
<li>method_name is required String value, current supported value: [mapped]</li>
<li>connector_name is required String value</li>
<li>is_bank_id_exact_match is required boolean value, if bank_id_pattern is exact bank_id value, this value is true; if bank_id_pattern is null or a regex, this value is false</li>
<li>bank_id_pattern is optional String value, it can be null, a exact bank_id or a regex</li>
<li>parameters is optional array of key value pairs. You can set some parameters for this method</li>
</ul>
<p>note and CAVEAT!:</p>
<ul>
<li>bank_id_pattern has to be empty for methods that do not take bank_id as a function parameter, otherwise might get empty result</li>
<li>methods that aggregate bank objects (e.g. getBankAccountsForUser) have to take any  existing method routings for these objects into consideration</li>
<li>so if you create e.g. a bank specific method routing for getting an account, make sure that it is also served by endpoints getting ALL accounts for ALL banks</li>
<li>if bank_id_pattern is regex, special characters need to do escape, for example: bank_id_pattern = &quot;some-id_pattern_\d+&quot;</li>
</ul>
<p>If the connector name starts with rest, parameters can contain &quot;outBoundMapping&quot; and &quot;inBoundMapping&quot;, convert OutBound and InBound json structure.<br />
for example:<br />
outBoundMapping example, convert json from source to target:<br />
<img src="https://user-images.githubusercontent.com/2577334/75248007-33332e00-580e-11ea-8d2a-d1856035fa24.png" alt="Snipaste_outBoundMapping" /><br />
Build OutBound json value rules:<br />
1 set cId value with: outboundAdapterCallContext.correlationId value<br />
2 set bankId value with: concat bankId.value value with  string helloworld<br />
3 set originalJson value with: whole source json, note: the field value expression is $root</p>
<p>inBoundMapping example, convert json from source to target:<br />
<img src="https://user-images.githubusercontent.com/2577334/75248199-a9d02b80-580e-11ea-9238-e073264e9170.png" alt="inBoundMapping" /><br />
Build InBound json value rules:<br />
1 and 2 set inboundAdapterCallContext and status value: because field name ends with &quot;$default&quot;, remove &quot;$default&quot; from field name, not change the value<br />
3 set fullName value with: concat string full: with result.name value<br />
4 set bankRoutingScheme value: because source value is Array, but target value is not Array, the mapping field name must ends with [0].</p>
<p><strong>JSON request body fields:</strong></p>
<p><a href="/glossary#"><strong>key</strong></a>: CustomerNumber</p>
<p><a href="/glossary#parameters"><strong>parameters</strong></a>:</p>
<p><a href="/glossary#"><strong>value</strong></a>: 5987953</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>key</strong></a>: CustomerNumber</p>
<p><a href="/glossary#parameters"><strong>parameters</strong></a>:</p>
<p><a href="/glossary#"><strong>value</strong></a>: 5987953</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv310CreateMethodRoutingRequest
*/
func (a *APIAPIService) OBPv310CreateMethodRouting(ctx context.Context) ApiOBPv310CreateMethodRoutingRequest {
	return ApiOBPv310CreateMethodRoutingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv310GetMethodRoutings200ResponsePropertiesMethodRoutingsItems
func (a *APIAPIService) OBPv310CreateMethodRoutingExecute(r ApiOBPv310CreateMethodRoutingRequest) (*OBPv310GetMethodRoutings200ResponsePropertiesMethodRoutingsItems, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv310GetMethodRoutings200ResponsePropertiesMethodRoutingsItems
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv310CreateMethodRouting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/management/method_routings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oBPv310CreateMethodRoutingRequest == nil {
		return localVarReturnValue, nil, reportError("oBPv310CreateMethodRoutingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.oBPv310CreateMethodRoutingRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310DeleteMethodRoutingRequest struct {
	ctx context.Context
	ApiService *APIAPIService
	methodroutingid string
}

func (r ApiOBPv310DeleteMethodRoutingRequest) Execute() (*http.Response, error) {
	return r.ApiService.OBPv310DeleteMethodRoutingExecute(r)
}

/*
OBPv310DeleteMethodRouting Delete MethodRouting

<p>Delete a MethodRouting specified by METHOD_ROUTING_ID.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#method_routing_id">METHOD_ROUTING_ID</a>:</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param methodroutingid The METHODROUTINGID identifier
 @return ApiOBPv310DeleteMethodRoutingRequest
*/
func (a *APIAPIService) OBPv310DeleteMethodRouting(ctx context.Context, methodroutingid string) ApiOBPv310DeleteMethodRoutingRequest {
	return ApiOBPv310DeleteMethodRoutingRequest{
		ApiService: a,
		ctx: ctx,
		methodroutingid: methodroutingid,
	}
}

// Execute executes the request
func (a *APIAPIService) OBPv310DeleteMethodRoutingExecute(r ApiOBPv310DeleteMethodRoutingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv310DeleteMethodRouting")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/management/method_routings/{methodroutingid}"
	localVarPath = strings.Replace(localVarPath, "{"+"methodroutingid"+"}", url.PathEscape(parameterValueToString(r.methodroutingid, "methodroutingid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOBPv310GetMessageDocsSwaggerRequest struct {
	ctx context.Context
	ApiService *APIAPIService
	connector string
}

func (r ApiOBPv310GetMessageDocsSwaggerRequest) Execute() (*http.Response, error) {
	return r.ApiService.OBPv310GetMessageDocsSwaggerExecute(r)
}

/*
OBPv310GetMessageDocsSwagger Get Message Docs Swagger

<p>This endpoint provides example message docs in swagger format.<br />
It is only relavent for REST Connectors.</p>
<p>This endpoint can be used by the developer building a REST Adapter that connects to the Core Banking System (CBS).<br />
That is, the Adapter developer can use the Swagger surfaced here to build the REST APIs that the OBP REST connector will call to consume CBS services.</p>
<p>i.e.:</p>
<p>OBP API (Core OBP API code) -&gt; OBP REST Connector (OBP REST Connector code) -&gt; OBP REST Adapter (Adapter developer code) -&gt; CBS (Main Frame)</p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Connector">CONNECTOR</a>: CONNECTOR</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connector The CONNECTOR identifier
 @return ApiOBPv310GetMessageDocsSwaggerRequest
*/
func (a *APIAPIService) OBPv310GetMessageDocsSwagger(ctx context.Context, connector string) ApiOBPv310GetMessageDocsSwaggerRequest {
	return ApiOBPv310GetMessageDocsSwaggerRequest{
		ApiService: a,
		ctx: ctx,
		connector: connector,
	}
}

// Execute executes the request
func (a *APIAPIService) OBPv310GetMessageDocsSwaggerExecute(r ApiOBPv310GetMessageDocsSwaggerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv310GetMessageDocsSwagger")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/message-docs/{connector}/swagger2.0"
	localVarPath = strings.Replace(localVarPath, "{"+"connector"+"}", url.PathEscape(parameterValueToString(r.connector, "connector")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOBPv310GetMethodRoutingsRequest struct {
	ctx context.Context
	ApiService *APIAPIService
}

func (r ApiOBPv310GetMethodRoutingsRequest) Execute() (*OBPv310GetMethodRoutings200Response, *http.Response, error) {
	return r.ApiService.OBPv310GetMethodRoutingsExecute(r)
}

/*
OBPv310GetMethodRoutings Get MethodRoutings

<p>Get the all MethodRoutings.</p>
<p>Query url parameters:</p>
<ul>
<li>method_name: filter with method_name</li>
<li>active: if active = true, it will show all the webui_ props. Even if they are set yet, we will return all the default webui_ props</li>
</ul>
<p>eg:<br />
<a href="https://apisandbox.openbankproject.com/obp/v3.1.0/management/method_routings?active=true">https://apisandbox.openbankproject.com/obp/v3.1.0/management/method_routings?active=true</a><br />
<a href="https://apisandbox.openbankproject.com/obp/v3.1.0/management/method_routings?method_name=getBank">https://apisandbox.openbankproject.com/obp/v3.1.0/management/method_routings?method_name=getBank</a></p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>key</strong></a>: CustomerNumber</p>
<p><a href="/glossary#parameters"><strong>parameters</strong></a>:</p>
<p><a href="/glossary#"><strong>value</strong></a>: 5987953</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv310GetMethodRoutingsRequest
*/
func (a *APIAPIService) OBPv310GetMethodRoutings(ctx context.Context) ApiOBPv310GetMethodRoutingsRequest {
	return ApiOBPv310GetMethodRoutingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv310GetMethodRoutings200Response
func (a *APIAPIService) OBPv310GetMethodRoutingsExecute(r ApiOBPv310GetMethodRoutingsRequest) (*OBPv310GetMethodRoutings200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv310GetMethodRoutings200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv310GetMethodRoutings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/management/method_routings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310GetOAuth2ServerJWKsURIsRequest struct {
	ctx context.Context
	ApiService *APIAPIService
}

func (r ApiOBPv310GetOAuth2ServerJWKsURIsRequest) Execute() (*OBPv310GetOAuth2ServerJWKsURIs200Response, *http.Response, error) {
	return r.ApiService.OBPv310GetOAuth2ServerJWKsURIsExecute(r)
}

/*
OBPv310GetOAuth2ServerJWKsURIs Get JSON Web Key (JWK) URIs

<p>Get the OAuth2 server's public JSON Web Key (JWK) URIs.<br />
It is required by client applications to validate ID tokens, self-contained access tokens and other issued objects.</p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#jwks_uri"><strong>jwks_uri</strong></a>:</p>
<p><a href="/glossary#jwks_uris"><strong>jwks_uris</strong></a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv310GetOAuth2ServerJWKsURIsRequest
*/
func (a *APIAPIService) OBPv310GetOAuth2ServerJWKsURIs(ctx context.Context) ApiOBPv310GetOAuth2ServerJWKsURIsRequest {
	return ApiOBPv310GetOAuth2ServerJWKsURIsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv310GetOAuth2ServerJWKsURIs200Response
func (a *APIAPIService) OBPv310GetOAuth2ServerJWKsURIsExecute(r ApiOBPv310GetOAuth2ServerJWKsURIsRequest) (*OBPv310GetOAuth2ServerJWKsURIs200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv310GetOAuth2ServerJWKsURIs200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv310GetOAuth2ServerJWKsURIs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/jwks-uris"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310GetObpConnectorLoopbackRequest struct {
	ctx context.Context
	ApiService *APIAPIService
}

func (r ApiOBPv310GetObpConnectorLoopbackRequest) Execute() (*OBPv310GetObpConnectorLoopback200Response, *http.Response, error) {
	return r.ApiService.OBPv310GetObpConnectorLoopbackExecute(r)
}

/*
OBPv310GetObpConnectorLoopback Get Connector Status (Loopback)

<p>This endpoint makes a call to the Connector to check the backend transport is reachable. (Deprecated)</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#connector_version"><strong>connector_version</strong></a>:</p>
<p><a href="/glossary#duration_time"><strong>duration_time</strong></a>: 60</p>
<p><a href="/glossary#"><strong>git_commit</strong></a>: 59623811dd8a41f6ffe67be46954eee11913dc28</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv310GetObpConnectorLoopbackRequest
*/
func (a *APIAPIService) OBPv310GetObpConnectorLoopback(ctx context.Context) ApiOBPv310GetObpConnectorLoopbackRequest {
	return ApiOBPv310GetObpConnectorLoopbackRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv310GetObpConnectorLoopback200Response
func (a *APIAPIService) OBPv310GetObpConnectorLoopbackExecute(r ApiOBPv310GetObpConnectorLoopbackRequest) (*OBPv310GetObpConnectorLoopback200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv310GetObpConnectorLoopback200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv310GetObpConnectorLoopback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/connector/loopback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310GetRateLimitingInfoRequest struct {
	ctx context.Context
	ApiService *APIAPIService
}

func (r ApiOBPv310GetRateLimitingInfoRequest) Execute() (*OBPv310GetRateLimitingInfo200Response, *http.Response, error) {
	return r.ApiService.OBPv310GetRateLimitingInfoExecute(r)
}

/*
OBPv310GetRateLimitingInfo Get Rate Limiting Info

<p>Get information about the Rate Limiting setup on this OBP Instance such as:</p>
<p>Is rate limiting enabled and active?<br />
What backend is used to keep track of the API calls (e.g. REDIS).</p>
<p>Note: Rate limiting can be set at the Consumer level and also for anonymous calls.</p>
<p>See the consumer rate limits / call limits endpoints.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#enabled"><strong>enabled</strong></a>: false</p>
<p><a href="/glossary#is_active"><strong>is_active</strong></a>: false</p>
<p><a href="/glossary#service_available"><strong>service_available</strong></a>:</p>
<p><a href="/glossary#technology"><strong>technology</strong></a>: technology1</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv310GetRateLimitingInfoRequest
*/
func (a *APIAPIService) OBPv310GetRateLimitingInfo(ctx context.Context) ApiOBPv310GetRateLimitingInfoRequest {
	return ApiOBPv310GetRateLimitingInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv310GetRateLimitingInfo200Response
func (a *APIAPIService) OBPv310GetRateLimitingInfoExecute(r ApiOBPv310GetRateLimitingInfoRequest) (*OBPv310GetRateLimitingInfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv310GetRateLimitingInfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv310GetRateLimitingInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/rate-limiting"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310GetServerJWKRequest struct {
	ctx context.Context
	ApiService *APIAPIService
}

func (r ApiOBPv310GetServerJWKRequest) Execute() (*OBPv310GetServerJWK200Response, *http.Response, error) {
	return r.ApiService.OBPv310GetServerJWKExecute(r)
}

/*
OBPv310GetServerJWK Get JSON Web Key (JWK)

<p>Get the server's public JSON Web Key (JWK) set and certificate chain.<br />
It is required by client applications to validate ID tokens, self-contained access tokens and other issued objects.</p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#e"><strong>e</strong></a>:</p>
<p><a href="/glossary#kid"><strong>kid</strong></a>:</p>
<p><a href="/glossary#kty"><strong>kty</strong></a>:</p>
<p><a href="/glossary#n"><strong>n</strong></a>:</p>
<p><a href="/glossary#use"><strong>use</strong></a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv310GetServerJWKRequest
*/
func (a *APIAPIService) OBPv310GetServerJWK(ctx context.Context) ApiOBPv310GetServerJWKRequest {
	return ApiOBPv310GetServerJWKRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv310GetServerJWK200Response
func (a *APIAPIService) OBPv310GetServerJWKExecute(r ApiOBPv310GetServerJWKRequest) (*OBPv310GetServerJWK200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv310GetServerJWK200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIAPIService.OBPv310GetServerJWK")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/certs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310UpdateMethodRoutingRequest struct {
	ctx context.Context
	ApiService *APIAPIService
	methodroutingid string
	oBPv310CreateMethodRoutingRequest *OBPv310CreateMethodRoutingRequest
}

// Request body
func (r ApiOBPv310UpdateMethodRoutingRequest) OBPv310CreateMethodRoutingRequest(oBPv310CreateMethodRoutingRequest OBPv310CreateMethodRoutingRequest) ApiOBPv310UpdateMethodRoutingRequest {
	r.oBPv310CreateMethodRoutingRequest = &oBPv310CreateMethodRoutingRequest
	return r
}

func (r ApiOBPv310UpdateMethodRoutingRequest) Execute() (*OBPv310GetMethodRoutings200ResponsePropertiesMethodRoutingsItems, *http.Response, error) {
	return r.ApiService.OBPv310UpdateMethodRoutingExecute(r)
}

/*
OBPv310UpdateMethodRouting Update MethodRouting

<p>Update a MethodRouting.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>Explaination of Fields:</p>
<ul>
<li>method_name is required String value, current supported value: [mapped]</li>
<li>connector_name is required String value</li>
<li>is_bank_id_exact_match is required boolean value, if bank_id_pattern is exact bank_id value, this value is true; if bank_id_pattern is null or a regex, this value is false</li>
<li>bank_id_pattern is optional String value, it can be null, a exact bank_id or a regex</li>
<li>parameters is optional array of key value pairs. You can set some paremeters for this method<br />
note:</li>
<li>
<p>if bank_id_pattern is regex, special characters need to do escape, for example: bank_id_pattern = &quot;some-id_pattern_\d+&quot;</p>
</li>
</ul>
<p>If connector name start with rest, parameters can contain &quot;outBoundMapping&quot; and &quot;inBoundMapping&quot;, to convert OutBound and InBound json structure.<br />
for example:<br />
outBoundMapping example, convert json from source to target:<br />
<img src="https://user-images.githubusercontent.com/2577334/75248007-33332e00-580e-11ea-8d2a-d1856035fa24.png" alt="Snipaste_outBoundMapping" /><br />
Build OutBound json value rules:<br />
1 set cId value with: outboundAdapterCallContext.correlationId value<br />
2 set bankId value with: concat bankId.value value with  string helloworld<br />
3 set originalJson value with: whole source json, note: the field value expression is $root</p>
<p>inBoundMapping example, convert json from source to target:<br />
<img src="https://user-images.githubusercontent.com/2577334/75248199-a9d02b80-580e-11ea-9238-e073264e9170.png" alt="inBoundMapping" /><br />
Build InBound json value rules:<br />
1 and 2 set inboundAdapterCallContext and status value: because field name ends with &quot;$default&quot;, remove &quot;$default&quot; from field name, not change the value<br />
3 set fullName value with: concat string full: with result.name value<br />
4 set bankRoutingScheme value: because source value is Array, but target value is not Array, the mapping field name must ends with [0].</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#method_routing_id">METHOD_ROUTING_ID</a>:</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>key</strong></a>: CustomerNumber</p>
<p><a href="/glossary#parameters"><strong>parameters</strong></a>:</p>
<p><a href="/glossary#"><strong>value</strong></a>: 5987953</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param methodroutingid The METHODROUTINGID identifier
 @return ApiOBPv310UpdateMethodRoutingRequest
*/
func (a *APIAPIService) OBPv310UpdateMethodRouting(ctx context.Context, methodroutingid string) ApiOBPv310UpdateMethodRoutingRequest {
	return ApiOBPv310UpdateMethodRoutingRequest{
		ApiService: a,
		ctx: ctx,
		methodroutingid: methodroutingid,
	}
}

// Execute executes the request
//  @return OBPv310GetMethodRoutings200ResponsePropertiesMethodRoutingsItems
[...]
