/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ConnectorMethodAPIService ConnectorMethodAPI service
type ConnectorMethodAPIService service

type ApiOBPv400CreateConnectorMethodRequest struct {
	ctx context.Context
	ApiService *ConnectorMethodAPIService
	oBPv400CreateConnectorMethodRequest *OBPv400CreateConnectorMethodRequest
}

// Request body
func (r ApiOBPv400CreateConnectorMethodRequest) OBPv400CreateConnectorMethodRequest(oBPv400CreateConnectorMethodRequest OBPv400CreateConnectorMethodRequest) ApiOBPv400CreateConnectorMethodRequest {
	r.oBPv400CreateConnectorMethodRequest = &oBPv400CreateConnectorMethodRequest
	return r
}

func (r ApiOBPv400CreateConnectorMethodRequest) Execute() (*OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems, *http.Response, error) {
	return r.ApiService.OBPv400CreateConnectorMethodExecute(r)
}

/*
OBPv400CreateConnectorMethod Create Connector Method

<p>Create an internal connector.</p>
<p>The method_body is URL-encoded format String</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON request body fields:</strong></p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv400CreateConnectorMethodRequest
*/
func (a *ConnectorMethodAPIService) OBPv400CreateConnectorMethod(ctx context.Context) ApiOBPv400CreateConnectorMethodRequest {
	return ApiOBPv400CreateConnectorMethodRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems
func (a *ConnectorMethodAPIService) OBPv400CreateConnectorMethodExecute(r ApiOBPv400CreateConnectorMethodRequest) (*OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorMethodAPIService.OBPv400CreateConnectorMethod")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v4.0.0/management/connector-methods"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oBPv400CreateConnectorMethodRequest == nil {
		return localVarReturnValue, nil, reportError("oBPv400CreateConnectorMethodRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.oBPv400CreateConnectorMethodRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv400GetAllConnectorMethodsRequest struct {
	ctx context.Context
	ApiService *ConnectorMethodAPIService
}

func (r ApiOBPv400GetAllConnectorMethodsRequest) Execute() (*OBPv400GetAllConnectorMethods200Response, *http.Response, error) {
	return r.ApiService.OBPv400GetAllConnectorMethodsExecute(r)
}

/*
OBPv400GetAllConnectorMethods Get all Connector Methods

<p>Get all Connector Methods.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv400GetAllConnectorMethodsRequest
*/
func (a *ConnectorMethodAPIService) OBPv400GetAllConnectorMethods(ctx context.Context) ApiOBPv400GetAllConnectorMethodsRequest {
	return ApiOBPv400GetAllConnectorMethodsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv400GetAllConnectorMethods200Response
func (a *ConnectorMethodAPIService) OBPv400GetAllConnectorMethodsExecute(r ApiOBPv400GetAllConnectorMethodsRequest) (*OBPv400GetAllConnectorMethods200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv400GetAllConnectorMethods200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorMethodAPIService.OBPv400GetAllConnectorMethods")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v4.0.0/management/connector-methods"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv400GetConnectorMethodRequest struct {
	ctx context.Context
	ApiService *ConnectorMethodAPIService
	connectormethodid string
}

func (r ApiOBPv400GetConnectorMethodRequest) Execute() (*OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems, *http.Response, error) {
	return r.ApiService.OBPv400GetConnectorMethodExecute(r)
}

/*
OBPv400GetConnectorMethod Get Connector Method by Id

<p>Get an internal connector by CONNECTOR_METHOD_ID.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CONNECTOR_METHOD_ID</a>: ace0352a-9a0f-4bfa-b30b-9003aa467f51</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectormethodid The CONNECTORMETHODID identifier
 @return ApiOBPv400GetConnectorMethodRequest
*/
func (a *ConnectorMethodAPIService) OBPv400GetConnectorMethod(ctx context.Context, connectormethodid string) ApiOBPv400GetConnectorMethodRequest {
	return ApiOBPv400GetConnectorMethodRequest{
		ApiService: a,
		ctx: ctx,
		connectormethodid: connectormethodid,
	}
}

// Execute executes the request
//  @return OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems
func (a *ConnectorMethodAPIService) OBPv400GetConnectorMethodExecute(r ApiOBPv400GetConnectorMethodRequest) (*OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorMethodAPIService.OBPv400GetConnectorMethod")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v4.0.0/management/connector-methods/{connectormethodid}"
	localVarPath = strings.Replace(localVarPath, "{"+"connectormethodid"+"}", url.PathEscape(parameterValueToString(r.connectormethodid, "connectormethodid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv400UpdateConnectorMethodRequest struct {
	ctx context.Context
	ApiService *ConnectorMethodAPIService
	connectormethodid string
	oBPv400UpdateConnectorMethodRequest *OBPv400UpdateConnectorMethodRequest
}

// Request body
func (r ApiOBPv400UpdateConnectorMethodRequest) OBPv400UpdateConnectorMethodRequest(oBPv400UpdateConnectorMethodRequest OBPv400UpdateConnectorMethodRequest) ApiOBPv400UpdateConnectorMethodRequest {
	r.oBPv400UpdateConnectorMethodRequest = &oBPv400UpdateConnectorMethodRequest
	return r
}

func (r ApiOBPv400UpdateConnectorMethodRequest) Execute() (*OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems, *http.Response, error) {
	return r.ApiService.OBPv400UpdateConnectorMethodExecute(r)
}

/*
OBPv400UpdateConnectorMethod Update Connector Method

<p>Update an internal connector.</p>
<p>The method_body is URL-encoded format String</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CONNECTOR_METHOD_ID</a>: ace0352a-9a0f-4bfa-b30b-9003aa467f51</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectormethodid The CONNECTORMETHODID identifier
 @return ApiOBPv400UpdateConnectorMethodRequest
*/
func (a *ConnectorMethodAPIService) OBPv400UpdateConnectorMethod(ctx context.Context, connectormethodid string) ApiOBPv400UpdateConnectorMethodRequest {
	return ApiOBPv400UpdateConnectorMethodRequest{
		ApiService: a,
		ctx: ctx,
		connectormethodid: connectormethodid,
	}
}

// Execute executes the request
//  @return OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems
func (a *ConnectorMethodAPIService) OBPv400UpdateConnectorMethodExecute(r ApiOBPv400UpdateConnectorMethodRequest) (*OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorMethodAPIService.OBPv400UpdateConnectorMethod")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v4.0.0/management/connector-methods/{connectormethodid}"
	localVarPath = strings.Replace(localVarPath, "{"+"connectormethodid"+"}", url.PathEscape(parameterValueToString(r.connectormethodid, "connectormethodid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oBPv400UpdateConnectorMethodRequest == nil {
		return localVarReturnValue, nil, reportError("oBPv400UpdateConnectorMethodRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.oBPv400UpdateConnectorMethodRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetConnectorMethodNamesRequest struct {
	ctx context.Context
	ApiService *ConnectorMethodAPIService
}

func (r ApiOBPv600GetConnectorMethodNamesRequest) Execute() (*OBPv600GetConnectorMethodNames200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetConnectorMethodNamesExecute(r)
}

/*
OBPv600GetConnectorMethodNames Get Connector Method Names

<p>Get the list of all available connector method names.</p>
<p>These are the method names that can be used in Method Routing configuration.</p>
<h2><a href="#data-source" id="data-source">Data Source</a></h2>
<p>The data comes from <strong>scanning the actual Scala connector code at runtime</strong> using reflection, NOT from a database or configuration file.</p>
<p>The endpoint:<br />
1. Reads the connector name from props (e.g., <code>connector=mapped</code>)<br />
2. Gets the connector instance (e.g., LocalMappedConnector, KafkaConnector, StarConnector)<br />
3. Uses Scala reflection to scan all public methods that override the base Connector trait<br />
4. Filters for valid connector methods (public, has parameters, overrides base trait)<br />
5. Returns the method names as a sorted list</p>
<h2><a href="#which-connector" id="which-connector">Which Connector?</a></h2>
<p>Depends on your <code>connector</code> property:<br />
* <code>connector=mapped</code> → Returns methods from LocalMappedConnector<br />
* <code>connector=kafka_vSept2018</code> → Returns methods from KafkaConnector<br />
* <code>connector=star</code> → Returns methods from StarConnector<br />
* <code>connector=rest_vMar2019</code> → Returns methods from RestConnector</p>
<h2><a href="#when-does-it-change" id="when-does-it-change">When Does It Change?</a></h2>
<p>The list only changes when:<br />
* Code is deployed with new/modified connector methods<br />
* The <code>connector</code> property is changed to point to a different connector</p>
<h2><a href="#performance" id="performance">Performance</a></h2>
<p>This endpoint uses caching (default: 1 hour) because Scala reflection is expensive.<br />
Configure via: <code>getConnectorMethodNames.cache.ttl.seconds=3600</code></p>
<h2><a href="#use-case" id="use-case">Use Case</a></h2>
<p>Use this endpoint to discover which connector methods are available when configuring Method Routing.<br />
These method names are different from API endpoint operation IDs (which you get from /resource-docs).</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>CanGetSystemConnectorMethodNames entitlement is required.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>connector_method_names</strong></a>: connector_method_names</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetConnectorMethodNamesRequest
*/
func (a *ConnectorMethodAPIService) OBPv600GetConnectorMethodNames(ctx context.Context) ApiOBPv600GetConnectorMethodNamesRequest {
	return ApiOBPv600GetConnectorMethodNamesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetConnectorMethodNames200Response
func (a *ConnectorMethodAPIService) OBPv600GetConnectorMethodNamesExecute(r ApiOBPv600GetConnectorMethodNamesRequest) (*OBPv600GetConnectorMethodNames200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetConnectorMethodNames200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorMethodAPIService.OBPv600GetConnectorMethodNames")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/system/connector-method-names"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
