/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ChannelAPIService ChannelAPI service
type ChannelAPIService service

type ApiOBPv600DeleteSignalChannelRequest struct {
	ctx context.Context
	ApiService *ChannelAPIService
	channelname string
}

func (r ApiOBPv600DeleteSignalChannelRequest) Execute() (*OBPv600DeleteSignalChannel200Response, *http.Response, error) {
	return r.ApiService.OBPv600DeleteSignalChannelExecute(r)
}

/*
OBPv600DeleteSignalChannel Delete Signal Channel

<p>Signal channels provide short-lived, Redis-backed messaging designed for AI agent discovery and coordination, but usable by any authenticated OBP consumer.<br />
Messages are ephemeral and will expire after the configured TTL (default 1 hour).</p>
<p>This endpoint deletes a signal channel and all its messages immediately.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CHANNEL_NAME</a>: CHANNEL_NAME</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>deleted</strong></a>: deleted</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param channelname The CHANNELNAME identifier
 @return ApiOBPv600DeleteSignalChannelRequest
*/
func (a *ChannelAPIService) OBPv600DeleteSignalChannel(ctx context.Context, channelname string) ApiOBPv600DeleteSignalChannelRequest {
	return ApiOBPv600DeleteSignalChannelRequest{
		ApiService: a,
		ctx: ctx,
		channelname: channelname,
	}
}

// Execute executes the request
//  @return OBPv600DeleteSignalChannel200Response
func (a *ChannelAPIService) OBPv600DeleteSignalChannelExecute(r ApiOBPv600DeleteSignalChannelRequest) (*OBPv600DeleteSignalChannel200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600DeleteSignalChannel200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelAPIService.OBPv600DeleteSignalChannel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels/{channelname}"
	localVarPath = strings.Replace(localVarPath, "{"+"channelname"+"}", url.PathEscape(parameterValueToString(r.channelname, "channelname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetSignalChannelInfoRequest struct {
	ctx context.Context
	ApiService *ChannelAPIService
	channelname string
}

func (r ApiOBPv600GetSignalChannelInfoRequest) Execute() (*OBPv600GetSignalChannelInfo200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetSignalChannelInfoExecute(r)
}

/*
OBPv600GetSignalChannelInfo Get Signal Channel Info

<p>Signal channels provide short-lived, Redis-backed messaging designed for AI agent discovery and coordination, but usable by any authenticated OBP consumer.<br />
Messages are ephemeral and will expire after the configured TTL (default 1 hour).</p>
<p>This endpoint returns metadata about a signal channel including the current message count and remaining TTL in seconds.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CHANNEL_NAME</a>: CHANNEL_NAME</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>message_count</strong></a>: message_count</p>
<p><a href="/glossary#"><strong>ttl_seconds</strong></a>: ttl_seconds</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param channelname The CHANNELNAME identifier
 @return ApiOBPv600GetSignalChannelInfoRequest
*/
func (a *ChannelAPIService) OBPv600GetSignalChannelInfo(ctx context.Context, channelname string) ApiOBPv600GetSignalChannelInfoRequest {
	return ApiOBPv600GetSignalChannelInfoRequest{
		ApiService: a,
		ctx: ctx,
		channelname: channelname,
	}
}

// Execute executes the request
//  @return OBPv600GetSignalChannelInfo200Response
func (a *ChannelAPIService) OBPv600GetSignalChannelInfoExecute(r ApiOBPv600GetSignalChannelInfoRequest) (*OBPv600GetSignalChannelInfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetSignalChannelInfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelAPIService.OBPv600GetSignalChannelInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels/{channelname}/info"
	localVarPath = strings.Replace(localVarPath, "{"+"channelname"+"}", url.PathEscape(parameterValueToString(r.channelname, "channelname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetSignalChannelsRequest struct {
	ctx context.Context
	ApiService *ChannelAPIService
}

func (r ApiOBPv600GetSignalChannelsRequest) Execute() (*OBPv600GetSignalChannels200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetSignalChannelsExecute(r)
}

/*
OBPv600GetSignalChannels List Signal Channels

<p>Signal channels provide short-lived, Redis-backed messaging designed for AI agent discovery and coordination, but usable by any authenticated OBP consumer.<br />
Messages are ephemeral and will expire after the configured TTL (default 1 hour).</p>
<p>This endpoint lists active signal channels.<br />
Only channels that contain at least one broadcast message (no to_user_id) are listed.<br />
Private-only channels are not shown.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>channels</strong></a>: channels</p>
<p><a href="/glossary#"><strong>message_count</strong></a>: message_count</p>
<p><a href="/glossary#"><strong>ttl_seconds</strong></a>: ttl_seconds</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetSignalChannelsRequest
*/
func (a *ChannelAPIService) OBPv600GetSignalChannels(ctx context.Context) ApiOBPv600GetSignalChannelsRequest {
	return ApiOBPv600GetSignalChannelsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetSignalChannels200Response
func (a *ChannelAPIService) OBPv600GetSignalChannelsExecute(r ApiOBPv600GetSignalChannelsRequest) (*OBPv600GetSignalChannels200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetSignalChannels200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelAPIService.OBPv600GetSignalChannels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetSignalMessagesRequest struct {
	ctx context.Context
	ApiService *ChannelAPIService
	channelname string
}

func (r ApiOBPv600GetSignalMessagesRequest) Execute() (*OBPv600GetSignalMessages200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetSignalMessagesExecute(r)
}

/*
OBPv600GetSignalMessages Get Signal Messages

<p>Fetch messages from a signal channel with offset/limit pagination.</p>
<p>Signal channels provide short-lived, Redis-backed messaging designed for AI agent discovery<br />
and coordination, but usable by any authenticated OBP consumer.</p>
<p>Messages are returned oldest-first.</p>
<p>Privacy filtering is applied server-side: you will only see broadcast messages (no to_user_id)<br />
and private messages addressed to you (to_user_id matches your user ID) or sent by you.</p>
<p>Use the offset parameter to poll for new messages by tracking your position.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CHANNEL_NAME</a>: CHANNEL_NAME</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>has_more</strong></a>: has_more</p>
<p><a href="/glossary#"><strong>message_id</strong></a>: message_id</p>
<p><a href="/glossary#"><strong>message_type</strong></a>: message_type</p>
<p><a href="/glossary#messages"><strong>messages</strong></a>:</p>
<p><a href="/glossary#payload"><strong>payload</strong></a>: payload</p>
<p><a href="/glossary#"><strong>sender_consumer_id</strong></a>: sender_consumer_id</p>
<p><a href="/glossary#"><strong>sender_user_id</strong></a>: sender_user_id</p>
<p><a href="/glossary#"><strong>timestamp</strong></a>: timestamp</p>
<p><a href="/glossary#"><strong>total_count</strong></a>: total_count</p>
<p><a href="/glossary#">to_user_id</a>: to_user_id</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param channelname The CHANNELNAME identifier
 @return ApiOBPv600GetSignalMessagesRequest
*/
func (a *ChannelAPIService) OBPv600GetSignalMessages(ctx context.Context, channelname string) ApiOBPv600GetSignalMessagesRequest {
	return ApiOBPv600GetSignalMessagesRequest{
		ApiService: a,
		ctx: ctx,
		channelname: channelname,
	}
}

// Execute executes the request
//  @return OBPv600GetSignalMessages200Response
func (a *ChannelAPIService) OBPv600GetSignalMessagesExecute(r ApiOBPv600GetSignalMessagesRequest) (*OBPv600GetSignalMessages200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetSignalMessages200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelAPIService.OBPv600GetSignalMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels/{channelname}/messages"
	localVarPath = strings.Replace(localVarPath, "{"+"channelname"+"}", url.PathEscape(parameterValueToString(r.channelname, "channelname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetSignalStatsRequest struct {
	ctx context.Context
	ApiService *ChannelAPIService
}

func (r ApiOBPv600GetSignalStatsRequest) Execute() (*OBPv600GetSignalStats200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetSignalStatsExecute(r)
}

/*
OBPv600GetSignalStats Get Signal Channel Stats

<p>Returns statistics for all signal channels, including private-only channels.</p>
<p>Unlike the List Signal Channels endpoint, this does not filter out private-only channels.<br />
It provides a complete view of all active channels with message counts and TTL info.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>channels</strong></a>: channels</p>
<p><a href="/glossary#"><strong>message_count</strong></a>: message_count</p>
<p><a href="/glossary#"><strong>total_channels</strong></a>: total_channels</p>
<p><a href="/glossary#"><strong>total_messages</strong></a>: total_messages</p>
<p><a href="/glossary#"><strong>ttl_seconds</strong></a>: ttl_seconds</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetSignalStatsRequest
*/
func (a *ChannelAPIService) OBPv600GetSignalStats(ctx context.Context) ApiOBPv600GetSignalStatsRequest {
	return ApiOBPv600GetSignalStatsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetSignalStats200Response
func (a *ChannelAPIService) OBPv600GetSignalStatsExecute(r ApiOBPv600GetSignalStatsRequest) (*OBPv600GetSignalStats200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetSignalStats200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelAPIService.OBPv600GetSignalStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600PublishSignalMessageRequest struct {
	ctx context.Context
	ApiService *ChannelAPIService
	channelname string
	oBPv600PublishSignalMessageRequest *OBPv600PublishSignalMessageRequest
}

// Request body
func (r ApiOBPv600PublishSignalMessageRequest) OBPv600PublishSignalMessageRequest(oBPv600PublishSignalMessageRequest OBPv600PublishSignalMessageRequest) ApiOBPv600PublishSignalMessageRequest {
	r.oBPv600PublishSignalMessageRequest = &oBPv600PublishSignalMessageRequest
	return r
}

func (r ApiOBPv600PublishSignalMessageRequest) Execute() (*OBPv600PublishSignalMessage200Response, *http.Response, error) {
	return r.ApiService.OBPv600PublishSignalMessageExecute(r)
}

/*
OBPv600PublishSignalMessage Publish Signal Message

<p>Publish a message to a signal channel.</p>
<p>Signal channels provide short-lived, Redis-backed messaging for lightweight coordination between<br />
AI agents and other OBP consumers. Messages are not persisted to a database.</p>
<p>Channels are auto-created on first publish and expire after a configurable TTL (default 1 hour).<br />
Messages are capped at a configurable maximum per channel (default 1000).</p>
<p>The payload field accepts any valid JSON content.</p>
<p>Set to_user_id to send a private message visible only to the sender and recipient.<br />
Leave to_user_id empty for a broadcast message visible to all channel readers.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CHANNEL_NAME</a>: CHANNEL_NAME</p>
<p><strong>JSON request body fields:</strong></p>
<p><a href="/glossary#payload"><strong>payload</strong></a>: payload</p>
<p><a href="/glossary#">message_type</a>: message_type</p>
<p><a href="/glossary#">to_user_id</a>: to_user_id</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_message_count</strong></a>: channel_message_count</p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>message_id</strong></a>: message_id</p>
<p><a href="/glossary#"><strong>timestamp</strong></a>: timestamp</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param channelname The CHANNELNAME identifier
 @return ApiOBPv600PublishSignalMessageRequest
*/
func (a *ChannelAPIService) OBPv600PublishSignalMessage(ctx context.Context, channelname string) ApiOBPv600PublishSignalMessageRequest {
	return ApiOBPv600PublishSignalMessageRequest{
		ApiService: a,
		ctx: ctx,
		channelname: channelname,
	}
}

// Execute executes the request
//  @return OBPv600PublishSignalMessage200Response
func (a *ChannelAPIService) OBPv600PublishSignalMessageExecute(r ApiOBPv600PublishSignalMessageRequest) (*OBPv600PublishSignalMessage200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600PublishSignalMessage200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelAPIService.OBPv600PublishSignalMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels/{channelname}/messages"
	localVarPath = strings.Replace(localVarPath, "{"+"channelname"+"}", url.PathEscape(parameterValueToString(r.channelname, "channelname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oBPv600PublishSignalMessageRequest == nil {
		return localVarReturnValue, nil, reportError("oBPv600PublishSignalMessageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.oBPv600PublishSignalMessageRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
