/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ExperimentalAPIService ExperimentalAPI service
type ExperimentalAPIService service

type ApiOBPv310CreateMeetingRequest struct {
	ctx context.Context
	ApiService *ExperimentalAPIService
	bankid string
	oBPv310CreateMeetingRequest *OBPv310CreateMeetingRequest
}

// Request body
func (r ApiOBPv310CreateMeetingRequest) OBPv310CreateMeetingRequest(oBPv310CreateMeetingRequest OBPv310CreateMeetingRequest) ApiOBPv310CreateMeetingRequest {
	r.oBPv310CreateMeetingRequest = &oBPv310CreateMeetingRequest
	return r
}

func (r ApiOBPv310CreateMeetingRequest) Execute() (*OBPv310GetMeeting200Response, *http.Response, error) {
	return r.ApiService.OBPv310CreateMeetingExecute(r)
}

/*
OBPv310CreateMeeting Create Meeting (video conference/call)

<p>Create Meeting: Initiate a video conference/call with the bank.</p>
<p>The Meetings resource contains meta data about video/other conference sessions</p>
<p>provider_id determines the provider of the meeting / video chat service. MUST be url friendly (no spaces).</p>
<p>purpose_id explains the purpose of the chat. onboarding | mortgage | complaint etc. MUST be url friendly (no spaces).</p>
<p>Login is required.</p>
<p>This call is <strong>experimental</strong>. Currently staff_user_id is not set. Further calls will be needed to correctly set this.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Bank.bank_id">BANK_ID</a>: gh.29.uk</p>
<p><strong>JSON request body fields:</strong></p>
<p><a href="/glossary#contact_details"><strong>contact_details</strong></a>:</p>
<p><a href="/glossary#creator"><strong>creator</strong></a>:</p>
<p><a href="/glossary#"><strong>date</strong></a>: 2020-01-27</p>
<p><a href="/glossary#email_address"><strong>email_address</strong></a>:</p>
<p><a href="/glossary#invitees"><strong>invitees</strong></a>:</p>
<p><a href="/glossary#mobile_phone"><strong>mobile_phone</strong></a>:</p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#provider_id"><strong>provider_id</strong></a>:</p>
<p><a href="/glossary#purpose_id"><strong>purpose_id</strong></a>:</p>
<p><a href="/glossary#status"><strong>status</strong></a>:</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>bank_id</strong></a>: gh.29.uk</p>
<p><a href="/glossary#contact_details"><strong>contact_details</strong></a>:</p>
<p><a href="/glossary#creator"><strong>creator</strong></a>:</p>
<p><a href="/glossary#customer_token"><strong>customer_token</strong></a>:</p>
<p><a href="/glossary#customer_user_id"><strong>customer_user_id</strong></a>:</p>
<p><a href="/glossary#email_address"><strong>email_address</strong></a>:</p>
<p><a href="/glossary#invitees"><strong>invitees</strong></a>:</p>
<p><a href="/glossary#keys"><strong>keys</strong></a>:</p>
<p><a href="/glossary#meeting_id"><strong>meeting_id</strong></a>:</p>
<p><a href="/glossary#mobile_phone"><strong>mobile_phone</strong></a>:</p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#present"><strong>present</strong></a>:</p>
<p><a href="/glossary#provider_id"><strong>provider_id</strong></a>:</p>
<p><a href="/glossary#purpose_id"><strong>purpose_id</strong></a>:</p>
<p><a href="/glossary#"><strong>session_id</strong></a>: b4e0352a-9a0f-4bfa-b30b-9003aa467f50</p>
<p><a href="/glossary#staff_token"><strong>staff_token</strong></a>:</p>
<p><a href="/glossary#staff_user_id"><strong>staff_user_id</strong></a>:</p>
<p><a href="/glossary#status"><strong>status</strong></a>:</p>
<p><a href="/glossary#when"><strong>when</strong></a>: 2020-01-27</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankid The BANKID identifier
 @return ApiOBPv310CreateMeetingRequest
*/
func (a *ExperimentalAPIService) OBPv310CreateMeeting(ctx context.Context, bankid string) ApiOBPv310CreateMeetingRequest {
	return ApiOBPv310CreateMeetingRequest{
		ApiService: a,
		ctx: ctx,
		bankid: bankid,
	}
}

// Execute executes the request
//  @return OBPv310GetMeeting200Response
func (a *ExperimentalAPIService) OBPv310CreateMeetingExecute(r ApiOBPv310CreateMeetingRequest) (*OBPv310GetMeeting200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv310GetMeeting200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExperimentalAPIService.OBPv310CreateMeeting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/banks/{bankid}/meetings"
	localVarPath = strings.Replace(localVarPath, "{"+"bankid"+"}", url.PathEscape(parameterValueToString(r.bankid, "bankid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oBPv310CreateMeetingRequest == nil {
		return localVarReturnValue, nil, reportError("oBPv310CreateMeetingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.oBPv310CreateMeetingRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310GetMeetingRequest struct {
	ctx context.Context
	ApiService *ExperimentalAPIService
	bankid string
	meetingid string
}

func (r ApiOBPv310GetMeetingRequest) Execute() (*OBPv310GetMeeting200Response, *http.Response, error) {
	return r.ApiService.OBPv310GetMeetingExecute(r)
}

/*
OBPv310GetMeeting Get Meeting

<p>Get Meeting specified by BANK_ID / MEETING_ID<br />
Meetings contain meta data about, and are used to facilitate, video conferences / chats etc.</p>
<p>The actual conference/chats are handled by external services.</p>
<p>Login is required.</p>
<p>This call is <strong>experimental</strong> and will require further authorisation in the future.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Bank.bank_id">BANK_ID</a>: gh.29.uk</p>
<p><a href="/glossary#meeting_id">MEETING_ID</a>:</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>bank_id</strong></a>: gh.29.uk</p>
<p><a href="/glossary#contact_details"><strong>contact_details</strong></a>:</p>
<p><a href="/glossary#creator"><strong>creator</strong></a>:</p>
<p><a href="/glossary#customer_token"><strong>customer_token</strong></a>:</p>
<p><a href="/glossary#customer_user_id"><strong>customer_user_id</strong></a>:</p>
<p><a href="/glossary#email_address"><strong>email_address</strong></a>:</p>
<p><a href="/glossary#invitees"><strong>invitees</strong></a>:</p>
<p><a href="/glossary#keys"><strong>keys</strong></a>:</p>
<p><a href="/glossary#meeting_id"><strong>meeting_id</strong></a>:</p>
<p><a href="/glossary#mobile_phone"><strong>mobile_phone</strong></a>:</p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#present"><strong>present</strong></a>:</p>
<p><a href="/glossary#provider_id"><strong>provider_id</strong></a>:</p>
<p><a href="/glossary#purpose_id"><strong>purpose_id</strong></a>:</p>
<p><a href="/glossary#"><strong>session_id</strong></a>: b4e0352a-9a0f-4bfa-b30b-9003aa467f50</p>
<p><a href="/glossary#staff_token"><strong>staff_token</strong></a>:</p>
<p><a href="/glossary#staff_user_id"><strong>staff_user_id</strong></a>:</p>
<p><a href="/glossary#status"><strong>status</strong></a>:</p>
<p><a href="/glossary#when"><strong>when</strong></a>: 2020-01-27</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankid The BANKID identifier
 @param meetingid The MEETINGID identifier
 @return ApiOBPv310GetMeetingRequest
*/
func (a *ExperimentalAPIService) OBPv310GetMeeting(ctx context.Context, bankid string, meetingid string) ApiOBPv310GetMeetingRequest {
	return ApiOBPv310GetMeetingRequest{
		ApiService: a,
		ctx: ctx,
		bankid: bankid,
		meetingid: meetingid,
	}
}

// Execute executes the request
//  @return OBPv310GetMeeting200Response
func (a *ExperimentalAPIService) OBPv310GetMeetingExecute(r ApiOBPv310GetMeetingRequest) (*OBPv310GetMeeting200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv310GetMeeting200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExperimentalAPIService.OBPv310GetMeeting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/banks/{bankid}/meetings/{meetingid}"
	localVarPath = strings.Replace(localVarPath, "{"+"bankid"+"}", url.PathEscape(parameterValueToString(r.bankid, "bankid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"meetingid"+"}", url.PathEscape(parameterValueToString(r.meetingid, "meetingid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310GetMeetingsRequest struct {
	ctx context.Context
	ApiService *ExperimentalAPIService
	bankid string
}

func (r ApiOBPv310GetMeetingsRequest) Execute() (*OBPv310GetMeetings200Response, *http.Response, error) {
	return r.ApiService.OBPv310GetMeetingsExecute(r)
}

/*
OBPv310GetMeetings Get Meetings

<p>Meetings contain meta data about, and are used to facilitate, video conferences / chats etc.</p>
<p>The actual conference/chats are handled by external services.</p>
<p>Login is required.</p>
<p>This call is <strong>experimental</strong> and will require further authorisation in the future.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Bank.bank_id">BANK_ID</a>: gh.29.uk</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>bank_id</strong></a>: gh.29.uk</p>
<p><a href="/glossary#contact_details"><strong>contact_details</strong></a>:</p>
<p><a href="/glossary#creator"><strong>creator</strong></a>:</p>
<p><a href="/glossary#customer_token"><strong>customer_token</strong></a>:</p>
<p><a href="/glossary#customer_user_id"><strong>customer_user_id</strong></a>:</p>
<p><a href="/glossary#email_address"><strong>email_address</strong></a>:</p>
<p><a href="/glossary#invitees"><strong>invitees</strong></a>:</p>
<p><a href="/glossary#keys"><strong>keys</strong></a>:</p>
<p><a href="/glossary#meeting_id"><strong>meeting_id</strong></a>:</p>
<p><a href="/glossary#meetings"><strong>meetings</strong></a>:</p>
<p><a href="/glossary#mobile_phone"><strong>mobile_phone</strong></a>:</p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#present"><strong>present</strong></a>:</p>
<p><a href="/glossary#provider_id"><strong>provider_id</strong></a>:</p>
<p><a href="/glossary#purpose_id"><strong>purpose_id</strong></a>:</p>
<p><a href="/glossary#"><strong>session_id</strong></a>: b4e0352a-9a0f-4bfa-b30b-9003aa467f50</p>
<p><a href="/glossary#staff_token"><strong>staff_token</strong></a>:</p>
<p><a href="/glossary#staff_user_id"><strong>staff_user_id</strong></a>:</p>
<p><a href="/glossary#status"><strong>status</strong></a>:</p>
<p><a href="/glossary#when"><strong>when</strong></a>: 2020-01-27</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankid The BANKID identifier
 @return ApiOBPv310GetMeetingsRequest
*/
func (a *ExperimentalAPIService) OBPv310GetMeetings(ctx context.Context, bankid string) ApiOBPv310GetMeetingsRequest {
	return ApiOBPv310GetMeetingsRequest{
		ApiService: a,
		ctx: ctx,
		bankid: bankid,
	}
}

// Execute executes the request
//  @return OBPv310GetMeetings200Response
func (a *ExperimentalAPIService) OBPv310GetMeetingsExecute(r ApiOBPv310GetMeetingsRequest) (*OBPv310GetMeetings200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv310GetMeetings200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExperimentalAPIService.OBPv310GetMeetings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/banks/{bankid}/meetings"
	localVarPath = strings.Replace(localVarPath, "{"+"bankid"+"}", url.PathEscape(parameterValueToString(r.bankid, "bankid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
