/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DataWarehouseAPIService DataWarehouseAPI service
type DataWarehouseAPIService service

type ApiOBPv300DataWarehouseSearchRequest struct {
	ctx context.Context
	ApiService *DataWarehouseAPIService
	index string
	oBPv300DataWarehouseSearchRequest *OBPv300DataWarehouseSearchRequest
}

// Request body
func (r ApiOBPv300DataWarehouseSearchRequest) OBPv300DataWarehouseSearchRequest(oBPv300DataWarehouseSearchRequest OBPv300DataWarehouseSearchRequest) ApiOBPv300DataWarehouseSearchRequest {
	r.oBPv300DataWarehouseSearchRequest = &oBPv300DataWarehouseSearchRequest
	return r
}

func (r ApiOBPv300DataWarehouseSearchRequest) Execute() (*OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage, *http.Response, error) {
	return r.ApiService.OBPv300DataWarehouseSearchExecute(r)
}

/*
OBPv300DataWarehouseSearch Data Warehouse Search

<p>Search the data warehouse and get row level results.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>CanSearchWarehouse entitlement is required. You can request the Role below.</p>
<p>Elastic (search) is used in the background. See links below for syntax.</p>
<p>Examples of usage:</p>
<p>POST /search/warehouse/THE_INDEX_YOU_WANT_TO_USE</p>
<p>POST /search/warehouse/INDEX1,INDEX2</p>
<p>POST /search/warehouse/ALL</p>
<p>{ Any valid elasticsearch query DSL in the body }</p>
<p><a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl.html">Elasticsearch query DSL</a></p>
<p><a href="https://www.elastic.co/guide/en/elasticsearch/reference/6.2/search-request-body.html">Elastic simple query</a></p>
<p><a href="https://www.elastic.co/guide/en/elasticsearch/reference/6.2/search-aggregations.html">Elastic aggregations</a></p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#index">INDEX</a>:</p>
<p><strong>JSON request body fields:</strong></p>
<p><a href="/glossary#match_all"><strong>match_all</strong></a>:</p>
<p><a href="/glossary#query"><strong>query</strong></a>:</p>
<p><a href="/glossary#none">none</a>:</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#none">none</a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param index The INDEX identifier
 @return ApiOBPv300DataWarehouseSearchRequest
*/
func (a *DataWarehouseAPIService) OBPv300DataWarehouseSearch(ctx context.Context, index string) ApiOBPv300DataWarehouseSearchRequest {
	return ApiOBPv300DataWarehouseSearchRequest{
		ApiService: a,
		ctx: ctx,
		index: index,
	}
}

// Execute executes the request
//  @return OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage
func (a *DataWarehouseAPIService) OBPv300DataWarehouseSearchExecute(r ApiOBPv300DataWarehouseSearchRequest) (*OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataWarehouseAPIService.OBPv300DataWarehouseSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.0.0/search/warehouse/{index}"
	localVarPath = strings.Replace(localVarPath, "{"+"index"+"}", url.PathEscape(parameterValueToString(r.index, "index")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oBPv300DataWarehouseSearchRequest == nil {
		return localVarReturnValue, nil, reportError("oBPv300DataWarehouseSearchRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.oBPv300DataWarehouseSearchRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv300DataWarehouseStatisticsRequest struct {
	ctx context.Context
	ApiService *DataWarehouseAPIService
	index string
	field string
	oBPv300DataWarehouseSearchRequest *OBPv300DataWarehouseSearchRequest
}

// Request body
func (r ApiOBPv300DataWarehouseStatisticsRequest) OBPv300DataWarehouseSearchRequest(oBPv300DataWarehouseSearchRequest OBPv300DataWarehouseSearchRequest) ApiOBPv300DataWarehouseStatisticsRequest {
	r.oBPv300DataWarehouseSearchRequest = &oBPv300DataWarehouseSearchRequest
	return r
}

func (r ApiOBPv300DataWarehouseStatisticsRequest) Execute() (*OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage, *http.Response, error) {
	return r.ApiService.OBPv300DataWarehouseStatisticsExecute(r)
}

/*
OBPv300DataWarehouseStatistics Data Warehouse Statistics

<p>Search the data warehouse and get statistical aggregations over a warehouse field</p>
<p>Does a stats aggregation over some numeric field:</p>
<p><a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-stats-aggregation.html">https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-stats-aggregation.html</a></p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>CanSearchWarehouseStats Role is required. You can request this below.</p>
<p>Elastic (search) is used in the background. See links below for syntax.</p>
<p>Examples of usage:</p>
<p>POST /search/warehouse/statistics/INDEX/FIELD</p>
<p>POST /search/warehouse/statistics/ALL/FIELD</p>
<p>{ Any valid elasticsearch query DSL in the body }</p>
<p><a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl.html">Elasticsearch query DSL</a></p>
<p><a href="https://www.elastic.co/guide/en/elasticsearch/reference/6.2/search-request-body.html">Elastic simple query</a></p>
<p><a href="https://www.elastic.co/guide/en/elasticsearch/reference/6.2/search-aggregations.html">Elastic aggregations</a></p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#field">FIELD</a>:</p>
<p><a href="/glossary#index">INDEX</a>:</p>
<p><strong>JSON request body fields:</strong></p>
<p><a href="/glossary#match_all"><strong>match_all</strong></a>:</p>
<p><a href="/glossary#query"><strong>query</strong></a>:</p>
<p><a href="/glossary#none">none</a>:</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#none">none</a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param index The INDEX identifier
 @param field The FIELD identifier
 @return ApiOBPv300DataWarehouseStatisticsRequest
*/
func (a *DataWarehouseAPIService) OBPv300DataWarehouseStatistics(ctx context.Context, index string, field string) ApiOBPv300DataWarehouseStatisticsRequest {
	return ApiOBPv300DataWarehouseStatisticsRequest{
		ApiService: a,
		ctx: ctx,
		index: index,
		field: field,
	}
}

// Execute executes the request
//  @return OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage
func (a *DataWarehouseAPIService) OBPv300DataWarehouseStatisticsExecute(r ApiOBPv300DataWarehouseStatisticsRequest) (*OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv400GetDynamicMessageDoc200ResponsePropertiesExampleInboundMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataWarehouseAPIService.OBPv300DataWarehouseStatistics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.0.0/search/warehouse/statistics/{index}/{field}"
	localVarPath = strings.Replace(localVarPath, "{"+"index"+"}", url.PathEscape(parameterValueToString(r.index, "index")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"field"+"}", url.PathEscape(parameterValueToString(r.field, "field")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oBPv300DataWarehouseSearchRequest == nil {
		return localVarReturnValue, nil, reportError("oBPv300DataWarehouseSearchRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.oBPv300DataWarehouseSearchRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
