/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MessageDocAPIService MessageDocAPI service
type MessageDocAPIService service

type ApiOBPv220GetMessageDocsRequest struct {
	ctx context.Context
	ApiService *MessageDocAPIService
	connector string
}

func (r ApiOBPv220GetMessageDocsRequest) Execute() (*OBPv220GetMessageDocs200Response, *http.Response, error) {
	return r.ApiService.OBPv220GetMessageDocsExecute(r)
}

/*
OBPv220GetMessageDocs Get Message Docs

<p>These message docs provide example messages sent by OBP to the (RabbitMq) message queue for processing by the Core Banking / Payment system Adapter - together with an example expected response and possible error codes.<br />
Integrators can use these messages to build Adapters that provide core banking services to OBP.</p>
<p>Note: API Explorer provides a Message Docs page where these messages are displayed.</p>
<p><code>CONNECTOR</code>: rest_vMar2019, stored_procedure_vDec2019 ...</p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Connector">CONNECTOR</a>: CONNECTOR</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#adapter_implementation"><strong>adapter_implementation</strong></a>:</p>
<p><a href="/glossary#dependent_endpoints"><strong>dependent_endpoints</strong></a>:</p>
<p><a href="/glossary#description"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p>
<p><a href="/glossary#example_inbound_message"><strong>example_inbound_message</strong></a>: {}</p>
<p><a href="/glossary#example_outbound_message"><strong>example_outbound_message</strong></a>: {}</p>
<p><a href="/glossary#group"><strong>group</strong></a>:</p>
<p><a href="/glossary#message_docs"><strong>message_docs</strong></a>:</p>
<p><a href="/glossary#message_format"><strong>message_format</strong></a>:</p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#process"><strong>process</strong></a>: obp.getBank</p>
<p><a href="/glossary#suggested_order"><strong>suggested_order</strong></a>:</p>
<p><a href="/glossary#version"><strong>version</strong></a>:</p>
<p><a href="/glossary#inboundavroschema">inboundAvroSchema</a>:</p>
<p><a href="/glossary#inbound_topic">inbound_topic</a>:</p>
<p><a href="/glossary#outboundavroschema">outboundAvroSchema</a>:</p>
<p><a href="/glossary#outbound_topic">outbound_topic</a>:</p>
<p><a href="/glossary#requiredfieldinfo">requiredFieldInfo</a>: false</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connector The CONNECTOR identifier
 @return ApiOBPv220GetMessageDocsRequest
*/
func (a *MessageDocAPIService) OBPv220GetMessageDocs(ctx context.Context, connector string) ApiOBPv220GetMessageDocsRequest {
	return ApiOBPv220GetMessageDocsRequest{
		ApiService: a,
		ctx: ctx,
		connector: connector,
	}
}

// Execute executes the request
//  @return OBPv220GetMessageDocs200Response
func (a *MessageDocAPIService) OBPv220GetMessageDocsExecute(r ApiOBPv220GetMessageDocsRequest) (*OBPv220GetMessageDocs200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv220GetMessageDocs200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageDocAPIService.OBPv220GetMessageDocs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v2.2.0/message-docs/{connector}"
	localVarPath = strings.Replace(localVarPath, "{"+"connector"+"}", url.PathEscape(parameterValueToString(r.connector, "connector")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv310GetMessageDocsSwaggerRequest struct {
	ctx context.Context
	ApiService *MessageDocAPIService
	connector string
}

func (r ApiOBPv310GetMessageDocsSwaggerRequest) Execute() (*http.Response, error) {
	return r.ApiService.OBPv310GetMessageDocsSwaggerExecute(r)
}

/*
OBPv310GetMessageDocsSwagger Get Message Docs Swagger

<p>This endpoint provides example message docs in swagger format.<br />
It is only relavent for REST Connectors.</p>
<p>This endpoint can be used by the developer building a REST Adapter that connects to the Core Banking System (CBS).<br />
That is, the Adapter developer can use the Swagger surfaced here to build the REST APIs that the OBP REST connector will call to consume CBS services.</p>
<p>i.e.:</p>
<p>OBP API (Core OBP API code) -&gt; OBP REST Connector (OBP REST Connector code) -&gt; OBP REST Adapter (Adapter developer code) -&gt; CBS (Main Frame)</p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Connector">CONNECTOR</a>: CONNECTOR</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connector The CONNECTOR identifier
 @return ApiOBPv310GetMessageDocsSwaggerRequest
*/
func (a *MessageDocAPIService) OBPv310GetMessageDocsSwagger(ctx context.Context, connector string) ApiOBPv310GetMessageDocsSwaggerRequest {
	return ApiOBPv310GetMessageDocsSwaggerRequest{
		ApiService: a,
		ctx: ctx,
		connector: connector,
	}
}

// Execute executes the request
func (a *MessageDocAPIService) OBPv310GetMessageDocsSwaggerExecute(r ApiOBPv310GetMessageDocsSwaggerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageDocAPIService.OBPv310GetMessageDocsSwagger")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/message-docs/{connector}/swagger2.0"
	localVarPath = strings.Replace(localVarPath, "{"+"connector"+"}", url.PathEscape(parameterValueToString(r.connector, "connector")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOBPv600GetMessageDocsJsonSchemaRequest struct {
	ctx context.Context
	ApiService *MessageDocAPIService
	connector string
}

func (r ApiOBPv600GetMessageDocsJsonSchemaRequest) Execute() (*http.Response, error) {
	return r.ApiService.OBPv600GetMessageDocsJsonSchemaExecute(r)
}

/*
OBPv600GetMessageDocsJsonSchema Get Message Docs as JSON Schema

<p>Returns message documentation as JSON Schema format for code generation in any language.</p>
<p>This endpoint provides machine-readable schemas instead of just examples, making it ideal for:<br />
- AI-powered code generation<br />
- Automatic adapter creation in multiple languages<br />
- Type-safe client generation with tools like quicktype</p>
<p><strong>Supported Connectors:</strong><br />
- rabbitmq_vOct2024 - RabbitMQ connector message schemas<br />
- rest_vMar2019 - REST connector message schemas<br />
- akka_vDec2018 - Akka connector message schemas<br />
- kafka_vMay2019 - Kafka connector message schemas (if available)</p>
<p><strong>Code Generation Examples:</strong></p>
<p>Generate Scala code with Circe:</p>
<pre><code class="language-bash">curl https://api.../message-docs/rabbitmq_vOct2024/json-schema &gt; schemas.json
quicktype -s schema schemas.json -o Messages.scala --framework circe
</code></pre>
<p>Generate Python code:</p>
<pre><code class="language-bash">quicktype -s schema schemas.json -o messages.py --lang python
</code></pre>
<p>Generate TypeScript code:</p>
<pre><code class="language-bash">quicktype -s schema schemas.json -o messages.ts --lang typescript
</code></pre>
<p><strong>Schema Structure:</strong><br />
Each message includes:<br />
- <code>process</code> - The connector method name (e.g., &quot;obp.getAdapterInfo&quot;)<br />
- <code>description</code> - Human-readable description of what the message does<br />
- <code>outbound_schema</code> - JSON Schema for request messages (OBP-API -&gt; Adapter)<br />
- <code>inbound_schema</code> - JSON Schema for response messages (Adapter -&gt; OBP-API)</p>
<p>All nested type definitions are included in the <code>definitions</code> section for reuse.</p>
<p><strong>Authentication:</strong><br />
This endpoint is publicly accessible (no authentication required) to facilitate adapter development.</p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Connector">CONNECTOR</a>: CONNECTOR</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connector The CONNECTOR identifier
 @return ApiOBPv600GetMessageDocsJsonSchemaRequest
*/
func (a *MessageDocAPIService) OBPv600GetMessageDocsJsonSchema(ctx context.Context, connector string) ApiOBPv600GetMessageDocsJsonSchemaRequest {
	return ApiOBPv600GetMessageDocsJsonSchemaRequest{
		ApiService: a,
		ctx: ctx,
		connector: connector,
	}
}

// Execute executes the request
func (a *MessageDocAPIService) OBPv600GetMessageDocsJsonSchemaExecute(r ApiOBPv600GetMessageDocsJsonSchemaRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageDocAPIService.OBPv600GetMessageDocsJsonSchema")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/message-docs/{connector}/json-schema"
	localVarPath = strings.Replace(localVarPath, "{"+"connector"+"}", url.PathEscape(parameterValueToString(r.connector, "connector")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
