/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// FXAPIService FXAPI service
type FXAPIService service

type ApiOBPv220CreateFxRequest struct {
	ctx context.Context
	ApiService *FXAPIService
	bankid string
	oBPv220CreateFxRequest *OBPv220CreateFxRequest
}

// Request body
func (r ApiOBPv220CreateFxRequest) OBPv220CreateFxRequest(oBPv220CreateFxRequest OBPv220CreateFxRequest) ApiOBPv220CreateFxRequest {
	r.oBPv220CreateFxRequest = &oBPv220CreateFxRequest
	return r
}

func (r ApiOBPv220CreateFxRequest) Execute() (*OBPv220CreateFxRequest, *http.Response, error) {
	return r.ApiService.OBPv220CreateFxExecute(r)
}

/*
OBPv220CreateFx Create Fx

<p>Create or Update Fx for the Bank.</p>
<p>Example:</p>
<p>“from_currency_code”:“EUR”,<br />
“to_currency_code”:“USD”,<br />
“conversion_value”: 1.136305,<br />
“inverse_conversion_value”: 1 / 1.136305 = 0.8800454103431737,</p>
<p>Thus 1 Euro = 1.136305 US Dollar<br />
and<br />
1 US Dollar = 0.8800 Euro</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Bank.bank_id">BANK_ID</a>: gh.29.uk</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>bank_id</strong></a>: gh.29.uk</p>
<p><a href="/glossary#conversion_value"><strong>conversion_value</strong></a>: 100</p>
<p><a href="/glossary#effective_date"><strong>effective_date</strong></a>: 2020-01-27</p>
<p><a href="/glossary#from_currency_code"><strong>from_currency_code</strong></a>:</p>
<p><a href="/glossary#inverse_conversion_value"><strong>inverse_conversion_value</strong></a>: 50</p>
<p><a href="/glossary#to_currency_code"><strong>to_currency_code</strong></a>: EUR</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankid The BANKID identifier
 @return ApiOBPv220CreateFxRequest
*/
func (a *FXAPIService) OBPv220CreateFx(ctx context.Context, bankid string) ApiOBPv220CreateFxRequest {
	return ApiOBPv220CreateFxRequest{
		ApiService: a,
		ctx: ctx,
		bankid: bankid,
	}
}

// Execute executes the request
//  @return OBPv220CreateFxRequest
func (a *FXAPIService) OBPv220CreateFxExecute(r ApiOBPv220CreateFxRequest) (*OBPv220CreateFxRequest, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv220CreateFxRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FXAPIService.OBPv220CreateFx")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v2.2.0/banks/{bankid}/fx"
	localVarPath = strings.Replace(localVarPath, "{"+"bankid"+"}", url.PathEscape(parameterValueToString(r.bankid, "bankid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oBPv220CreateFxRequest == nil {
		return localVarReturnValue, nil, reportError("oBPv220CreateFxRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.oBPv220CreateFxRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv220GetCurrentFxRateRequest struct {
	ctx context.Context
	ApiService *FXAPIService
	bankid string
	fromcurrencycode string
	tocurrencycode string
}

func (r ApiOBPv220GetCurrentFxRateRequest) Execute() (*OBPv220CreateFxRequest, *http.Response, error) {
	return r.ApiService.OBPv220GetCurrentFxRateExecute(r)
}

/*
OBPv220GetCurrentFxRate Get Current FxRate

<p>Get the latest FX rate specified by BANK_ID, FROM_CURRENCY_CODE and TO_CURRENCY_CODE</p>
<p>OBP may try different sources of FX rate information depending on the Connector in operation.</p>
<p>For example we want to convert EUR =&gt; USD:</p>
<p>OBP will:<br />
1st try - Connector (database, core banking system or external FX service)<br />
2nd try part 1 - fallbackexchangerates/eur.json<br />
2nd try part 2 - fallbackexchangerates/usd.json (the inverse rate is used)<br />
3rd try - Hardcoded map of FX rates.</p>
<p><img src="https://user-images.githubusercontent.com/485218/60005085-1eded600-966e-11e9-96fb-798b102d9ad0.png" alt="FX Flow" /></p>
<p><strong>Public Access:</strong> This endpoint can be made publicly accessible (no authentication required) by setting the property <code>apiOptions.getCurrentFxRateIsPublic=true</code> in the props file.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Bank.bank_id">BANK_ID</a>: gh.29.uk</p>
<p><a href="/glossary#from_currency_code">FROM_CURRENCY_CODE</a>:</p>
<p><a href="/glossary#to_currency_code">TO_CURRENCY_CODE</a>: EUR</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>bank_id</strong></a>: gh.29.uk</p>
<p><a href="/glossary#conversion_value"><strong>conversion_value</strong></a>: 100</p>
<p><a href="/glossary#effective_date"><strong>effective_date</strong></a>: 2020-01-27</p>
<p><a href="/glossary#from_currency_code"><strong>from_currency_code</strong></a>:</p>
<p><a href="/glossary#inverse_conversion_value"><strong>inverse_conversion_value</strong></a>: 50</p>
<p><a href="/glossary#to_currency_code"><strong>to_currency_code</strong></a>: EUR</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankid The BANKID identifier
 @param fromcurrencycode The FROMCURRENCYCODE identifier
 @param tocurrencycode The TOCURRENCYCODE identifier
 @return ApiOBPv220GetCurrentFxRateRequest
*/
func (a *FXAPIService) OBPv220GetCurrentFxRate(ctx context.Context, bankid string, fromcurrencycode string, tocurrencycode string) ApiOBPv220GetCurrentFxRateRequest {
	return ApiOBPv220GetCurrentFxRateRequest{
		ApiService: a,
		ctx: ctx,
		bankid: bankid,
		fromcurrencycode: fromcurrencycode,
		tocurrencycode: tocurrencycode,
	}
}

// Execute executes the request
//  @return OBPv220CreateFxRequest
func (a *FXAPIService) OBPv220GetCurrentFxRateExecute(r ApiOBPv220GetCurrentFxRateRequest) (*OBPv220CreateFxRequest, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv220CreateFxRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FXAPIService.OBPv220GetCurrentFxRate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v2.2.0/banks/{bankid}/fx/{fromcurrencycode}/{tocurrencycode}"
	localVarPath = strings.Replace(localVarPath, "{"+"bankid"+"}", url.PathEscape(parameterValueToString(r.bankid, "bankid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"fromcurrencycode"+"}", url.PathEscape(parameterValueToString(r.fromcurrencycode, "fromcurrencycode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tocurrencycode"+"}", url.PathEscape(parameterValueToString(r.tocurrencycode, "tocurrencycode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv510GetCurrenciesAtBankRequest struct {
	ctx context.Context
	ApiService *FXAPIService
	bankid string
}

func (r ApiOBPv510GetCurrenciesAtBankRequest) Execute() (*OBPv510GetCurrenciesAtBank200Response, *http.Response, error) {
	return r.ApiService.OBPv510GetCurrenciesAtBankExecute(r)
}

/*
OBPv510GetCurrenciesAtBank Get Currencies at a Bank

<p>Get Currencies specified by BANK_ID</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#Bank.bank_id">BANK_ID</a>: gh.29.uk</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>alphanumeric_code</strong></a>: alphanumeric_code</p>
<p><a href="/glossary#"><strong>currencies</strong></a>: currencies</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankid The BANKID identifier
 @return ApiOBPv510GetCurrenciesAtBankRequest
*/
func (a *FXAPIService) OBPv510GetCurrenciesAtBank(ctx context.Context, bankid string) ApiOBPv510GetCurrenciesAtBankRequest {
	return ApiOBPv510GetCurrenciesAtBankRequest{
		ApiService: a,
		ctx: ctx,
		bankid: bankid,
	}
}

// Execute executes the request
//  @return OBPv510GetCurrenciesAtBank200Response
func (a *FXAPIService) OBPv510GetCurrenciesAtBankExecute(r ApiOBPv510GetCurrenciesAtBankRequest) (*OBPv510GetCurrenciesAtBank200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv510GetCurrenciesAtBank200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FXAPIService.OBPv510GetCurrenciesAtBank")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v5.1.0/banks/{bankid}/currencies"
	localVarPath = strings.Replace(localVarPath, "{"+"bankid"+"}", url.PathEscape(parameterValueToString(r.bankid, "bankid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
