/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// DynamicEntityAPIService DynamicEntityAPI service
type DynamicEntityAPIService service

type ApiOBPv600CleanupOrphanedDynamicEntityRecordsRequest struct {
	ctx context.Context
	ApiService *DynamicEntityAPIService
}

func (r ApiOBPv600CleanupOrphanedDynamicEntityRecordsRequest) Execute() (*OBPv600CleanupOrphanedDynamicEntityRecords200Response, *http.Response, error) {
	return r.ApiService.OBPv600CleanupOrphanedDynamicEntityRecordsExecute(r)
}

/*
OBPv600CleanupOrphanedDynamicEntityRecords Cleanup Orphaned Dynamic Entity Records

<p>Delete orphaned dynamic entity data records.</p>
<p>Orphaned records are rows in the DynamicData table whose entityName/bankId combination<br />
has no matching Dynamic Entity definition. These can accumulate when entity definitions<br />
are deleted but their data records are not cleaned up.</p>
<p>This endpoint first identifies all orphaned records (using the same detection logic as<br />
GET /management/diagnostics/dynamic-entities), then deletes them.</p>
<p><strong>Response Format:</strong><br />
* <code>deleted_orphaned_entities</code> - List of orphaned entity groups that were deleted, each with:<br />
* <code>entity_name</code> - Name of the orphaned entity<br />
* <code>bank_id</code> - Bank ID (or empty string for system-level)<br />
* <code>record_count</code> - Number of records that were deleted for this entity group<br />
* <code>total_records_deleted</code> - Total count of all deleted records</p>
<p>Authentication is Required</p>
<p><strong>Required Role:</strong> <code>CanCleanupOrphanedDynamicEntityRecords</code></p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600CleanupOrphanedDynamicEntityRecordsRequest
*/
func (a *DynamicEntityAPIService) OBPv600CleanupOrphanedDynamicEntityRecords(ctx context.Context) ApiOBPv600CleanupOrphanedDynamicEntityRecordsRequest {
	return ApiOBPv600CleanupOrphanedDynamicEntityRecordsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600CleanupOrphanedDynamicEntityRecords200Response
func (a *DynamicEntityAPIService) OBPv600CleanupOrphanedDynamicEntityRecordsExecute(r ApiOBPv600CleanupOrphanedDynamicEntityRecordsRequest) (*OBPv600CleanupOrphanedDynamicEntityRecords200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600CleanupOrphanedDynamicEntityRecords200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DynamicEntityAPIService.OBPv600CleanupOrphanedDynamicEntityRecords")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/management/diagnostics/dynamic-entities/orphaned-records"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetAvailablePersonalDynamicEntitiesRequest struct {
	ctx context.Context
	ApiService *DynamicEntityAPIService
}

func (r ApiOBPv600GetAvailablePersonalDynamicEntitiesRequest) Execute() (*OBPv600GetAvailablePersonalDynamicEntities200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetAvailablePersonalDynamicEntitiesExecute(r)
}

/*
OBPv600GetAvailablePersonalDynamicEntities Get Available Personal Dynamic Entities

<p>Get all Dynamic Entities that support personal data storage (hasPersonalEntity == true).</p>
<p>This endpoint allows regular users (without admin roles) to discover which dynamic entities<br />
they can interact with for storing personal data via the /my/ENTITY_NAME endpoints.</p>
<p>Authentication: User must be logged in (no special roles required).</p>
<p>Use case: Portals and apps can show users what personal data types are available<br />
without needing admin access to view all dynamic entity definitions.</p>
<p>For more information see <a href="/glossary#My-Dynamic-Entities">here</a></p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetAvailablePersonalDynamicEntitiesRequest
*/
func (a *DynamicEntityAPIService) OBPv600GetAvailablePersonalDynamicEntities(ctx context.Context) ApiOBPv600GetAvailablePersonalDynamicEntitiesRequest {
	return ApiOBPv600GetAvailablePersonalDynamicEntitiesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetAvailablePersonalDynamicEntities200Response
func (a *DynamicEntityAPIService) OBPv600GetAvailablePersonalDynamicEntitiesExecute(r ApiOBPv600GetAvailablePersonalDynamicEntitiesRequest) (*OBPv600GetAvailablePersonalDynamicEntities200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetAvailablePersonalDynamicEntities200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DynamicEntityAPIService.OBPv600GetAvailablePersonalDynamicEntities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/personal-dynamic-entities/available"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetDynamicEntityDiagnosticsRequest struct {
	ctx context.Context
	ApiService *DynamicEntityAPIService
}

func (r ApiOBPv600GetDynamicEntityDiagnosticsRequest) Execute() (*OBPv600GetDynamicEntityDiagnostics200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetDynamicEntityDiagnosticsExecute(r)
}

/*
OBPv600GetDynamicEntityDiagnostics Get Dynamic Entity Diagnostics

<p>Get diagnostic information about Dynamic Entities to help troubleshoot Swagger generation issues.</p>
<p><strong>Use Case:</strong><br />
This endpoint is particularly useful when:<br />
* The Swagger endpoint (<code>/obp/v6.0.0/resource-docs/OBPv6.0.0/swagger?content=dynamic</code>) fails with errors like &quot;expected boolean&quot;<br />
* The OBP endpoint (<code>/obp/v6.0.0/resource-docs/OBPv6.0.0/obp?content=dynamic</code>) works fine<br />
* You need to identify which dynamic entity has malformed field definitions</p>
<p><strong>What It Checks:</strong><br />
This endpoint analyzes all dynamic entities (both system and bank level) for:<br />
* Boolean fields with invalid example values (e.g., actual JSON booleans or invalid strings instead of <code>&quot;true&quot;</code> or <code>&quot;false&quot;</code>)<br />
* Malformed JSON in field definitions<br />
* Fields that cannot be converted to their declared types<br />
* Other validation issues that cause Swagger generation to fail</p>
<p><strong>Response Format:</strong><br />
The response contains:<br />
* <code>issues</code> - List of issues found, each with:<br />
* <code>entity_name</code> - Name of the problematic entity<br />
* <code>bank_id</code> - Bank ID (or &quot;SYSTEM_LEVEL&quot; for system entities)<br />
* <code>field_name</code> - Name of the problematic field<br />
* <code>example_value</code> - The current (invalid) example value<br />
* <code>error_message</code> - Description of what's wrong and how to fix it<br />
* <code>total_issues</code> - Count of total issues found<br />
* <code>scanned_entities</code> - List of all dynamic entities that were scanned (format: &quot;EntityName (BANK_ID)&quot; or &quot;EntityName (SYSTEM)&quot;)</p>
<p><strong>How to Fix Issues:</strong><br />
1. Identify the problematic entity from the diagnostic output<br />
2. Update the entity definition using PUT <code>/management/system-dynamic-entities/DYNAMIC_ENTITY_ID</code> or PUT <code>/management/banks/BANK_ID/dynamic-entities/DYNAMIC_ENTITY_ID</code><br />
3. For boolean fields, ensure the example value is either <code>&quot;true&quot;</code> or <code>&quot;false&quot;</code> (as strings)<br />
4. Re-run this diagnostic to verify the fix<br />
5. Check that the Swagger endpoint now works</p>
<p><strong>Example Issue:</strong></p>
<pre><code>{
  &quot;entity_name&quot;: &quot;Customer&quot;,
  &quot;bank_id&quot;: &quot;gh.29.uk&quot;,
  &quot;field_name&quot;: &quot;is_active&quot;,
  &quot;example_value&quot;: &quot;malformed_value&quot;,
  &quot;error_message&quot;: &quot;Boolean field has invalid example value. Expected 'true' or 'false', got: 'malformed_value'&quot;
}
</code></pre>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>Required Role:</strong> <code>CanGetDynamicEntityDiagnostics</code></p>
<p>If no issues are found, the response will contain an empty issues list with <code>total_issues: 0</code>, but <code>scanned_entities</code> will show which entities were checked.</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetDynamicEntityDiagnosticsRequest
*/
func (a *DynamicEntityAPIService) OBPv600GetDynamicEntityDiagnostics(ctx context.Context) ApiOBPv600GetDynamicEntityDiagnosticsRequest {
	return ApiOBPv600GetDynamicEntityDiagnosticsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetDynamicEntityDiagnostics200Response
func (a *DynamicEntityAPIService) OBPv600GetDynamicEntityDiagnosticsExecute(r ApiOBPv600GetDynamicEntityDiagnosticsRequest) (*OBPv600GetDynamicEntityDiagnostics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetDynamicEntityDiagnostics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DynamicEntityAPIService.OBPv600GetDynamicEntityDiagnostics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/management/diagnostics/dynamic-entities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetReferenceTypesRequest struct {
	ctx context.Context
	ApiService *DynamicEntityAPIService
}

func (r ApiOBPv600GetReferenceTypesRequest) Execute() (*OBPv600GetReferenceTypes200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetReferenceTypesExecute(r)
}

/*
OBPv600GetReferenceTypes Get Reference Types for Dynamic Entities

<p>Get a list of all available reference types that can be used in Dynamic Entity field definitions.</p>
<p>Reference types allow Dynamic Entity fields to reference other entities (similar to foreign keys).<br />
This endpoint returns both:<br />
* <strong>Static reference types</strong> - Built-in reference types for core OBP entities (e.g., Customer, Account, Transaction)<br />
* <strong>Dynamic reference types</strong> - Reference types for Dynamic Entities that have been created</p>
<p>Each reference type includes:<br />
* <code>type_name</code> - The full reference type string to use in entity definitions (e.g., &quot;reference:Customer&quot;)<br />
* <code>example_value</code> - An example value showing the correct format<br />
* <code>description</code> - Description of what the reference type represents</p>
<p><strong>Use Case:</strong><br />
When creating a Dynamic Entity with a field that references another entity, you need to know:<br />
1. What reference types are available<br />
2. The correct format for the type name<br />
3. The correct format for example values</p>
<p>This endpoint provides all that information.</p>
<p><strong>Example Usage:</strong><br />
If you want to create a Dynamic Entity with a field that references a Customer, you would:<br />
1. Call this endpoint to see that &quot;reference:Customer&quot; is available<br />
2. Use it in your entity definition like:</p>
<pre><code class="language-json">{
  &quot;customer_id&quot;: {
    &quot;type&quot;: &quot;reference:Customer&quot;,
    &quot;example&quot;: &quot;a8770fca-3d1d-47af-b6d0-7a6c3f124388&quot;
  }
}
</code></pre>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>Required Role:</strong> <code>CanGetDynamicEntityReferenceTypes</code></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetReferenceTypesRequest
*/
func (a *DynamicEntityAPIService) OBPv600GetReferenceTypes(ctx context.Context) ApiOBPv600GetReferenceTypesRequest {
	return ApiOBPv600GetReferenceTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetReferenceTypes200Response
func (a *DynamicEntityAPIService) OBPv600GetReferenceTypesExecute(r ApiOBPv600GetReferenceTypesRequest) (*OBPv600GetReferenceTypes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetReferenceTypes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DynamicEntityAPIService.OBPv600GetReferenceTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/management/dynamic-entities/reference-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
