/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// CacheAPIService CacheAPI service
type CacheAPIService service

type ApiOBPv600GetCacheConfigRequest struct {
	ctx context.Context
	ApiService *CacheAPIService
}

func (r ApiOBPv600GetCacheConfigRequest) Execute() (*OBPv600GetCacheConfig200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetCacheConfigExecute(r)
}

/*
OBPv600GetCacheConfig Get Cache Configuration

<p>Returns cache configuration information including:</p>
<ul>
<li>Redis status: availability, connection details (URL, port, SSL)</li>
<li>In-memory cache status: availability and current size</li>
<li>Instance ID and environment</li>
<li>Global cache namespace prefix</li>
</ul>
<p>This helps understand what cache backend is being used and how it's configured.</p>
<p>Authentication is Required</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>available</strong></a>: available</p>
<p><a href="/glossary#"><strong>current_size</strong></a>: current_size</p>
<p><a href="/glossary#"><strong>environment</strong></a>: environment</p>
<p><a href="/glossary#"><strong>global_prefix</strong></a>: global_prefix</p>
<p><a href="/glossary#"><strong>in_memory_status</strong></a>: in_memory_status</p>
<p><a href="/glossary#"><strong>instance_id</strong></a>: instance_id</p>
<p><a href="/glossary#"><strong>port</strong></a>: port</p>
<p><a href="/glossary#"><strong>redis_status</strong></a>: redis_status</p>
<p><a href="/glossary#"><strong>url</strong></a>: <a href="http://www.example.com/id-docs/123/image.png">http://www.example.com/id-docs/123/image.png</a></p>
<p><a href="/glossary#"><strong>use_ssl</strong></a>: use_ssl</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetCacheConfigRequest
*/
func (a *CacheAPIService) OBPv600GetCacheConfig(ctx context.Context) ApiOBPv600GetCacheConfigRequest {
	return ApiOBPv600GetCacheConfigRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetCacheConfig200Response
func (a *CacheAPIService) OBPv600GetCacheConfigExecute(r ApiOBPv600GetCacheConfigRequest) (*OBPv600GetCacheConfig200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetCacheConfig200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CacheAPIService.OBPv600GetCacheConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/system/cache/config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetCacheInfoRequest struct {
	ctx context.Context
	ApiService *CacheAPIService
}

func (r ApiOBPv600GetCacheInfoRequest) Execute() (*OBPv600GetCacheInfo200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetCacheInfoExecute(r)
}

/*
OBPv600GetCacheInfo Get Cache Information

<p>Returns detailed cache information for all namespaces:</p>
<ul>
<li>Namespace ID and versioned prefix</li>
<li>Current version counter</li>
<li>Number of keys in each namespace</li>
<li>Description and category</li>
<li>Storage location (redis, memory, both, or unknown)</li>
<li>&quot;redis&quot;: Keys stored in Redis</li>
<li>&quot;memory&quot;: Keys stored in in-memory cache</li>
<li>&quot;both&quot;: Keys in both locations (indicates a BUG - should never happen)</li>
<li>&quot;unknown&quot;: No keys found, storage location cannot be determined</li>
<li>TTL info: Sampled TTL information from actual keys</li>
<li>Shows actual TTL values from up to 5 sample keys</li>
<li>Format: &quot;123s&quot; (fixed), &quot;range 60s to 3600s (avg 1800s)&quot; (variable), &quot;no expiry&quot; (persistent)</li>
<li>Total key count across all namespaces</li>
<li>Redis availability status</li>
</ul>
<p>This endpoint helps monitor cache usage and identify which namespaces contain the most data.</p>
<p>Authentication is Required</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#category"><strong>category</strong></a>:</p>
<p><a href="/glossary#"><strong>current_version</strong></a>: current_version</p>
<p><a href="/glossary#description"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p>
<p><a href="/glossary#"><strong>key_count</strong></a>: key_count</p>
<p><a href="/glossary#"><strong>namespace_id</strong></a>: namespace_id</p>
<p><a href="/glossary#"><strong>namespaces</strong></a>: namespaces</p>
<p><a href="/glossary#"><strong>prefix</strong></a>: prefix</p>
<p><a href="/glossary#"><strong>redis_available</strong></a>: redis_available</p>
<p><a href="/glossary#"><strong>storage_location</strong></a>: storage_location</p>
<p><a href="/glossary#"><strong>total_keys</strong></a>: total_keys</p>
<p><a href="/glossary#"><strong>ttl_info</strong></a>: ttl_info</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetCacheInfoRequest
*/
func (a *CacheAPIService) OBPv600GetCacheInfo(ctx context.Context) ApiOBPv600GetCacheInfoRequest {
	return ApiOBPv600GetCacheInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetCacheInfo200Response
func (a *CacheAPIService) OBPv600GetCacheInfoExecute(r ApiOBPv600GetCacheInfoRequest) (*OBPv600GetCacheInfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetCacheInfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CacheAPIService.OBPv600GetCacheInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/system/cache/info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600GetCacheNamespacesRequest struct {
	ctx context.Context
	ApiService *CacheAPIService
}

func (r ApiOBPv600GetCacheNamespacesRequest) Execute() (*OBPv600GetCacheNamespaces200Response, *http.Response, error) {
	return r.ApiService.OBPv600GetCacheNamespacesExecute(r)
}

/*
OBPv600GetCacheNamespaces Get Cache Namespaces

<p>Returns information about all cache namespaces in the system.</p>
<p>This endpoint provides visibility into:<br />
* Cache namespace prefixes and their purposes<br />
* Number of keys in each namespace<br />
* TTL configurations<br />
* Example keys for each namespace</p>
<p>This is useful for:<br />
* Monitoring cache usage<br />
* Understanding cache structure<br />
* Debugging cache-related issues<br />
* Planning cache management operations</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#category"><strong>category</strong></a>:</p>
<p><a href="/glossary#description"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p>
<p><a href="/glossary#"><strong>example_key</strong></a>: example_key</p>
<p><a href="/glossary#"><strong>key_count</strong></a>: key_count</p>
<p><a href="/glossary#"><strong>namespaces</strong></a>: namespaces</p>
<p><a href="/glossary#"><strong>prefix</strong></a>: prefix</p>
<p><a href="/glossary#"><strong>ttl_seconds</strong></a>: ttl_seconds</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600GetCacheNamespacesRequest
*/
func (a *CacheAPIService) OBPv600GetCacheNamespaces(ctx context.Context) ApiOBPv600GetCacheNamespacesRequest {
	return ApiOBPv600GetCacheNamespacesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600GetCacheNamespaces200Response
func (a *CacheAPIService) OBPv600GetCacheNamespacesExecute(r ApiOBPv600GetCacheNamespacesRequest) (*OBPv600GetCacheNamespaces200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600GetCacheNamespaces200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CacheAPIService.OBPv600GetCacheNamespaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/system/cache/namespaces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOBPv600InvalidateCacheNamespaceRequest struct {
	ctx context.Context
	ApiService *CacheAPIService
	oBPv600InvalidateCacheNamespaceRequest *OBPv600InvalidateCacheNamespaceRequest
}

// Request body
func (r ApiOBPv600InvalidateCacheNamespaceRequest) OBPv600InvalidateCacheNamespaceRequest(oBPv600InvalidateCacheNamespaceRequest OBPv600InvalidateCacheNamespaceRequest) ApiOBPv600InvalidateCacheNamespaceRequest {
	r.oBPv600InvalidateCacheNamespaceRequest = &oBPv600InvalidateCacheNamespaceRequest
	return r
}

func (r ApiOBPv600InvalidateCacheNamespaceRequest) Execute() (*OBPv600InvalidateCacheNamespace200Response, *http.Response, error) {
	return r.ApiService.OBPv600InvalidateCacheNamespaceExecute(r)
}

/*
OBPv600InvalidateCacheNamespace Invalidate Cache Namespace

<p>Invalidates a cache namespace by incrementing its version counter.</p>
<p>This provides instant cache invalidation without deleting individual keys.<br />
Incrementing the version counter makes all keys with the old version unreachable.</p>
<p>Available namespace IDs: call_counter, rl_active, rd_localised, rd_dynamic,<br />
rd_static, rd_all, swagger_static, connector, metrics_stable, metrics_recent, abac_rule</p>
<p>Use after updating rate limits, translations, endpoints, or CBS data.</p>
<p>Authentication is Required</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON request body fields:</strong></p>
<p><a href="/glossary#"><strong>namespace_id</strong></a>: namespace_id</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>namespace_id</strong></a>: namespace_id</p>
<p><a href="/glossary#"><strong>new_version</strong></a>: new_version</p>
<p><a href="/glossary#"><strong>old_version</strong></a>: old_version</p>
<p><a href="/glossary#status"><strong>status</strong></a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOBPv600InvalidateCacheNamespaceRequest
*/
func (a *CacheAPIService) OBPv600InvalidateCacheNamespace(ctx context.Context) ApiOBPv600InvalidateCacheNamespaceRequest {
	return ApiOBPv600InvalidateCacheNamespaceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OBPv600InvalidateCacheNamespace200Response
func (a *CacheAPIService) OBPv600InvalidateCacheNamespaceExecute(r ApiOBPv600InvalidateCacheNamespaceRequest) (*OBPv600InvalidateCacheNamespace200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OBPv600InvalidateCacheNamespace200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CacheAPIService.OBPv600InvalidateCacheNamespace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/management/cache/namespaces/invalidate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oBPv600InvalidateCacheNamespaceRequest == nil {
		return localVarReturnValue, nil, reportError("oBPv600InvalidateCacheNamespaceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.oBPv600InvalidateCacheNamespaceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
