=begin
#Open Bank Project API v6.0.0

#The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

The version of the OpenAPI document: 6.0.0
Contact: contact@tesobe.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module OpenBankProject
  class ApiCollectionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create My Api Collection
    # <p>Create Api Collection for logged in user.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_name</strong></a>: Favourites</p> <p><a href=\"/glossary#\"><strong>is_sharable</strong></a>: is_sharable</p> <p><a href=\"/glossary#description\">description</a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_name</strong></a>: Favourites</p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#\"><strong>is_sharable</strong></a>: is_sharable</p> <p><a href=\"/glossary#\"><strong>user_id</strong></a>: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1</p> 
    # @param obpv400_create_my_api_collection_request [OBPv400CreateMyApiCollectionRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems]
    def o_bpv4_0_0_create_my_api_collection(obpv400_create_my_api_collection_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_create_my_api_collection_with_http_info(obpv400_create_my_api_collection_request, opts)
      data
    end

    # Create My Api Collection
    # &lt;p&gt;Create Api Collection for logged in user.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_name&lt;/strong&gt;&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;is_sharable&lt;/strong&gt;&lt;/a&gt;: is_sharable&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;description&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_name&lt;/strong&gt;&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;is_sharable&lt;/strong&gt;&lt;/a&gt;: is_sharable&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;user_id&lt;/strong&gt;&lt;/a&gt;: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1&lt;/p&gt; 
    # @param obpv400_create_my_api_collection_request [OBPv400CreateMyApiCollectionRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems, Integer, Hash)>] OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems data, response status code and response headers
    def o_bpv4_0_0_create_my_api_collection_with_http_info(obpv400_create_my_api_collection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_create_my_api_collection ...'
      end
      # verify the required parameter 'obpv400_create_my_api_collection_request' is set
      if @api_client.config.client_side_validation && obpv400_create_my_api_collection_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_create_my_api_collection_request' when calling ApiCollectionApi.o_bpv4_0_0_create_my_api_collection"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_create_my_api_collection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_create_my_api_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_create_my_api_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create My Api Collection Endpoint
    # <p>Create Api Collection Endpoint.</p> <p>glossary-item-not-found</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_NAME</a>: Favourites</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#\"><strong>operation_id</strong></a>: OBPv6.0.0-getBanks</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_endpoint_id</strong></a>: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>operation_id</strong></a>: OBPv6.0.0-getBanks</p> 
    # @param apicollectionname [String] The APICOLLECTIONNAME identifier
    # @param obpv400_create_my_api_collection_endpoint_request [OBPv400CreateMyApiCollectionEndpointRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems]
    def o_bpv4_0_0_create_my_api_collection_endpoint(apicollectionname, obpv400_create_my_api_collection_endpoint_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_create_my_api_collection_endpoint_with_http_info(apicollectionname, obpv400_create_my_api_collection_endpoint_request, opts)
      data
    end

    # Create My Api Collection Endpoint
    # &lt;p&gt;Create Api Collection Endpoint.&lt;/p&gt; &lt;p&gt;glossary-item-not-found&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_NAME&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;operation_id&lt;/strong&gt;&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_endpoint_id&lt;/strong&gt;&lt;/a&gt;: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;operation_id&lt;/strong&gt;&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; 
    # @param apicollectionname [String] The APICOLLECTIONNAME identifier
    # @param obpv400_create_my_api_collection_endpoint_request [OBPv400CreateMyApiCollectionEndpointRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems, Integer, Hash)>] OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems data, response status code and response headers
    def o_bpv4_0_0_create_my_api_collection_endpoint_with_http_info(apicollectionname, obpv400_create_my_api_collection_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_create_my_api_collection_endpoint ...'
      end
      # verify the required parameter 'apicollectionname' is set
      if @api_client.config.client_side_validation && apicollectionname.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionname' when calling ApiCollectionApi.o_bpv4_0_0_create_my_api_collection_endpoint"
      end
      # verify the required parameter 'obpv400_create_my_api_collection_endpoint_request' is set
      if @api_client.config.client_side_validation && obpv400_create_my_api_collection_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_create_my_api_collection_endpoint_request' when calling ApiCollectionApi.o_bpv4_0_0_create_my_api_collection_endpoint"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collections/{apicollectionname}/api-collection-endpoints'.sub('{' + 'apicollectionname' + '}', CGI.escape(apicollectionname.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_create_my_api_collection_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_create_my_api_collection_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_create_my_api_collection_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create My Api Collection Endpoint By Id
    # <p>Create Api Collection Endpoint By Id.</p> <p>glossary-item-not-found</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_ID</a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#\"><strong>operation_id</strong></a>: OBPv6.0.0-getBanks</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_endpoint_id</strong></a>: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>operation_id</strong></a>: OBPv6.0.0-getBanks</p> 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param obpv400_create_my_api_collection_endpoint_request [OBPv400CreateMyApiCollectionEndpointRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems]
    def o_bpv4_0_0_create_my_api_collection_endpoint_by_id(apicollectionid, obpv400_create_my_api_collection_endpoint_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_create_my_api_collection_endpoint_by_id_with_http_info(apicollectionid, obpv400_create_my_api_collection_endpoint_request, opts)
      data
    end

    # Create My Api Collection Endpoint By Id
    # &lt;p&gt;Create Api Collection Endpoint By Id.&lt;/p&gt; &lt;p&gt;glossary-item-not-found&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_ID&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;operation_id&lt;/strong&gt;&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_endpoint_id&lt;/strong&gt;&lt;/a&gt;: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;operation_id&lt;/strong&gt;&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param obpv400_create_my_api_collection_endpoint_request [OBPv400CreateMyApiCollectionEndpointRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems, Integer, Hash)>] OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems data, response status code and response headers
    def o_bpv4_0_0_create_my_api_collection_endpoint_by_id_with_http_info(apicollectionid, obpv400_create_my_api_collection_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_create_my_api_collection_endpoint_by_id ...'
      end
      # verify the required parameter 'apicollectionid' is set
      if @api_client.config.client_side_validation && apicollectionid.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionid' when calling ApiCollectionApi.o_bpv4_0_0_create_my_api_collection_endpoint_by_id"
      end
      # verify the required parameter 'obpv400_create_my_api_collection_endpoint_request' is set
      if @api_client.config.client_side_validation && obpv400_create_my_api_collection_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_create_my_api_collection_endpoint_request' when calling ApiCollectionApi.o_bpv4_0_0_create_my_api_collection_endpoint_by_id"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collection-ids/{apicollectionid}/api-collection-endpoints'.sub('{' + 'apicollectionid' + '}', CGI.escape(apicollectionid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_create_my_api_collection_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_create_my_api_collection_endpoint_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_create_my_api_collection_endpoint_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete My Api Collection
    # <p>Delete Api Collection By API_COLLECTION_ID</p> <p>glossary-item-not-found</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_ID</a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><strong>JSON response body fields:</strong></p> 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400DeleteSystemLevelEndpointTag200Response]
    def o_bpv4_0_0_delete_my_api_collection(apicollectionid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_delete_my_api_collection_with_http_info(apicollectionid, opts)
      data
    end

    # Delete My Api Collection
    # &lt;p&gt;Delete Api Collection By API_COLLECTION_ID&lt;/p&gt; &lt;p&gt;glossary-item-not-found&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_ID&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400DeleteSystemLevelEndpointTag200Response, Integer, Hash)>] OBPv400DeleteSystemLevelEndpointTag200Response data, response status code and response headers
    def o_bpv4_0_0_delete_my_api_collection_with_http_info(apicollectionid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection ...'
      end
      # verify the required parameter 'apicollectionid' is set
      if @api_client.config.client_side_validation && apicollectionid.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionid' when calling ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collections/{apicollectionid}'.sub('{' + 'apicollectionid' + '}', CGI.escape(apicollectionid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400DeleteSystemLevelEndpointTag200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_delete_my_api_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete My Api Collection Endpoint
    # <p>glossary-item-not-found</p> <p>Delete Api Collection Endpoint By OPERATION_ID</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_NAME</a>: Favourites</p> <p><a href=\"/glossary#\">OPERATION_ID</a>: OBPv6.0.0-getBanks</p> <p><strong>JSON response body fields:</strong></p> 
    # @param apicollectionname [String] The APICOLLECTIONNAME identifier
    # @param operationid [String] The OPERATIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400DeleteSystemLevelEndpointTag200Response]
    def o_bpv4_0_0_delete_my_api_collection_endpoint(apicollectionname, operationid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_delete_my_api_collection_endpoint_with_http_info(apicollectionname, operationid, opts)
      data
    end

    # Delete My Api Collection Endpoint
    # &lt;p&gt;glossary-item-not-found&lt;/p&gt; &lt;p&gt;Delete Api Collection Endpoint By OPERATION_ID&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_NAME&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;OPERATION_ID&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param apicollectionname [String] The APICOLLECTIONNAME identifier
    # @param operationid [String] The OPERATIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400DeleteSystemLevelEndpointTag200Response, Integer, Hash)>] OBPv400DeleteSystemLevelEndpointTag200Response data, response status code and response headers
    def o_bpv4_0_0_delete_my_api_collection_endpoint_with_http_info(apicollectionname, operationid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint ...'
      end
      # verify the required parameter 'apicollectionname' is set
      if @api_client.config.client_side_validation && apicollectionname.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionname' when calling ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint"
      end
      # verify the required parameter 'operationid' is set
      if @api_client.config.client_side_validation && operationid.nil?
        fail ArgumentError, "Missing the required parameter 'operationid' when calling ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collections/{apicollectionname}/api-collection-endpoints/{operationid}'.sub('{' + 'apicollectionname' + '}', CGI.escape(apicollectionname.to_s)).sub('{' + 'operationid' + '}', CGI.escape(operationid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400DeleteSystemLevelEndpointTag200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_delete_my_api_collection_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete My Api Collection Endpoint By Id
    # <p>glossary-item-not-found<br /> Delete Api Collection Endpoint<br /> Delete Api Collection Endpoint By Id</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_ENDPOINT_ID</a>: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\">API_COLLECTION_ID</a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><strong>JSON response body fields:</strong></p> 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param apicollectionendpointid [String] The APICOLLECTIONENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400DeleteSystemLevelEndpointTag200Response]
    def o_bpv4_0_0_delete_my_api_collection_endpoint_by_id(apicollectionid, apicollectionendpointid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_delete_my_api_collection_endpoint_by_id_with_http_info(apicollectionid, apicollectionendpointid, opts)
      data
    end

    # Delete My Api Collection Endpoint By Id
    # &lt;p&gt;glossary-item-not-found&lt;br /&gt; Delete Api Collection Endpoint&lt;br /&gt; Delete Api Collection Endpoint By Id&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_ENDPOINT_ID&lt;/a&gt;: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_ID&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param apicollectionendpointid [String] The APICOLLECTIONENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400DeleteSystemLevelEndpointTag200Response, Integer, Hash)>] OBPv400DeleteSystemLevelEndpointTag200Response data, response status code and response headers
    def o_bpv4_0_0_delete_my_api_collection_endpoint_by_id_with_http_info(apicollectionid, apicollectionendpointid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint_by_id ...'
      end
      # verify the required parameter 'apicollectionid' is set
      if @api_client.config.client_side_validation && apicollectionid.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionid' when calling ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint_by_id"
      end
      # verify the required parameter 'apicollectionendpointid' is set
      if @api_client.config.client_side_validation && apicollectionendpointid.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionendpointid' when calling ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint_by_id"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collection-ids/{apicollectionid}/api-collection-endpoint-ids/{apicollectionendpointid}'.sub('{' + 'apicollectionid' + '}', CGI.escape(apicollectionid.to_s)).sub('{' + 'apicollectionendpointid' + '}', CGI.escape(apicollectionendpointid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400DeleteSystemLevelEndpointTag200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_delete_my_api_collection_endpoint_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete My Api Collection Endpoint By Id
    # <p>glossary-item-not-found</p> <p>Delete Api Collection Endpoint By OPERATION_ID</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_ID</a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\">OPERATION_ID</a>: OBPv6.0.0-getBanks</p> <p><strong>JSON response body fields:</strong></p> 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param operationid [String] The OPERATIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400DeleteSystemLevelEndpointTag200Response]
    def o_bpv4_0_0_delete_my_api_collection_endpoint_by_operation_id(apicollectionid, operationid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_delete_my_api_collection_endpoint_by_operation_id_with_http_info(apicollectionid, operationid, opts)
      data
    end

    # Delete My Api Collection Endpoint By Id
    # &lt;p&gt;glossary-item-not-found&lt;/p&gt; &lt;p&gt;Delete Api Collection Endpoint By OPERATION_ID&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_ID&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;OPERATION_ID&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param operationid [String] The OPERATIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400DeleteSystemLevelEndpointTag200Response, Integer, Hash)>] OBPv400DeleteSystemLevelEndpointTag200Response data, response status code and response headers
    def o_bpv4_0_0_delete_my_api_collection_endpoint_by_operation_id_with_http_info(apicollectionid, operationid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint_by_operation_id ...'
      end
      # verify the required parameter 'apicollectionid' is set
      if @api_client.config.client_side_validation && apicollectionid.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionid' when calling ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint_by_operation_id"
      end
      # verify the required parameter 'operationid' is set
      if @api_client.config.client_side_validation && operationid.nil?
        fail ArgumentError, "Missing the required parameter 'operationid' when calling ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint_by_operation_id"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collection-ids/{apicollectionid}/api-collection-endpoints/{operationid}'.sub('{' + 'apicollectionid' + '}', CGI.escape(apicollectionid.to_s)).sub('{' + 'operationid' + '}', CGI.escape(operationid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400DeleteSystemLevelEndpointTag200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_delete_my_api_collection_endpoint_by_operation_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_delete_my_api_collection_endpoint_by_operation_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Api Collection Endpoints
    # <p>Get Api Collection Endpoints By API_COLLECTION_ID.</p> <p>User Authentication is Optional. The User need not be logged in.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_ID</a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_endpoint_id</strong></a>: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_endpoints</strong></a>: api_collection_endpoints</p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>operation_id</strong></a>: OBPv6.0.0-getBanks</p> 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetMyApiCollectionEndpoints200Response]
    def o_bpv4_0_0_get_api_collection_endpoints(apicollectionid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_api_collection_endpoints_with_http_info(apicollectionid, opts)
      data
    end

    # Get Api Collection Endpoints
    # &lt;p&gt;Get Api Collection Endpoints By API_COLLECTION_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Optional. The User need not be logged in.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_ID&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_endpoint_id&lt;/strong&gt;&lt;/a&gt;: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_endpoints&lt;/strong&gt;&lt;/a&gt;: api_collection_endpoints&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;operation_id&lt;/strong&gt;&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetMyApiCollectionEndpoints200Response, Integer, Hash)>] OBPv400GetMyApiCollectionEndpoints200Response data, response status code and response headers
    def o_bpv4_0_0_get_api_collection_endpoints_with_http_info(apicollectionid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_get_api_collection_endpoints ...'
      end
      # verify the required parameter 'apicollectionid' is set
      if @api_client.config.client_side_validation && apicollectionid.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionid' when calling ApiCollectionApi.o_bpv4_0_0_get_api_collection_endpoints"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/api-collections/{apicollectionid}/api-collection-endpoints'.sub('{' + 'apicollectionid' + '}', CGI.escape(apicollectionid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetMyApiCollectionEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_get_api_collection_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_get_api_collection_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Api Collections for User
    # <p>Get Api Collections for User.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#User.user_id\">USER_ID</a>: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_name</strong></a>: Favourites</p> <p><a href=\"/glossary#\"><strong>api_collections</strong></a>: api_collections</p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#\"><strong>is_sharable</strong></a>: is_sharable</p> <p><a href=\"/glossary#\"><strong>user_id</strong></a>: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1</p> 
    # @param userid [String] The USERID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetApiCollectionsForUser200Response]
    def o_bpv4_0_0_get_api_collections_for_user(userid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_api_collections_for_user_with_http_info(userid, opts)
      data
    end

    # Get Api Collections for User
    # &lt;p&gt;Get Api Collections for User.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#User.user_id\&quot;&gt;USER_ID&lt;/a&gt;: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_name&lt;/strong&gt;&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collections&lt;/strong&gt;&lt;/a&gt;: api_collections&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;is_sharable&lt;/strong&gt;&lt;/a&gt;: is_sharable&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;user_id&lt;/strong&gt;&lt;/a&gt;: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1&lt;/p&gt; 
    # @param userid [String] The USERID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetApiCollectionsForUser200Response, Integer, Hash)>] OBPv400GetApiCollectionsForUser200Response data, response status code and response headers
    def o_bpv4_0_0_get_api_collections_for_user_with_http_info(userid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_get_api_collections_for_user ...'
      end
      # verify the required parameter 'userid' is set
      if @api_client.config.client_side_validation && userid.nil?
        fail ArgumentError, "Missing the required parameter 'userid' when calling ApiCollectionApi.o_bpv4_0_0_get_api_collections_for_user"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/users/{userid}/api-collections'.sub('{' + 'userid' + '}', CGI.escape(userid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetApiCollectionsForUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_get_api_collections_for_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_get_api_collections_for_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Featured Api Collections
    # <p>Get Featured Api Collections.</p> <p>User Authentication is Optional. The User need not be logged in.</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_name</strong></a>: Favourites</p> <p><a href=\"/glossary#\"><strong>api_collections</strong></a>: api_collections</p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#\"><strong>is_sharable</strong></a>: is_sharable</p> <p><a href=\"/glossary#\"><strong>user_id</strong></a>: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1</p> 
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetApiCollectionsForUser200Response]
    def o_bpv4_0_0_get_featured_api_collections(opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_featured_api_collections_with_http_info(opts)
      data
    end

    # Get Featured Api Collections
    # &lt;p&gt;Get Featured Api Collections.&lt;/p&gt; &lt;p&gt;User Authentication is Optional. The User need not be logged in.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_name&lt;/strong&gt;&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collections&lt;/strong&gt;&lt;/a&gt;: api_collections&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;is_sharable&lt;/strong&gt;&lt;/a&gt;: is_sharable&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;user_id&lt;/strong&gt;&lt;/a&gt;: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1&lt;/p&gt; 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetApiCollectionsForUser200Response, Integer, Hash)>] OBPv400GetApiCollectionsForUser200Response data, response status code and response headers
    def o_bpv4_0_0_get_featured_api_collections_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_get_featured_api_collections ...'
      end
      # resource path
      local_var_path = '/obp/v4.0.0/api-collections/featured'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetApiCollectionsForUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_get_featured_api_collections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_get_featured_api_collections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get My Api Collection By Id
    # <p>Get Api Collection By API_COLLECTION_ID.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_ID</a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_name</strong></a>: Favourites</p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#\"><strong>is_sharable</strong></a>: is_sharable</p> <p><a href=\"/glossary#\"><strong>user_id</strong></a>: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1</p> 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems]
    def o_bpv4_0_0_get_my_api_collection_by_id(apicollectionid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_my_api_collection_by_id_with_http_info(apicollectionid, opts)
      data
    end

    # Get My Api Collection By Id
    # &lt;p&gt;Get Api Collection By API_COLLECTION_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_ID&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_name&lt;/strong&gt;&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;is_sharable&lt;/strong&gt;&lt;/a&gt;: is_sharable&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;user_id&lt;/strong&gt;&lt;/a&gt;: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1&lt;/p&gt; 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems, Integer, Hash)>] OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems data, response status code and response headers
    def o_bpv4_0_0_get_my_api_collection_by_id_with_http_info(apicollectionid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_by_id ...'
      end
      # verify the required parameter 'apicollectionid' is set
      if @api_client.config.client_side_validation && apicollectionid.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionid' when calling ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_by_id"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collections/{apicollectionid}'.sub('{' + 'apicollectionid' + '}', CGI.escape(apicollectionid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_get_my_api_collection_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get My Api Collection By Name
    # <p>Get Api Collection By API_COLLECTION_NAME.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_NAME</a>: Favourites</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_name</strong></a>: Favourites</p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#\"><strong>is_sharable</strong></a>: is_sharable</p> <p><a href=\"/glossary#\"><strong>user_id</strong></a>: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1</p> 
    # @param apicollectionname [String] The APICOLLECTIONNAME identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems]
    def o_bpv4_0_0_get_my_api_collection_by_name(apicollectionname, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_my_api_collection_by_name_with_http_info(apicollectionname, opts)
      data
    end

    # Get My Api Collection By Name
    # &lt;p&gt;Get Api Collection By API_COLLECTION_NAME.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_NAME&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_name&lt;/strong&gt;&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;is_sharable&lt;/strong&gt;&lt;/a&gt;: is_sharable&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;user_id&lt;/strong&gt;&lt;/a&gt;: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1&lt;/p&gt; 
    # @param apicollectionname [String] The APICOLLECTIONNAME identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems, Integer, Hash)>] OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems data, response status code and response headers
    def o_bpv4_0_0_get_my_api_collection_by_name_with_http_info(apicollectionname, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_by_name ...'
      end
      # verify the required parameter 'apicollectionname' is set
      if @api_client.config.client_side_validation && apicollectionname.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionname' when calling ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_by_name"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collections/name/{apicollectionname}'.sub('{' + 'apicollectionname' + '}', CGI.escape(apicollectionname.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_by_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_get_my_api_collection_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get My Api Collection Endpoint
    # <p>Get Api Collection Endpoint By API_COLLECTION_NAME and OPERATION_ID.</p> <p>User Authentication is Optional. The User need not be logged in.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_NAME</a>: Favourites</p> <p><a href=\"/glossary#\">OPERATION_ID</a>: OBPv6.0.0-getBanks</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_endpoint_id</strong></a>: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>operation_id</strong></a>: OBPv6.0.0-getBanks</p> 
    # @param apicollectionname [String] The APICOLLECTIONNAME identifier
    # @param operationid [String] The OPERATIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems]
    def o_bpv4_0_0_get_my_api_collection_endpoint(apicollectionname, operationid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_my_api_collection_endpoint_with_http_info(apicollectionname, operationid, opts)
      data
    end

    # Get My Api Collection Endpoint
    # &lt;p&gt;Get Api Collection Endpoint By API_COLLECTION_NAME and OPERATION_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Optional. The User need not be logged in.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_NAME&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;OPERATION_ID&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_endpoint_id&lt;/strong&gt;&lt;/a&gt;: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;operation_id&lt;/strong&gt;&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; 
    # @param apicollectionname [String] The APICOLLECTIONNAME identifier
    # @param operationid [String] The OPERATIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems, Integer, Hash)>] OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems data, response status code and response headers
    def o_bpv4_0_0_get_my_api_collection_endpoint_with_http_info(apicollectionname, operationid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_endpoint ...'
      end
      # verify the required parameter 'apicollectionname' is set
      if @api_client.config.client_side_validation && apicollectionname.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionname' when calling ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_endpoint"
      end
      # verify the required parameter 'operationid' is set
      if @api_client.config.client_side_validation && operationid.nil?
        fail ArgumentError, "Missing the required parameter 'operationid' when calling ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_endpoint"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collections/{apicollectionname}/api-collection-endpoints/{operationid}'.sub('{' + 'apicollectionname' + '}', CGI.escape(apicollectionname.to_s)).sub('{' + 'operationid' + '}', CGI.escape(operationid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetMyApiCollectionEndpoints200ResponsePropertiesApiCollectionEndpointsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_get_my_api_collection_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get My Api Collection Endpoints
    # <p>Get Api Collection Endpoints By API_COLLECTION_NAME.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_NAME</a>: Favourites</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_endpoint_id</strong></a>: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_endpoints</strong></a>: api_collection_endpoints</p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>operation_id</strong></a>: OBPv6.0.0-getBanks</p> 
    # @param apicollectionname [String] The APICOLLECTIONNAME identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetMyApiCollectionEndpoints200Response]
    def o_bpv4_0_0_get_my_api_collection_endpoints(apicollectionname, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_my_api_collection_endpoints_with_http_info(apicollectionname, opts)
      data
    end

    # Get My Api Collection Endpoints
    # &lt;p&gt;Get Api Collection Endpoints By API_COLLECTION_NAME.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_NAME&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_endpoint_id&lt;/strong&gt;&lt;/a&gt;: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_endpoints&lt;/strong&gt;&lt;/a&gt;: api_collection_endpoints&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;operation_id&lt;/strong&gt;&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; 
    # @param apicollectionname [String] The APICOLLECTIONNAME identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetMyApiCollectionEndpoints200Response, Integer, Hash)>] OBPv400GetMyApiCollectionEndpoints200Response data, response status code and response headers
    def o_bpv4_0_0_get_my_api_collection_endpoints_with_http_info(apicollectionname, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_endpoints ...'
      end
      # verify the required parameter 'apicollectionname' is set
      if @api_client.config.client_side_validation && apicollectionname.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionname' when calling ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_endpoints"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collections/{apicollectionname}/api-collection-endpoints'.sub('{' + 'apicollectionname' + '}', CGI.escape(apicollectionname.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetMyApiCollectionEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_get_my_api_collection_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get My Api Collection Endpoints By Id
    # <p>Get Api Collection Endpoints By API_COLLECTION_ID.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_ID</a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_endpoint_id</strong></a>: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_endpoints</strong></a>: api_collection_endpoints</p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>operation_id</strong></a>: OBPv6.0.0-getBanks</p> 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetMyApiCollectionEndpoints200Response]
    def o_bpv4_0_0_get_my_api_collection_endpoints_by_id(apicollectionid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_my_api_collection_endpoints_by_id_with_http_info(apicollectionid, opts)
      data
    end

    # Get My Api Collection Endpoints By Id
    # &lt;p&gt;Get Api Collection Endpoints By API_COLLECTION_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_ID&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_endpoint_id&lt;/strong&gt;&lt;/a&gt;: 8uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_endpoints&lt;/strong&gt;&lt;/a&gt;: api_collection_endpoints&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;operation_id&lt;/strong&gt;&lt;/a&gt;: OBPv6.0.0-getBanks&lt;/p&gt; 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetMyApiCollectionEndpoints200Response, Integer, Hash)>] OBPv400GetMyApiCollectionEndpoints200Response data, response status code and response headers
    def o_bpv4_0_0_get_my_api_collection_endpoints_by_id_with_http_info(apicollectionid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_endpoints_by_id ...'
      end
      # verify the required parameter 'apicollectionid' is set
      if @api_client.config.client_side_validation && apicollectionid.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionid' when calling ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_endpoints_by_id"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collection-ids/{apicollectionid}/api-collection-endpoints'.sub('{' + 'apicollectionid' + '}', CGI.escape(apicollectionid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetMyApiCollectionEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_get_my_api_collection_endpoints_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_get_my_api_collection_endpoints_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get My Api Collections
    # <p>Get all the apiCollections for logged in user.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_name</strong></a>: Favourites</p> <p><a href=\"/glossary#\"><strong>api_collections</strong></a>: api_collections</p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#\"><strong>is_sharable</strong></a>: is_sharable</p> <p><a href=\"/glossary#\"><strong>user_id</strong></a>: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1</p> 
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetApiCollectionsForUser200Response]
    def o_bpv4_0_0_get_my_api_collections(opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_my_api_collections_with_http_info(opts)
      data
    end

    # Get My Api Collections
    # &lt;p&gt;Get all the apiCollections for logged in user.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_name&lt;/strong&gt;&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collections&lt;/strong&gt;&lt;/a&gt;: api_collections&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;is_sharable&lt;/strong&gt;&lt;/a&gt;: is_sharable&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;user_id&lt;/strong&gt;&lt;/a&gt;: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1&lt;/p&gt; 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetApiCollectionsForUser200Response, Integer, Hash)>] OBPv400GetApiCollectionsForUser200Response data, response status code and response headers
    def o_bpv4_0_0_get_my_api_collections_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_get_my_api_collections ...'
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/api-collections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetApiCollectionsForUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_get_my_api_collections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_get_my_api_collections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Sharable Api Collection By Id
    # <p>Get Sharable Api Collection By Id.<br /> User Authentication is Optional. The User need not be logged in.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_ID</a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_name</strong></a>: Favourites</p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#\"><strong>is_sharable</strong></a>: is_sharable</p> <p><a href=\"/glossary#\"><strong>user_id</strong></a>: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1</p> 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems]
    def o_bpv4_0_0_get_sharable_api_collection_by_id(apicollectionid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_sharable_api_collection_by_id_with_http_info(apicollectionid, opts)
      data
    end

    # Get Sharable Api Collection By Id
    # &lt;p&gt;Get Sharable Api Collection By Id.&lt;br /&gt; User Authentication is Optional. The User need not be logged in.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_ID&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_name&lt;/strong&gt;&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;is_sharable&lt;/strong&gt;&lt;/a&gt;: is_sharable&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;user_id&lt;/strong&gt;&lt;/a&gt;: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1&lt;/p&gt; 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems, Integer, Hash)>] OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems data, response status code and response headers
    def o_bpv4_0_0_get_sharable_api_collection_by_id_with_http_info(apicollectionid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv4_0_0_get_sharable_api_collection_by_id ...'
      end
      # verify the required parameter 'apicollectionid' is set
      if @api_client.config.client_side_validation && apicollectionid.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionid' when calling ApiCollectionApi.o_bpv4_0_0_get_sharable_api_collection_by_id"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/api-collections/sharable/{apicollectionid}'.sub('{' + 'apicollectionid' + '}', CGI.escape(apicollectionid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv4_0_0_get_sharable_api_collection_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv4_0_0_get_sharable_api_collection_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All API Collections
    # <p>Get All API Collections.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_name</strong></a>: Favourites</p> <p><a href=\"/glossary#\"><strong>api_collections</strong></a>: api_collections</p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#\"><strong>is_sharable</strong></a>: is_sharable</p> <p><a href=\"/glossary#\"><strong>user_id</strong></a>: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1</p> 
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetApiCollectionsForUser200Response]
    def o_bpv5_1_0_get_all_api_collections(opts = {})
      data, _status_code, _headers = o_bpv5_1_0_get_all_api_collections_with_http_info(opts)
      data
    end

    # Get All API Collections
    # &lt;p&gt;Get All API Collections.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_name&lt;/strong&gt;&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collections&lt;/strong&gt;&lt;/a&gt;: api_collections&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;is_sharable&lt;/strong&gt;&lt;/a&gt;: is_sharable&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;user_id&lt;/strong&gt;&lt;/a&gt;: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1&lt;/p&gt; 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetApiCollectionsForUser200Response, Integer, Hash)>] OBPv400GetApiCollectionsForUser200Response data, response status code and response headers
    def o_bpv5_1_0_get_all_api_collections_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv5_1_0_get_all_api_collections ...'
      end
      # resource path
      local_var_path = '/obp/v5.1.0/management/api-collections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetApiCollectionsForUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv5_1_0_get_all_api_collections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv5_1_0_get_all_api_collections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update My Api Collection By API_COLLECTION_ID
    # <p>Update Api Collection for logged in user.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">API_COLLECTION_ID</a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>api_collection_name</strong></a>: Favourites</p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#\"><strong>is_sharable</strong></a>: is_sharable</p> <p><a href=\"/glossary#\"><strong>user_id</strong></a>: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1</p> 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param obpv400_create_my_api_collection_request [OBPv400CreateMyApiCollectionRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems]
    def o_bpv5_1_0_update_my_api_collection(apicollectionid, obpv400_create_my_api_collection_request, opts = {})
      data, _status_code, _headers = o_bpv5_1_0_update_my_api_collection_with_http_info(apicollectionid, obpv400_create_my_api_collection_request, opts)
      data
    end

    # Update My Api Collection By API_COLLECTION_ID
    # &lt;p&gt;Update Api Collection for logged in user.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;API_COLLECTION_ID&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_name&lt;/strong&gt;&lt;/a&gt;: Favourites&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;is_sharable&lt;/strong&gt;&lt;/a&gt;: is_sharable&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;user_id&lt;/strong&gt;&lt;/a&gt;: 9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1&lt;/p&gt; 
    # @param apicollectionid [String] The APICOLLECTIONID identifier
    # @param obpv400_create_my_api_collection_request [OBPv400CreateMyApiCollectionRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems, Integer, Hash)>] OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems data, response status code and response headers
    def o_bpv5_1_0_update_my_api_collection_with_http_info(apicollectionid, obpv400_create_my_api_collection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv5_1_0_update_my_api_collection ...'
      end
      # verify the required parameter 'apicollectionid' is set
      if @api_client.config.client_side_validation && apicollectionid.nil?
        fail ArgumentError, "Missing the required parameter 'apicollectionid' when calling ApiCollectionApi.o_bpv5_1_0_update_my_api_collection"
      end
      # verify the required parameter 'obpv400_create_my_api_collection_request' is set
      if @api_client.config.client_side_validation && obpv400_create_my_api_collection_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_create_my_api_collection_request' when calling ApiCollectionApi.o_bpv5_1_0_update_my_api_collection"
      end
      # resource path
      local_var_path = '/obp/v5.1.0/my/api-collections/{apicollectionid}'.sub('{' + 'apicollectionid' + '}', CGI.escape(apicollectionid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_create_my_api_collection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetApiCollectionsForUser200ResponsePropertiesApiCollectionsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv5_1_0_update_my_api_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiCollectionApi#o_bpv5_1_0_update_my_api_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Featured Api Collection
    # <p>Add an API Collection to the featured list.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>sort_order</strong></a>: 1</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>api_collection_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>featured_api_collection_id</strong></a>: 9uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p> <p><a href=\"/glossary#\"><strong>sort_order</strong></a>: 1</p> 
    # @param obpv600_create_featured_api_collection_request [OBPv600CreateFeaturedApiCollectionRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv600GetFeaturedApiCollectionsAdmin200ResponsePropertiesFeaturedApiCollectionsItems]
    def o_bpv6_0_0_create_featured_api_collection(obpv600_create_featured_api_collection_request, opts = {})
      data, _status_code, _headers = o_bpv6_0_0_create_featured_api_collection_with_http_info(obpv600_create_featured_api_collection_request, opts)
      data
    end

    # Create Featured Api Collection
    # &lt;p&gt;Add an API Collection to the featured list.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;sort_order&lt;/strong&gt;&lt;/a&gt;: 1&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;api_collection_id&lt;/strong&gt;&lt;/a&gt;: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;featured_api_collection_id&lt;/strong&gt;&lt;/a&gt;: 9uy8a7e4-6d02-40e3-a129-0b2bf89de8uh&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;sort_order&lt;/strong&gt;&lt;/a&gt;: 1&lt;/p&gt; 
    # @param obpv600_create_featured_api_collection_request [OBPv600CreateFeaturedApiCollectionRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv600GetFeaturedApiCollectionsAdmin200ResponsePropertiesFeaturedApiCollectionsItems, Integer, Hash)>] OBPv600GetFeaturedApiCollectionsAdmin200ResponsePropertiesFeaturedApiCollectionsItems data, response status code and response headers
    def o_bpv6_0_0_create_featured_api_collection_with_http_info(obpv600_create_featured_api_collection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiCollectionApi.o_bpv6_0_0_create_featured_api_collection ...'
      end
      # verify the required parameter 'obpv600_create_featured_api_collection_request' is set
      if @api_client.config.client_side_validation && obpv600_create_featured_api_collection_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv600_create_featured_api_collection_request' when calling ApiCollectionApi.o_bpv6_0_0_create_featured_api_collection"
      end
      # resource path
      local_var_path = '/obp/v6.0.0/management/api-collections/featured'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv600_create_featured_api_collection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv600GetFeaturedApiCollectionsAdmin200ResponsePropertiesFeaturedApiCollectionsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ApiCollectionApi.o_bpv6_0_0_create_featured_api_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
[...]
