=begin
#Open Bank Project API v6.0.0

#The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

The version of the OpenAPI document: 6.0.0
Contact: contact@tesobe.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module OpenBankProject
  class ConnectorMethodApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Connector Method
    # <p>Create an internal connector.</p> <p>The method_body is URL-encoded format String</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>JSON request body fields:</strong></p> <p><strong>JSON response body fields:</strong></p> 
    # @param obpv400_create_connector_method_request [OBPv400CreateConnectorMethodRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems]
    def o_bpv4_0_0_create_connector_method(obpv400_create_connector_method_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_create_connector_method_with_http_info(obpv400_create_connector_method_request, opts)
      data
    end

    # Create Connector Method
    # &lt;p&gt;Create an internal connector.&lt;/p&gt; &lt;p&gt;The method_body is URL-encoded format String&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param obpv400_create_connector_method_request [OBPv400CreateConnectorMethodRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems, Integer, Hash)>] OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems data, response status code and response headers
    def o_bpv4_0_0_create_connector_method_with_http_info(obpv400_create_connector_method_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorMethodApi.o_bpv4_0_0_create_connector_method ...'
      end
      # verify the required parameter 'obpv400_create_connector_method_request' is set
      if @api_client.config.client_side_validation && obpv400_create_connector_method_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_create_connector_method_request' when calling ConnectorMethodApi.o_bpv4_0_0_create_connector_method"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/connector-methods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_create_connector_method_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ConnectorMethodApi.o_bpv4_0_0_create_connector_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorMethodApi#o_bpv4_0_0_create_connector_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all Connector Methods
    # <p>Get all Connector Methods.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>JSON response body fields:</strong></p> 
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetAllConnectorMethods200Response]
    def o_bpv4_0_0_get_all_connector_methods(opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_all_connector_methods_with_http_info(opts)
      data
    end

    # Get all Connector Methods
    # &lt;p&gt;Get all Connector Methods.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetAllConnectorMethods200Response, Integer, Hash)>] OBPv400GetAllConnectorMethods200Response data, response status code and response headers
    def o_bpv4_0_0_get_all_connector_methods_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorMethodApi.o_bpv4_0_0_get_all_connector_methods ...'
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/connector-methods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetAllConnectorMethods200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ConnectorMethodApi.o_bpv4_0_0_get_all_connector_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorMethodApi#o_bpv4_0_0_get_all_connector_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Connector Method by Id
    # <p>Get an internal connector by CONNECTOR_METHOD_ID.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">CONNECTOR_METHOD_ID</a>: ace0352a-9a0f-4bfa-b30b-9003aa467f51</p> <p><strong>JSON response body fields:</strong></p> 
    # @param connectormethodid [String] The CONNECTORMETHODID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems]
    def o_bpv4_0_0_get_connector_method(connectormethodid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_connector_method_with_http_info(connectormethodid, opts)
      data
    end

    # Get Connector Method by Id
    # &lt;p&gt;Get an internal connector by CONNECTOR_METHOD_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;CONNECTOR_METHOD_ID&lt;/a&gt;: ace0352a-9a0f-4bfa-b30b-9003aa467f51&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param connectormethodid [String] The CONNECTORMETHODID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems, Integer, Hash)>] OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems data, response status code and response headers
    def o_bpv4_0_0_get_connector_method_with_http_info(connectormethodid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorMethodApi.o_bpv4_0_0_get_connector_method ...'
      end
      # verify the required parameter 'connectormethodid' is set
      if @api_client.config.client_side_validation && connectormethodid.nil?
        fail ArgumentError, "Missing the required parameter 'connectormethodid' when calling ConnectorMethodApi.o_bpv4_0_0_get_connector_method"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/connector-methods/{connectormethodid}'.sub('{' + 'connectormethodid' + '}', CGI.escape(connectormethodid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ConnectorMethodApi.o_bpv4_0_0_get_connector_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorMethodApi#o_bpv4_0_0_get_connector_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Connector Method
    # <p>Update an internal connector.</p> <p>The method_body is URL-encoded format String</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">CONNECTOR_METHOD_ID</a>: ace0352a-9a0f-4bfa-b30b-9003aa467f51</p> <p><strong>JSON response body fields:</strong></p> 
    # @param connectormethodid [String] The CONNECTORMETHODID identifier
    # @param obpv400_update_connector_method_request [OBPv400UpdateConnectorMethodRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems]
    def o_bpv4_0_0_update_connector_method(connectormethodid, obpv400_update_connector_method_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_update_connector_method_with_http_info(connectormethodid, obpv400_update_connector_method_request, opts)
      data
    end

    # Update Connector Method
    # &lt;p&gt;Update an internal connector.&lt;/p&gt; &lt;p&gt;The method_body is URL-encoded format String&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;CONNECTOR_METHOD_ID&lt;/a&gt;: ace0352a-9a0f-4bfa-b30b-9003aa467f51&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param connectormethodid [String] The CONNECTORMETHODID identifier
    # @param obpv400_update_connector_method_request [OBPv400UpdateConnectorMethodRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems, Integer, Hash)>] OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems data, response status code and response headers
    def o_bpv4_0_0_update_connector_method_with_http_info(connectormethodid, obpv400_update_connector_method_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorMethodApi.o_bpv4_0_0_update_connector_method ...'
      end
      # verify the required parameter 'connectormethodid' is set
      if @api_client.config.client_side_validation && connectormethodid.nil?
        fail ArgumentError, "Missing the required parameter 'connectormethodid' when calling ConnectorMethodApi.o_bpv4_0_0_update_connector_method"
      end
      # verify the required parameter 'obpv400_update_connector_method_request' is set
      if @api_client.config.client_side_validation && obpv400_update_connector_method_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_update_connector_method_request' when calling ConnectorMethodApi.o_bpv4_0_0_update_connector_method"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/connector-methods/{connectormethodid}'.sub('{' + 'connectormethodid' + '}', CGI.escape(connectormethodid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_update_connector_method_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetAllConnectorMethods200ResponsePropertiesConnectorsMethodsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ConnectorMethodApi.o_bpv4_0_0_update_connector_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorMethodApi#o_bpv4_0_0_update_connector_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Connector Method Names
    # <p>Get the list of all available connector method names.</p> <p>These are the method names that can be used in Method Routing configuration.</p> <h2><a href=\"#data-source\" id=\"data-source\">Data Source</a></h2> <p>The data comes from <strong>scanning the actual Scala connector code at runtime</strong> using reflection, NOT from a database or configuration file.</p> <p>The endpoint:<br /> 1. Reads the connector name from props (e.g., <code>connector=mapped</code>)<br /> 2. Gets the connector instance (e.g., LocalMappedConnector, KafkaConnector, StarConnector)<br /> 3. Uses Scala reflection to scan all public methods that override the base Connector trait<br /> 4. Filters for valid connector methods (public, has parameters, overrides base trait)<br /> 5. Returns the method names as a sorted list</p> <h2><a href=\"#which-connector\" id=\"which-connector\">Which Connector?</a></h2> <p>Depends on your <code>connector</code> property:<br /> * <code>connector=mapped</code> → Returns methods from LocalMappedConnector<br /> * <code>connector=kafka_vSept2018</code> → Returns methods from KafkaConnector<br /> * <code>connector=star</code> → Returns methods from StarConnector<br /> * <code>connector=rest_vMar2019</code> → Returns methods from RestConnector</p> <h2><a href=\"#when-does-it-change\" id=\"when-does-it-change\">When Does It Change?</a></h2> <p>The list only changes when:<br /> * Code is deployed with new/modified connector methods<br /> * The <code>connector</code> property is changed to point to a different connector</p> <h2><a href=\"#performance\" id=\"performance\">Performance</a></h2> <p>This endpoint uses caching (default: 1 hour) because Scala reflection is expensive.<br /> Configure via: <code>getConnectorMethodNames.cache.ttl.seconds=3600</code></p> <h2><a href=\"#use-case\" id=\"use-case\">Use Case</a></h2> <p>Use this endpoint to discover which connector methods are available when configuring Method Routing.<br /> These method names are different from API endpoint operation IDs (which you get from /resource-docs).</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p>CanGetSystemConnectorMethodNames entitlement is required.</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#\"><strong>connector_method_names</strong></a>: connector_method_names</p> 
    # @param [Hash] opts the optional parameters
    # @return [OBPv600GetConnectorMethodNames200Response]
    def o_bpv6_0_0_get_connector_method_names(opts = {})
      data, _status_code, _headers = o_bpv6_0_0_get_connector_method_names_with_http_info(opts)
      data
    end

    # Get Connector Method Names
    # &lt;p&gt;Get the list of all available connector method names.&lt;/p&gt; &lt;p&gt;These are the method names that can be used in Method Routing configuration.&lt;/p&gt; &lt;h2&gt;&lt;a href&#x3D;\&quot;#data-source\&quot; id&#x3D;\&quot;data-source\&quot;&gt;Data Source&lt;/a&gt;&lt;/h2&gt; &lt;p&gt;The data comes from &lt;strong&gt;scanning the actual Scala connector code at runtime&lt;/strong&gt; using reflection, NOT from a database or configuration file.&lt;/p&gt; &lt;p&gt;The endpoint:&lt;br /&gt; 1. Reads the connector name from props (e.g., &lt;code&gt;connector&#x3D;mapped&lt;/code&gt;)&lt;br /&gt; 2. Gets the connector instance (e.g., LocalMappedConnector, KafkaConnector, StarConnector)&lt;br /&gt; 3. Uses Scala reflection to scan all public methods that override the base Connector trait&lt;br /&gt; 4. Filters for valid connector methods (public, has parameters, overrides base trait)&lt;br /&gt; 5. Returns the method names as a sorted list&lt;/p&gt; &lt;h2&gt;&lt;a href&#x3D;\&quot;#which-connector\&quot; id&#x3D;\&quot;which-connector\&quot;&gt;Which Connector?&lt;/a&gt;&lt;/h2&gt; &lt;p&gt;Depends on your &lt;code&gt;connector&lt;/code&gt; property:&lt;br /&gt; * &lt;code&gt;connector&#x3D;mapped&lt;/code&gt; → Returns methods from LocalMappedConnector&lt;br /&gt; * &lt;code&gt;connector&#x3D;kafka_vSept2018&lt;/code&gt; → Returns methods from KafkaConnector&lt;br /&gt; * &lt;code&gt;connector&#x3D;star&lt;/code&gt; → Returns methods from StarConnector&lt;br /&gt; * &lt;code&gt;connector&#x3D;rest_vMar2019&lt;/code&gt; → Returns methods from RestConnector&lt;/p&gt; &lt;h2&gt;&lt;a href&#x3D;\&quot;#when-does-it-change\&quot; id&#x3D;\&quot;when-does-it-change\&quot;&gt;When Does It Change?&lt;/a&gt;&lt;/h2&gt; &lt;p&gt;The list only changes when:&lt;br /&gt; * Code is deployed with new/modified connector methods&lt;br /&gt; * The &lt;code&gt;connector&lt;/code&gt; property is changed to point to a different connector&lt;/p&gt; &lt;h2&gt;&lt;a href&#x3D;\&quot;#performance\&quot; id&#x3D;\&quot;performance\&quot;&gt;Performance&lt;/a&gt;&lt;/h2&gt; &lt;p&gt;This endpoint uses caching (default: 1 hour) because Scala reflection is expensive.&lt;br /&gt; Configure via: &lt;code&gt;getConnectorMethodNames.cache.ttl.seconds&#x3D;3600&lt;/code&gt;&lt;/p&gt; &lt;h2&gt;&lt;a href&#x3D;\&quot;#use-case\&quot; id&#x3D;\&quot;use-case\&quot;&gt;Use Case&lt;/a&gt;&lt;/h2&gt; &lt;p&gt;Use this endpoint to discover which connector methods are available when configuring Method Routing.&lt;br /&gt; These method names are different from API endpoint operation IDs (which you get from /resource-docs).&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;CanGetSystemConnectorMethodNames entitlement is required.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;connector_method_names&lt;/strong&gt;&lt;/a&gt;: connector_method_names&lt;/p&gt; 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv600GetConnectorMethodNames200Response, Integer, Hash)>] OBPv600GetConnectorMethodNames200Response data, response status code and response headers
    def o_bpv6_0_0_get_connector_method_names_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorMethodApi.o_bpv6_0_0_get_connector_method_names ...'
      end
      # resource path
      local_var_path = '/obp/v6.0.0/system/connector-method-names'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv600GetConnectorMethodNames200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"ConnectorMethodApi.o_bpv6_0_0_get_connector_method_names",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorMethodApi#o_bpv6_0_0_get_connector_method_names\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
