=begin
#Open Bank Project API v6.0.0

#The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

The version of the OpenAPI document: 6.0.0
Contact: contact@tesobe.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module OpenBankProject
  class CounterpartyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add Corporate Location to Counterparty
    # <p>Add the geolocation of the counterparty's registered address</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#corporate_location\"><strong>corporate_location</strong></a>: 10</p> <p><a href=\"/glossary#latitude\"><strong>latitude</strong></a>: 38.8951</p> <p><a href=\"/glossary#longitude\"><strong>longitude</strong></a>: -77.0364</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#success\"><strong>success</strong></a>:</p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_corporate_location_request [OBPv121UpdateCounterpartyCorporateLocationRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv121UpdateTransactionNarrative200Response]
    def o_bpv1_2_1_add_counterparty_corporate_location(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_corporate_location_request, opts = {})
      data, _status_code, _headers = o_bpv1_2_1_add_counterparty_corporate_location_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_corporate_location_request, opts)
      data
    end

    # Add Corporate Location to Counterparty
    # &lt;p&gt;Add the geolocation of the counterparty&#39;s registered address&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#corporate_location\&quot;&gt;&lt;strong&gt;corporate_location&lt;/strong&gt;&lt;/a&gt;: 10&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#latitude\&quot;&gt;&lt;strong&gt;latitude&lt;/strong&gt;&lt;/a&gt;: 38.8951&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#longitude\&quot;&gt;&lt;strong&gt;longitude&lt;/strong&gt;&lt;/a&gt;: -77.0364&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#success\&quot;&gt;&lt;strong&gt;success&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_corporate_location_request [OBPv121UpdateCounterpartyCorporateLocationRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv121UpdateTransactionNarrative200Response, Integer, Hash)>] OBPv121UpdateTransactionNarrative200Response data, response status code and response headers
    def o_bpv1_2_1_add_counterparty_corporate_location_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_corporate_location_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_add_counterparty_corporate_location ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_corporate_location"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_corporate_location"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_corporate_location"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_corporate_location"
      end
      # verify the required parameter 'obpv121_update_counterparty_corporate_location_request' is set
      if @api_client.config.client_side_validation && obpv121_update_counterparty_corporate_location_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv121_update_counterparty_corporate_location_request' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_corporate_location"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/corporate_location'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv121_update_counterparty_corporate_location_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv121UpdateTransactionNarrative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_add_counterparty_corporate_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_add_counterparty_corporate_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add image url to other bank account
    # <p>Add a url that points to the logo of the counterparty</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#image_url\"><strong>image_URL</strong></a>:</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#success\"><strong>success</strong></a>:</p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_image_url_request [OBPv121UpdateCounterpartyImageUrlRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv121UpdateTransactionNarrative200Response]
    def o_bpv1_2_1_add_counterparty_image_url(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_image_url_request, opts = {})
      data, _status_code, _headers = o_bpv1_2_1_add_counterparty_image_url_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_image_url_request, opts)
      data
    end

    # Add image url to other bank account
    # &lt;p&gt;Add a url that points to the logo of the counterparty&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#image_url\&quot;&gt;&lt;strong&gt;image_URL&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#success\&quot;&gt;&lt;strong&gt;success&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_image_url_request [OBPv121UpdateCounterpartyImageUrlRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv121UpdateTransactionNarrative200Response, Integer, Hash)>] OBPv121UpdateTransactionNarrative200Response data, response status code and response headers
    def o_bpv1_2_1_add_counterparty_image_url_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_image_url_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_add_counterparty_image_url ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_image_url"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_image_url"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_image_url"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_image_url"
      end
      # verify the required parameter 'obpv121_update_counterparty_image_url_request' is set
      if @api_client.config.client_side_validation && obpv121_update_counterparty_image_url_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv121_update_counterparty_image_url_request' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_image_url"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/image_url'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv121_update_counterparty_image_url_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv121UpdateTransactionNarrative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_add_counterparty_image_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_add_counterparty_image_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Counterparty More Info
    # <p>Add a description of the counter party from the perpestive of the account e.g. My dentist</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#more_info\"><strong>more_info</strong></a>: More information about this fee</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#success\"><strong>success</strong></a>:</p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_more_info_request [OBPv121UpdateCounterpartyMoreInfoRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv121UpdateTransactionNarrative200Response]
    def o_bpv1_2_1_add_counterparty_more_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_more_info_request, opts = {})
      data, _status_code, _headers = o_bpv1_2_1_add_counterparty_more_info_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_more_info_request, opts)
      data
    end

    # Add Counterparty More Info
    # &lt;p&gt;Add a description of the counter party from the perpestive of the account e.g. My dentist&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#more_info\&quot;&gt;&lt;strong&gt;more_info&lt;/strong&gt;&lt;/a&gt;: More information about this fee&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#success\&quot;&gt;&lt;strong&gt;success&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_more_info_request [OBPv121UpdateCounterpartyMoreInfoRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv121UpdateTransactionNarrative200Response, Integer, Hash)>] OBPv121UpdateTransactionNarrative200Response data, response status code and response headers
    def o_bpv1_2_1_add_counterparty_more_info_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_more_info_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_add_counterparty_more_info ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_more_info"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_more_info"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_more_info"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_more_info"
      end
      # verify the required parameter 'obpv121_update_counterparty_more_info_request' is set
      if @api_client.config.client_side_validation && obpv121_update_counterparty_more_info_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv121_update_counterparty_more_info_request' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_more_info"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/more_info'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv121_update_counterparty_more_info_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv121UpdateTransactionNarrative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_add_counterparty_more_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_add_counterparty_more_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Open Corporates URL to Counterparty
    # <p>Add open corporates url to other bank account</p> <p>User Authentication is Optional. The User need not be logged in.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#open_corporates_url\"><strong>open_corporates_URL</strong></a>:</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#success\"><strong>success</strong></a>:</p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_open_corporates_url_request [OBPv121UpdateCounterpartyOpenCorporatesUrlRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv121UpdateTransactionNarrative200Response]
    def o_bpv1_2_1_add_counterparty_open_corporates_url(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_open_corporates_url_request, opts = {})
      data, _status_code, _headers = o_bpv1_2_1_add_counterparty_open_corporates_url_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_open_corporates_url_request, opts)
      data
    end

    # Add Open Corporates URL to Counterparty
    # &lt;p&gt;Add open corporates url to other bank account&lt;/p&gt; &lt;p&gt;User Authentication is Optional. The User need not be logged in.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#open_corporates_url\&quot;&gt;&lt;strong&gt;open_corporates_URL&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#success\&quot;&gt;&lt;strong&gt;success&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_open_corporates_url_request [OBPv121UpdateCounterpartyOpenCorporatesUrlRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv121UpdateTransactionNarrative200Response, Integer, Hash)>] OBPv121UpdateTransactionNarrative200Response data, response status code and response headers
    def o_bpv1_2_1_add_counterparty_open_corporates_url_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_open_corporates_url_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_add_counterparty_open_corporates_url ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_open_corporates_url"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_open_corporates_url"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_open_corporates_url"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_open_corporates_url"
      end
      # verify the required parameter 'obpv121_update_counterparty_open_corporates_url_request' is set
      if @api_client.config.client_side_validation && obpv121_update_counterparty_open_corporates_url_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv121_update_counterparty_open_corporates_url_request' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_open_corporates_url"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/open_corporates_url'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv121_update_counterparty_open_corporates_url_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv121UpdateTransactionNarrative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_add_counterparty_open_corporates_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_add_counterparty_open_corporates_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add physical location to other bank account
    # <p>Add geocoordinates of the counterparty's main location</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#latitude\"><strong>latitude</strong></a>: 38.8951</p> <p><a href=\"/glossary#longitude\"><strong>longitude</strong></a>: -77.0364</p> <p><a href=\"/glossary#physical_location\"><strong>physical_location</strong></a>:</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#success\"><strong>success</strong></a>:</p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_physical_location_request [OBPv121UpdateCounterpartyPhysicalLocationRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv121UpdateTransactionNarrative200Response]
    def o_bpv1_2_1_add_counterparty_physical_location(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_physical_location_request, opts = {})
      data, _status_code, _headers = o_bpv1_2_1_add_counterparty_physical_location_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_physical_location_request, opts)
      data
    end

    # Add physical location to other bank account
    # &lt;p&gt;Add geocoordinates of the counterparty&#39;s main location&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#latitude\&quot;&gt;&lt;strong&gt;latitude&lt;/strong&gt;&lt;/a&gt;: 38.8951&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#longitude\&quot;&gt;&lt;strong&gt;longitude&lt;/strong&gt;&lt;/a&gt;: -77.0364&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#physical_location\&quot;&gt;&lt;strong&gt;physical_location&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#success\&quot;&gt;&lt;strong&gt;success&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_physical_location_request [OBPv121UpdateCounterpartyPhysicalLocationRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv121UpdateTransactionNarrative200Response, Integer, Hash)>] OBPv121UpdateTransactionNarrative200Response data, response status code and response headers
    def o_bpv1_2_1_add_counterparty_physical_location_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_physical_location_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_add_counterparty_physical_location ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_physical_location"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_physical_location"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_physical_location"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_physical_location"
      end
      # verify the required parameter 'obpv121_update_counterparty_physical_location_request' is set
      if @api_client.config.client_side_validation && obpv121_update_counterparty_physical_location_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv121_update_counterparty_physical_location_request' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_physical_location"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/physical_location'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv121_update_counterparty_physical_location_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv121UpdateTransactionNarrative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_add_counterparty_physical_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_add_counterparty_physical_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add public alias to other bank account
    # <p>Creates the public alias for the other account OTHER_ACCOUNT_ID.</p> <p>User Authentication is Optional. The User need not be logged in.<br /> Authentication is required if the view is not public.</p> <p>Note: Public aliases are automatically generated for new 'other accounts / counterparties', so this call should only be used if<br /> the public alias was deleted.</p> <p>The VIEW_ID parameter should be a view the caller is permitted to access to and that has permission to create public aliases.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#alias\"><strong>alias</strong></a>:</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#success\"><strong>success</strong></a>:</p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_get_counterparty_public_alias200_response [OBPv121GetCounterpartyPublicAlias200Response] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv121UpdateTransactionNarrative200Response]
    def o_bpv1_2_1_add_counterparty_public_alias(bankid, accountid, viewid, otheraccountid, obpv121_get_counterparty_public_alias200_response, opts = {})
      data, _status_code, _headers = o_bpv1_2_1_add_counterparty_public_alias_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_get_counterparty_public_alias200_response, opts)
      data
    end

    # Add public alias to other bank account
    # &lt;p&gt;Creates the public alias for the other account OTHER_ACCOUNT_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Optional. The User need not be logged in.&lt;br /&gt; Authentication is required if the view is not public.&lt;/p&gt; &lt;p&gt;Note: Public aliases are automatically generated for new &#39;other accounts / counterparties&#39;, so this call should only be used if&lt;br /&gt; the public alias was deleted.&lt;/p&gt; &lt;p&gt;The VIEW_ID parameter should be a view the caller is permitted to access to and that has permission to create public aliases.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#alias\&quot;&gt;&lt;strong&gt;alias&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#success\&quot;&gt;&lt;strong&gt;success&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_get_counterparty_public_alias200_response [OBPv121GetCounterpartyPublicAlias200Response] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv121UpdateTransactionNarrative200Response, Integer, Hash)>] OBPv121UpdateTransactionNarrative200Response data, response status code and response headers
    def o_bpv1_2_1_add_counterparty_public_alias_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_get_counterparty_public_alias200_response, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_add_counterparty_public_alias ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_public_alias"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_public_alias"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_public_alias"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_public_alias"
      end
      # verify the required parameter 'obpv121_get_counterparty_public_alias200_response' is set
      if @api_client.config.client_side_validation && obpv121_get_counterparty_public_alias200_response.nil?
        fail ArgumentError, "Missing the required parameter 'obpv121_get_counterparty_public_alias200_response' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_public_alias"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/public_alias'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv121_get_counterparty_public_alias200_response)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv121UpdateTransactionNarrative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_add_counterparty_public_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_add_counterparty_public_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add url to other bank account
    # <p>A url which represents the counterparty (home page url etc.)</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#\"><strong>URL</strong></a>: <a href=\"http://www.example.com/id-docs/123/image.png\">http://www.example.com/id-docs/123/image.png</a></p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#success\"><strong>success</strong></a>:</p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_url_request [OBPv121UpdateCounterpartyUrlRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv121UpdateTransactionNarrative200Response]
    def o_bpv1_2_1_add_counterparty_url(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_url_request, opts = {})
      data, _status_code, _headers = o_bpv1_2_1_add_counterparty_url_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_url_request, opts)
      data
    end

    # Add url to other bank account
    # &lt;p&gt;A url which represents the counterparty (home page url etc.)&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;&lt;strong&gt;URL&lt;/strong&gt;&lt;/a&gt;: &lt;a href&#x3D;\&quot;http://www.example.com/id-docs/123/image.png\&quot;&gt;http://www.example.com/id-docs/123/image.png&lt;/a&gt;&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#success\&quot;&gt;&lt;strong&gt;success&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_update_counterparty_url_request [OBPv121UpdateCounterpartyUrlRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv121UpdateTransactionNarrative200Response, Integer, Hash)>] OBPv121UpdateTransactionNarrative200Response data, response status code and response headers
    def o_bpv1_2_1_add_counterparty_url_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_update_counterparty_url_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_add_counterparty_url ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_url"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_url"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_url"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_url"
      end
      # verify the required parameter 'obpv121_update_counterparty_url_request' is set
      if @api_client.config.client_side_validation && obpv121_update_counterparty_url_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv121_update_counterparty_url_request' when calling CounterpartyApi.o_bpv1_2_1_add_counterparty_url"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/url'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv121_update_counterparty_url_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv121UpdateTransactionNarrative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_add_counterparty_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_add_counterparty_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Other Account Private Alias
    # <p>Creates a private alias for the other account OTHER_ACCOUNT_ID.</p> <p>User Authentication is Optional. The User need not be logged in.<br /> Authentication is required if the view is not public.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#alias\"><strong>alias</strong></a>:</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#success\"><strong>success</strong></a>:</p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_get_counterparty_public_alias200_response [OBPv121GetCounterpartyPublicAlias200Response] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv121UpdateTransactionNarrative200Response]
    def o_bpv1_2_1_add_other_account_private_alias(bankid, accountid, viewid, otheraccountid, obpv121_get_counterparty_public_alias200_response, opts = {})
      data, _status_code, _headers = o_bpv1_2_1_add_other_account_private_alias_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_get_counterparty_public_alias200_response, opts)
      data
    end

    # Create Other Account Private Alias
    # &lt;p&gt;Creates a private alias for the other account OTHER_ACCOUNT_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Optional. The User need not be logged in.&lt;br /&gt; Authentication is required if the view is not public.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#alias\&quot;&gt;&lt;strong&gt;alias&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#success\&quot;&gt;&lt;strong&gt;success&lt;/strong&gt;&lt;/a&gt;:&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param obpv121_get_counterparty_public_alias200_response [OBPv121GetCounterpartyPublicAlias200Response] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv121UpdateTransactionNarrative200Response, Integer, Hash)>] OBPv121UpdateTransactionNarrative200Response data, response status code and response headers
    def o_bpv1_2_1_add_other_account_private_alias_with_http_info(bankid, accountid, viewid, otheraccountid, obpv121_get_counterparty_public_alias200_response, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_add_other_account_private_alias ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_add_other_account_private_alias"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_add_other_account_private_alias"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_add_other_account_private_alias"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_add_other_account_private_alias"
      end
      # verify the required parameter 'obpv121_get_counterparty_public_alias200_response' is set
      if @api_client.config.client_side_validation && obpv121_get_counterparty_public_alias200_response.nil?
        fail ArgumentError, "Missing the required parameter 'obpv121_get_counterparty_public_alias200_response' when calling CounterpartyApi.o_bpv1_2_1_add_other_account_private_alias"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/private_alias'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv121_get_counterparty_public_alias200_response)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv121UpdateTransactionNarrative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_add_other_account_private_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_add_other_account_private_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Counterparty Corporate Location
    # <p>Delete corporate location of other bank account. Delete the geolocation of the counterparty's registered address</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON response body fields:</strong></p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv1_2_1_delete_counterparty_corporate_location(bankid, accountid, viewid, otheraccountid, opts = {})
      o_bpv1_2_1_delete_counterparty_corporate_location_with_http_info(bankid, accountid, viewid, otheraccountid, opts)
      nil
    end

    # Delete Counterparty Corporate Location
    # &lt;p&gt;Delete corporate location of other bank account. Delete the geolocation of the counterparty&#39;s registered address&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv1_2_1_delete_counterparty_corporate_location_with_http_info(bankid, accountid, viewid, otheraccountid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_delete_counterparty_corporate_location ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_corporate_location"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_corporate_location"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_corporate_location"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_corporate_location"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/corporate_location'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_delete_counterparty_corporate_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_delete_counterparty_corporate_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Counterparty Image URL
    # <p>Delete image url of other bank account</p> <p>User Authentication is Optional. The User need not be logged in.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON response body fields:</strong></p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv1_2_1_delete_counterparty_image_url(bankid, accountid, viewid, otheraccountid, opts = {})
      o_bpv1_2_1_delete_counterparty_image_url_with_http_info(bankid, accountid, viewid, otheraccountid, opts)
      nil
    end

    # Delete Counterparty Image URL
    # &lt;p&gt;Delete image url of other bank account&lt;/p&gt; &lt;p&gt;User Authentication is Optional. The User need not be logged in.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv1_2_1_delete_counterparty_image_url_with_http_info(bankid, accountid, viewid, otheraccountid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_delete_counterparty_image_url ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_image_url"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_image_url"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_image_url"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_image_url"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/image_url'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_delete_counterparty_image_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_delete_counterparty_image_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete more info of other bank account
    # <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON response body fields:</strong></p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv1_2_1_delete_counterparty_more_info(bankid, accountid, viewid, otheraccountid, opts = {})
      o_bpv1_2_1_delete_counterparty_more_info_with_http_info(bankid, accountid, viewid, otheraccountid, opts)
      nil
    end

    # Delete more info of other bank account
    # &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv1_2_1_delete_counterparty_more_info_with_http_info(bankid, accountid, viewid, otheraccountid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_delete_counterparty_more_info ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_more_info"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_more_info"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_more_info"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_more_info"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/more_info'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_delete_counterparty_more_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_delete_counterparty_more_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Counterparty Open Corporates URL
    # <p>Delete open corporate url of other bank account</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON response body fields:</strong></p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv1_2_1_delete_counterparty_open_corporates_url(bankid, accountid, viewid, otheraccountid, opts = {})
      o_bpv1_2_1_delete_counterparty_open_corporates_url_with_http_info(bankid, accountid, viewid, otheraccountid, opts)
      nil
    end

    # Delete Counterparty Open Corporates URL
    # &lt;p&gt;Delete open corporate url of other bank account&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv1_2_1_delete_counterparty_open_corporates_url_with_http_info(bankid, accountid, viewid, otheraccountid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_delete_counterparty_open_corporates_url ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_open_corporates_url"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_open_corporates_url"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_open_corporates_url"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_open_corporates_url"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/open_corporates_url'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_delete_counterparty_open_corporates_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_delete_counterparty_open_corporates_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Counterparty Physical Location
    # <p>Delete physical location of other bank account</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON response body fields:</strong></p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv1_2_1_delete_counterparty_physical_location(bankid, accountid, viewid, otheraccountid, opts = {})
      o_bpv1_2_1_delete_counterparty_physical_location_with_http_info(bankid, accountid, viewid, otheraccountid, opts)
      nil
    end

    # Delete Counterparty Physical Location
    # &lt;p&gt;Delete physical location of other bank account&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv1_2_1_delete_counterparty_physical_location_with_http_info(bankid, accountid, viewid, otheraccountid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_delete_counterparty_physical_location ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_physical_location"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_physical_location"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_physical_location"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_physical_location"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/metadata/physical_location'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_delete_counterparty_physical_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_delete_counterparty_physical_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Counterparty Private Alias
    # <p>Deletes the private alias of the other account OTHER_ACCOUNT_ID.</p> <p>User Authentication is Optional. The User need not be logged in.<br /> Authentication is required if the view is not public.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON response body fields:</strong></p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv1_2_1_delete_counterparty_private_alias(bankid, accountid, viewid, otheraccountid, opts = {})
      o_bpv1_2_1_delete_counterparty_private_alias_with_http_info(bankid, accountid, viewid, otheraccountid, opts)
      nil
    end

    # Delete Counterparty Private Alias
    # &lt;p&gt;Deletes the private alias of the other account OTHER_ACCOUNT_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Optional. The User need not be logged in.&lt;br /&gt; Authentication is required if the view is not public.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv1_2_1_delete_counterparty_private_alias_with_http_info(bankid, accountid, viewid, otheraccountid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_delete_counterparty_private_alias ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_private_alias"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_private_alias"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_private_alias"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_private_alias"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/private_alias'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_delete_counterparty_private_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_delete_counterparty_private_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Counterparty Public Alias
    # <p>Deletes the public alias of the other account OTHER_ACCOUNT_ID.</p> <p>User Authentication is Optional. The User need not be logged in.<br /> Authentication is required if the view is not public.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON response body fields:</strong></p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv1_2_1_delete_counterparty_public_alias(bankid, accountid, viewid, otheraccountid, opts = {})
      o_bpv1_2_1_delete_counterparty_public_alias_with_http_info(bankid, accountid, viewid, otheraccountid, opts)
      nil
    end

    # Delete Counterparty Public Alias
    # &lt;p&gt;Deletes the public alias of the other account OTHER_ACCOUNT_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Optional. The User need not be logged in.&lt;br /&gt; Authentication is required if the view is not public.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv1_2_1_delete_counterparty_public_alias_with_http_info(bankid, accountid, viewid, otheraccountid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterpartyApi.o_bpv1_2_1_delete_counterparty_public_alias ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_public_alias"
      end
      # verify the required parameter 'accountid' is set
      if @api_client.config.client_side_validation && accountid.nil?
        fail ArgumentError, "Missing the required parameter 'accountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_public_alias"
      end
      # verify the required parameter 'viewid' is set
      if @api_client.config.client_side_validation && viewid.nil?
        fail ArgumentError, "Missing the required parameter 'viewid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_public_alias"
      end
      # verify the required parameter 'otheraccountid' is set
      if @api_client.config.client_side_validation && otheraccountid.nil?
        fail ArgumentError, "Missing the required parameter 'otheraccountid' when calling CounterpartyApi.o_bpv1_2_1_delete_counterparty_public_alias"
      end
      # resource path
      local_var_path = '/obp/v1.2.1/banks/{bankid}/accounts/{accountid}/{viewid}/other_accounts/{otheraccountid}/public_alias'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'accountid' + '}', CGI.escape(accountid.to_s)).sub('{' + 'viewid' + '}', CGI.escape(viewid.to_s)).sub('{' + 'otheraccountid' + '}', CGI.escape(otheraccountid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"CounterpartyApi.o_bpv1_2_1_delete_counterparty_public_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterpartyApi#o_bpv1_2_1_delete_counterparty_public_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete url of other bank account
    # <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Account.account_id\">ACCOUNT_ID</a>: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0</p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#other_account_id\">OTHER_ACCOUNT_ID</a>:</p> <p><a href=\"/glossary#this_view_id\">VIEW_ID</a>: owner</p> <p><strong>JSON response body fields:</strong></p> 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv1_2_1_delete_counterparty_url(bankid, accountid, viewid, otheraccountid, opts = {})
      o_bpv1_2_1_delete_counterparty_url_with_http_info(bankid, accountid, viewid, otheraccountid, opts)
      nil
    end

    # Delete url of other bank account
    # &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Account.account_id\&quot;&gt;ACCOUNT_ID&lt;/a&gt;: 8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#other_account_id\&quot;&gt;OTHER_ACCOUNT_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#this_view_id\&quot;&gt;VIEW_ID&lt;/a&gt;: owner&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param accountid [String] The ACCOUNTID identifier
    # @param viewid [String] The VIEWID identifier
    # @param otheraccountid [String] The OTHERACCOUNTID identifier
    # @param [Hash] opts the optional parameters
[...]
