=begin
#Open Bank Project API v6.0.0

#The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

The version of the OpenAPI document: 6.0.0
Contact: contact@tesobe.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module OpenBankProject
  class DynamicMessageDocApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Bank Level Dynamic Message Doc
    # <p>Create a Bank Level Dynamic Message Doc.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#process\"><strong>process</strong></a>: obp.getBank</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#process\"><strong>process</strong></a>: obp.getBank</p> 
    # @param bankid [String] The BANKID identifier
    # @param obpv400_update_dynamic_message_doc_request [OBPv400UpdateDynamicMessageDocRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicMessageDoc200Response]
    def o_bpv4_0_0_create_bank_level_dynamic_message_doc(bankid, obpv400_update_dynamic_message_doc_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_create_bank_level_dynamic_message_doc_with_http_info(bankid, obpv400_update_dynamic_message_doc_request, opts)
      data
    end

    # Create Bank Level Dynamic Message Doc
    # &lt;p&gt;Create a Bank Level Dynamic Message Doc.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#process\&quot;&gt;&lt;strong&gt;process&lt;/strong&gt;&lt;/a&gt;: obp.getBank&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#process\&quot;&gt;&lt;strong&gt;process&lt;/strong&gt;&lt;/a&gt;: obp.getBank&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param obpv400_update_dynamic_message_doc_request [OBPv400UpdateDynamicMessageDocRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicMessageDoc200Response, Integer, Hash)>] OBPv400GetDynamicMessageDoc200Response data, response status code and response headers
    def o_bpv4_0_0_create_bank_level_dynamic_message_doc_with_http_info(bankid, obpv400_update_dynamic_message_doc_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicMessageDocApi.o_bpv4_0_0_create_bank_level_dynamic_message_doc ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling DynamicMessageDocApi.o_bpv4_0_0_create_bank_level_dynamic_message_doc"
      end
      # verify the required parameter 'obpv400_update_dynamic_message_doc_request' is set
      if @api_client.config.client_side_validation && obpv400_update_dynamic_message_doc_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_update_dynamic_message_doc_request' when calling DynamicMessageDocApi.o_bpv4_0_0_create_bank_level_dynamic_message_doc"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/dynamic-message-docs'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_update_dynamic_message_doc_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicMessageDoc200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicMessageDocApi.o_bpv4_0_0_create_bank_level_dynamic_message_doc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicMessageDocApi#o_bpv4_0_0_create_bank_level_dynamic_message_doc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Dynamic Message Doc
    # <p>Create a Dynamic Message Doc.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#process\"><strong>process</strong></a>: obp.getBank</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#process\"><strong>process</strong></a>: obp.getBank</p> 
    # @param obpv400_update_dynamic_message_doc_request [OBPv400UpdateDynamicMessageDocRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicMessageDoc200Response]
    def o_bpv4_0_0_create_dynamic_message_doc(obpv400_update_dynamic_message_doc_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_create_dynamic_message_doc_with_http_info(obpv400_update_dynamic_message_doc_request, opts)
      data
    end

    # Create Dynamic Message Doc
    # &lt;p&gt;Create a Dynamic Message Doc.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#process\&quot;&gt;&lt;strong&gt;process&lt;/strong&gt;&lt;/a&gt;: obp.getBank&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#process\&quot;&gt;&lt;strong&gt;process&lt;/strong&gt;&lt;/a&gt;: obp.getBank&lt;/p&gt; 
    # @param obpv400_update_dynamic_message_doc_request [OBPv400UpdateDynamicMessageDocRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicMessageDoc200Response, Integer, Hash)>] OBPv400GetDynamicMessageDoc200Response data, response status code and response headers
    def o_bpv4_0_0_create_dynamic_message_doc_with_http_info(obpv400_update_dynamic_message_doc_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicMessageDocApi.o_bpv4_0_0_create_dynamic_message_doc ...'
      end
      # verify the required parameter 'obpv400_update_dynamic_message_doc_request' is set
      if @api_client.config.client_side_validation && obpv400_update_dynamic_message_doc_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_update_dynamic_message_doc_request' when calling DynamicMessageDocApi.o_bpv4_0_0_create_dynamic_message_doc"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/dynamic-message-docs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_update_dynamic_message_doc_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicMessageDoc200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicMessageDocApi.o_bpv4_0_0_create_dynamic_message_doc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicMessageDocApi#o_bpv4_0_0_create_dynamic_message_doc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Bank Level Dynamic Message Doc
    # <p>Delete a Bank Level Dynamic Message Doc.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#\">DYNAMIC_MESSAGE_DOC_ID</a>:</p> <p><strong>JSON response body fields:</strong></p> 
    # @param bankid [String] The BANKID identifier
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv4_0_0_delete_bank_level_dynamic_message_doc(bankid, dynamicmessagedocid, opts = {})
      o_bpv4_0_0_delete_bank_level_dynamic_message_doc_with_http_info(bankid, dynamicmessagedocid, opts)
      nil
    end

    # Delete Bank Level Dynamic Message Doc
    # &lt;p&gt;Delete a Bank Level Dynamic Message Doc.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;DYNAMIC_MESSAGE_DOC_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv4_0_0_delete_bank_level_dynamic_message_doc_with_http_info(bankid, dynamicmessagedocid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicMessageDocApi.o_bpv4_0_0_delete_bank_level_dynamic_message_doc ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling DynamicMessageDocApi.o_bpv4_0_0_delete_bank_level_dynamic_message_doc"
      end
      # verify the required parameter 'dynamicmessagedocid' is set
      if @api_client.config.client_side_validation && dynamicmessagedocid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicmessagedocid' when calling DynamicMessageDocApi.o_bpv4_0_0_delete_bank_level_dynamic_message_doc"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/dynamic-message-docs/{dynamicmessagedocid}'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'dynamicmessagedocid' + '}', CGI.escape(dynamicmessagedocid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicMessageDocApi.o_bpv4_0_0_delete_bank_level_dynamic_message_doc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicMessageDocApi#o_bpv4_0_0_delete_bank_level_dynamic_message_doc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Dynamic Message Doc
    # <p>Delete a Dynamic Message Doc.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">DYNAMIC_MESSAGE_DOC_ID</a>:</p> <p><strong>JSON response body fields:</strong></p> 
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv4_0_0_delete_dynamic_message_doc(dynamicmessagedocid, opts = {})
      o_bpv4_0_0_delete_dynamic_message_doc_with_http_info(dynamicmessagedocid, opts)
      nil
    end

    # Delete Dynamic Message Doc
    # &lt;p&gt;Delete a Dynamic Message Doc.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;DYNAMIC_MESSAGE_DOC_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv4_0_0_delete_dynamic_message_doc_with_http_info(dynamicmessagedocid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicMessageDocApi.o_bpv4_0_0_delete_dynamic_message_doc ...'
      end
      # verify the required parameter 'dynamicmessagedocid' is set
      if @api_client.config.client_side_validation && dynamicmessagedocid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicmessagedocid' when calling DynamicMessageDocApi.o_bpv4_0_0_delete_dynamic_message_doc"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/dynamic-message-docs/{dynamicmessagedocid}'.sub('{' + 'dynamicmessagedocid' + '}', CGI.escape(dynamicmessagedocid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicMessageDocApi.o_bpv4_0_0_delete_dynamic_message_doc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicMessageDocApi#o_bpv4_0_0_delete_dynamic_message_doc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all Bank Level Dynamic Message Docs
    # <p>Get all Bank Level Dynamic Message Docs.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#process\"><strong>process</strong></a>: obp.getBank</p> 
    # @param bankid [String] The BANKID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetAllBankLevelDynamicMessageDocs200Response]
    def o_bpv4_0_0_get_all_bank_level_dynamic_message_docs(bankid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_all_bank_level_dynamic_message_docs_with_http_info(bankid, opts)
      data
    end

    # Get all Bank Level Dynamic Message Docs
    # &lt;p&gt;Get all Bank Level Dynamic Message Docs.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#process\&quot;&gt;&lt;strong&gt;process&lt;/strong&gt;&lt;/a&gt;: obp.getBank&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetAllBankLevelDynamicMessageDocs200Response, Integer, Hash)>] OBPv400GetAllBankLevelDynamicMessageDocs200Response data, response status code and response headers
    def o_bpv4_0_0_get_all_bank_level_dynamic_message_docs_with_http_info(bankid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicMessageDocApi.o_bpv4_0_0_get_all_bank_level_dynamic_message_docs ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling DynamicMessageDocApi.o_bpv4_0_0_get_all_bank_level_dynamic_message_docs"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/dynamic-message-docs'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetAllBankLevelDynamicMessageDocs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicMessageDocApi.o_bpv4_0_0_get_all_bank_level_dynamic_message_docs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicMessageDocApi#o_bpv4_0_0_get_all_bank_level_dynamic_message_docs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all Dynamic Message Docs
    # <p>Get all Dynamic Message Docs.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#process\"><strong>process</strong></a>: obp.getBank</p> 
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetAllBankLevelDynamicMessageDocs200Response]
    def o_bpv4_0_0_get_all_dynamic_message_docs(opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_all_dynamic_message_docs_with_http_info(opts)
      data
    end

    # Get all Dynamic Message Docs
    # &lt;p&gt;Get all Dynamic Message Docs.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#process\&quot;&gt;&lt;strong&gt;process&lt;/strong&gt;&lt;/a&gt;: obp.getBank&lt;/p&gt; 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetAllBankLevelDynamicMessageDocs200Response, Integer, Hash)>] OBPv400GetAllBankLevelDynamicMessageDocs200Response data, response status code and response headers
    def o_bpv4_0_0_get_all_dynamic_message_docs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicMessageDocApi.o_bpv4_0_0_get_all_dynamic_message_docs ...'
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/dynamic-message-docs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetAllBankLevelDynamicMessageDocs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicMessageDocApi.o_bpv4_0_0_get_all_dynamic_message_docs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicMessageDocApi#o_bpv4_0_0_get_all_dynamic_message_docs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Bank Level Dynamic Message Doc
    # <p>Get a Bank Level Dynamic Message Doc by DYNAMIC_MESSAGE_DOC_ID.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#\">DYNAMIC_MESSAGE_DOC_ID</a>:</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#process\"><strong>process</strong></a>: obp.getBank</p> 
    # @param bankid [String] The BANKID identifier
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicMessageDoc200Response]
    def o_bpv4_0_0_get_bank_level_dynamic_message_doc(bankid, dynamicmessagedocid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_bank_level_dynamic_message_doc_with_http_info(bankid, dynamicmessagedocid, opts)
      data
    end

    # Get Bank Level Dynamic Message Doc
    # &lt;p&gt;Get a Bank Level Dynamic Message Doc by DYNAMIC_MESSAGE_DOC_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;DYNAMIC_MESSAGE_DOC_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#process\&quot;&gt;&lt;strong&gt;process&lt;/strong&gt;&lt;/a&gt;: obp.getBank&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicMessageDoc200Response, Integer, Hash)>] OBPv400GetDynamicMessageDoc200Response data, response status code and response headers
    def o_bpv4_0_0_get_bank_level_dynamic_message_doc_with_http_info(bankid, dynamicmessagedocid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicMessageDocApi.o_bpv4_0_0_get_bank_level_dynamic_message_doc ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling DynamicMessageDocApi.o_bpv4_0_0_get_bank_level_dynamic_message_doc"
      end
      # verify the required parameter 'dynamicmessagedocid' is set
      if @api_client.config.client_side_validation && dynamicmessagedocid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicmessagedocid' when calling DynamicMessageDocApi.o_bpv4_0_0_get_bank_level_dynamic_message_doc"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/dynamic-message-docs/{dynamicmessagedocid}'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'dynamicmessagedocid' + '}', CGI.escape(dynamicmessagedocid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicMessageDoc200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicMessageDocApi.o_bpv4_0_0_get_bank_level_dynamic_message_doc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicMessageDocApi#o_bpv4_0_0_get_bank_level_dynamic_message_doc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Dynamic Message Doc
    # <p>Get a Dynamic Message Doc by DYNAMIC_MESSAGE_DOC_ID.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">DYNAMIC_MESSAGE_DOC_ID</a>:</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#process\"><strong>process</strong></a>: obp.getBank</p> 
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicMessageDoc200Response]
    def o_bpv4_0_0_get_dynamic_message_doc(dynamicmessagedocid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_dynamic_message_doc_with_http_info(dynamicmessagedocid, opts)
      data
    end

    # Get Dynamic Message Doc
    # &lt;p&gt;Get a Dynamic Message Doc by DYNAMIC_MESSAGE_DOC_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;DYNAMIC_MESSAGE_DOC_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#process\&quot;&gt;&lt;strong&gt;process&lt;/strong&gt;&lt;/a&gt;: obp.getBank&lt;/p&gt; 
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicMessageDoc200Response, Integer, Hash)>] OBPv400GetDynamicMessageDoc200Response data, response status code and response headers
    def o_bpv4_0_0_get_dynamic_message_doc_with_http_info(dynamicmessagedocid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicMessageDocApi.o_bpv4_0_0_get_dynamic_message_doc ...'
      end
      # verify the required parameter 'dynamicmessagedocid' is set
      if @api_client.config.client_side_validation && dynamicmessagedocid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicmessagedocid' when calling DynamicMessageDocApi.o_bpv4_0_0_get_dynamic_message_doc"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/dynamic-message-docs/{dynamicmessagedocid}'.sub('{' + 'dynamicmessagedocid' + '}', CGI.escape(dynamicmessagedocid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicMessageDoc200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicMessageDocApi.o_bpv4_0_0_get_dynamic_message_doc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicMessageDocApi#o_bpv4_0_0_get_dynamic_message_doc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Bank Level Dynamic Message Doc
    # <p>Update a Bank Level Dynamic Message Doc.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#\">DYNAMIC_MESSAGE_DOC_ID</a>:</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#process\"><strong>process</strong></a>: obp.getBank</p> 
    # @param bankid [String] The BANKID identifier
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param obpv400_update_dynamic_message_doc_request [OBPv400UpdateDynamicMessageDocRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicMessageDoc200Response]
    def o_bpv4_0_0_update_bank_level_dynamic_message_doc(bankid, dynamicmessagedocid, obpv400_update_dynamic_message_doc_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_update_bank_level_dynamic_message_doc_with_http_info(bankid, dynamicmessagedocid, obpv400_update_dynamic_message_doc_request, opts)
      data
    end

    # Update Bank Level Dynamic Message Doc
    # &lt;p&gt;Update a Bank Level Dynamic Message Doc.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;DYNAMIC_MESSAGE_DOC_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#process\&quot;&gt;&lt;strong&gt;process&lt;/strong&gt;&lt;/a&gt;: obp.getBank&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param obpv400_update_dynamic_message_doc_request [OBPv400UpdateDynamicMessageDocRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicMessageDoc200Response, Integer, Hash)>] OBPv400GetDynamicMessageDoc200Response data, response status code and response headers
    def o_bpv4_0_0_update_bank_level_dynamic_message_doc_with_http_info(bankid, dynamicmessagedocid, obpv400_update_dynamic_message_doc_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicMessageDocApi.o_bpv4_0_0_update_bank_level_dynamic_message_doc ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling DynamicMessageDocApi.o_bpv4_0_0_update_bank_level_dynamic_message_doc"
      end
      # verify the required parameter 'dynamicmessagedocid' is set
      if @api_client.config.client_side_validation && dynamicmessagedocid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicmessagedocid' when calling DynamicMessageDocApi.o_bpv4_0_0_update_bank_level_dynamic_message_doc"
      end
      # verify the required parameter 'obpv400_update_dynamic_message_doc_request' is set
      if @api_client.config.client_side_validation && obpv400_update_dynamic_message_doc_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_update_dynamic_message_doc_request' when calling DynamicMessageDocApi.o_bpv4_0_0_update_bank_level_dynamic_message_doc"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/dynamic-message-docs/{dynamicmessagedocid}'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'dynamicmessagedocid' + '}', CGI.escape(dynamicmessagedocid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_update_dynamic_message_doc_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicMessageDoc200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicMessageDocApi.o_bpv4_0_0_update_bank_level_dynamic_message_doc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicMessageDocApi#o_bpv4_0_0_update_bank_level_dynamic_message_doc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Dynamic Message Doc
    # <p>Update a Dynamic Message Doc.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">DYNAMIC_MESSAGE_DOC_ID</a>:</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#description\"><strong>description</strong></a>: Description of the object. Maximum length is 2000. It can be any characters here.</p> <p><a href=\"/glossary#process\"><strong>process</strong></a>: obp.getBank</p> 
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param obpv400_update_dynamic_message_doc_request [OBPv400UpdateDynamicMessageDocRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicMessageDoc200Response]
    def o_bpv4_0_0_update_dynamic_message_doc(dynamicmessagedocid, obpv400_update_dynamic_message_doc_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_update_dynamic_message_doc_with_http_info(dynamicmessagedocid, obpv400_update_dynamic_message_doc_request, opts)
      data
    end

    # Update Dynamic Message Doc
    # &lt;p&gt;Update a Dynamic Message Doc.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;DYNAMIC_MESSAGE_DOC_ID&lt;/a&gt;:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#description\&quot;&gt;&lt;strong&gt;description&lt;/strong&gt;&lt;/a&gt;: Description of the object. Maximum length is 2000. It can be any characters here.&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#process\&quot;&gt;&lt;strong&gt;process&lt;/strong&gt;&lt;/a&gt;: obp.getBank&lt;/p&gt; 
    # @param dynamicmessagedocid [String] The DYNAMICMESSAGEDOCID identifier
    # @param obpv400_update_dynamic_message_doc_request [OBPv400UpdateDynamicMessageDocRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicMessageDoc200Response, Integer, Hash)>] OBPv400GetDynamicMessageDoc200Response data, response status code and response headers
    def o_bpv4_0_0_update_dynamic_message_doc_with_http_info(dynamicmessagedocid, obpv400_update_dynamic_message_doc_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicMessageDocApi.o_bpv4_0_0_update_dynamic_message_doc ...'
      end
      # verify the required parameter 'dynamicmessagedocid' is set
      if @api_client.config.client_side_validation && dynamicmessagedocid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicmessagedocid' when calling DynamicMessageDocApi.o_bpv4_0_0_update_dynamic_message_doc"
      end
      # verify the required parameter 'obpv400_update_dynamic_message_doc_request' is set
      if @api_client.config.client_side_validation && obpv400_update_dynamic_message_doc_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_update_dynamic_message_doc_request' when calling DynamicMessageDocApi.o_bpv4_0_0_update_dynamic_message_doc"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/dynamic-message-docs/{dynamicmessagedocid}'.sub('{' + 'dynamicmessagedocid' + '}', CGI.escape(dynamicmessagedocid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_update_dynamic_message_doc_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicMessageDoc200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicMessageDocApi.o_bpv4_0_0_update_dynamic_message_doc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicMessageDocApi#o_bpv4_0_0_update_dynamic_message_doc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
