=begin
#Open Bank Project API v6.0.0

#The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-22T07:16:47.250257  For more information, visit: https://github.com/OpenBankProject/OBP-API

The version of the OpenAPI document: 6.0.0
Contact: contact@tesobe.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module OpenBankProject
  class DynamicEndpointManageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Bank Level Dynamic Endpoint
    # <p>Create dynamic endpoints.</p> <p>Create dynamic endpoints with one json format swagger content.</p> <p>If the host of swagger is <code>dynamic_entity</code>, then you need link the swagger fields to the dynamic entity fields,<br /> please check <code>Endpoint Mapping</code> endpoints.</p> <p>If the host of swagger is <code>obp_mock</code>, every dynamic endpoint will return example response of swagger,</p> <p>when create MethodRouting for given dynamic endpoint, it will be routed to given url.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param bankid [String] The BANKID identifier
    # @param obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string [OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItemsPropertiesSwaggerString] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems]
    def o_bpv4_0_0_create_bank_level_dynamic_endpoint(bankid, obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_create_bank_level_dynamic_endpoint_with_http_info(bankid, obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string, opts)
      data
    end

    # Create Bank Level Dynamic Endpoint
    # &lt;p&gt;Create dynamic endpoints.&lt;/p&gt; &lt;p&gt;Create dynamic endpoints with one json format swagger content.&lt;/p&gt; &lt;p&gt;If the host of swagger is &lt;code&gt;dynamic_entity&lt;/code&gt;, then you need link the swagger fields to the dynamic entity fields,&lt;br /&gt; please check &lt;code&gt;Endpoint Mapping&lt;/code&gt; endpoints.&lt;/p&gt; &lt;p&gt;If the host of swagger is &lt;code&gt;obp_mock&lt;/code&gt;, every dynamic endpoint will return example response of swagger,&lt;/p&gt; &lt;p&gt;when create MethodRouting for given dynamic endpoint, it will be routed to given url.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string [OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItemsPropertiesSwaggerString] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems, Integer, Hash)>] OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems data, response status code and response headers
    def o_bpv4_0_0_create_bank_level_dynamic_endpoint_with_http_info(bankid, obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_create_bank_level_dynamic_endpoint ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling DynamicEndpointManageApi.o_bpv4_0_0_create_bank_level_dynamic_endpoint"
      end
      # verify the required parameter 'obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string' is set
      if @api_client.config.client_side_validation && obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string' when calling DynamicEndpointManageApi.o_bpv4_0_0_create_bank_level_dynamic_endpoint"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/dynamic-endpoints'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_create_bank_level_dynamic_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_create_bank_level_dynamic_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Dynamic Endpoint
    # <p>Create dynamic endpoints.</p> <p>Create dynamic endpoints with one json format swagger content.</p> <p>If the host of swagger is <code>dynamic_entity</code>, then you need link the swagger fields to the dynamic entity fields,<br /> please check <code>Endpoint Mapping</code> endpoints.</p> <p>If the host of swagger is <code>obp_mock</code>, every dynamic endpoint will return example response of swagger,</p> <p>when create MethodRouting for given dynamic endpoint, it will be routed to given url.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string [OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItemsPropertiesSwaggerString] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems]
    def o_bpv4_0_0_create_dynamic_endpoint(obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_create_dynamic_endpoint_with_http_info(obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string, opts)
      data
    end

    # Create Dynamic Endpoint
    # &lt;p&gt;Create dynamic endpoints.&lt;/p&gt; &lt;p&gt;Create dynamic endpoints with one json format swagger content.&lt;/p&gt; &lt;p&gt;If the host of swagger is &lt;code&gt;dynamic_entity&lt;/code&gt;, then you need link the swagger fields to the dynamic entity fields,&lt;br /&gt; please check &lt;code&gt;Endpoint Mapping&lt;/code&gt; endpoints.&lt;/p&gt; &lt;p&gt;If the host of swagger is &lt;code&gt;obp_mock&lt;/code&gt;, every dynamic endpoint will return example response of swagger,&lt;/p&gt; &lt;p&gt;when create MethodRouting for given dynamic endpoint, it will be routed to given url.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string [OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItemsPropertiesSwaggerString] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems, Integer, Hash)>] OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems data, response status code and response headers
    def o_bpv4_0_0_create_dynamic_endpoint_with_http_info(obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_create_dynamic_endpoint ...'
      end
      # verify the required parameter 'obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string' is set
      if @api_client.config.client_side_validation && obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string' when calling DynamicEndpointManageApi.o_bpv4_0_0_create_dynamic_endpoint"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/dynamic-endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_get_dynamic_endpoints200_response_properties_dynamic_endpoints_items_properties_swagger_string)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_create_dynamic_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_create_dynamic_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  Delete Bank Level Dynamic Endpoint
    # <p>Delete a Bank Level DynamicEndpoint specified by DYNAMIC_ENDPOINT_ID.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param bankid [String] The BANKID identifier
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv4_0_0_delete_bank_level_dynamic_endpoint(bankid, dynamicendpointid, opts = {})
      o_bpv4_0_0_delete_bank_level_dynamic_endpoint_with_http_info(bankid, dynamicendpointid, opts)
      nil
    end

    #  Delete Bank Level Dynamic Endpoint
    # &lt;p&gt;Delete a Bank Level DynamicEndpoint specified by DYNAMIC_ENDPOINT_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv4_0_0_delete_bank_level_dynamic_endpoint_with_http_info(bankid, dynamicendpointid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_delete_bank_level_dynamic_endpoint ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling DynamicEndpointManageApi.o_bpv4_0_0_delete_bank_level_dynamic_endpoint"
      end
      # verify the required parameter 'dynamicendpointid' is set
      if @api_client.config.client_side_validation && dynamicendpointid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicendpointid' when calling DynamicEndpointManageApi.o_bpv4_0_0_delete_bank_level_dynamic_endpoint"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/dynamic-endpoints/{dynamicendpointid}'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'dynamicendpointid' + '}', CGI.escape(dynamicendpointid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_delete_bank_level_dynamic_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_delete_bank_level_dynamic_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  Delete Dynamic Endpoint
    # <p>Delete a DynamicEndpoint specified by DYNAMIC_ENDPOINT_ID.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv4_0_0_delete_dynamic_endpoint(dynamicendpointid, opts = {})
      o_bpv4_0_0_delete_dynamic_endpoint_with_http_info(dynamicendpointid, opts)
      nil
    end

    #  Delete Dynamic Endpoint
    # &lt;p&gt;Delete a DynamicEndpoint specified by DYNAMIC_ENDPOINT_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv4_0_0_delete_dynamic_endpoint_with_http_info(dynamicendpointid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_delete_dynamic_endpoint ...'
      end
      # verify the required parameter 'dynamicendpointid' is set
      if @api_client.config.client_side_validation && dynamicendpointid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicendpointid' when calling DynamicEndpointManageApi.o_bpv4_0_0_delete_dynamic_endpoint"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/dynamic-endpoints/{dynamicendpointid}'.sub('{' + 'dynamicendpointid' + '}', CGI.escape(dynamicendpointid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_delete_dynamic_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_delete_dynamic_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete My Dynamic Endpoint
    # <p>Delete a DynamicEndpoint specified by DYNAMIC_ENDPOINT_ID.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def o_bpv4_0_0_delete_my_dynamic_endpoint(dynamicendpointid, opts = {})
      o_bpv4_0_0_delete_my_dynamic_endpoint_with_http_info(dynamicendpointid, opts)
      nil
    end

    # Delete My Dynamic Endpoint
    # &lt;p&gt;Delete a DynamicEndpoint specified by DYNAMIC_ENDPOINT_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def o_bpv4_0_0_delete_my_dynamic_endpoint_with_http_info(dynamicendpointid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_delete_my_dynamic_endpoint ...'
      end
      # verify the required parameter 'dynamicendpointid' is set
      if @api_client.config.client_side_validation && dynamicendpointid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicendpointid' when calling DynamicEndpointManageApi.o_bpv4_0_0_delete_my_dynamic_endpoint"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/dynamic-endpoints/{dynamicendpointid}'.sub('{' + 'dynamicendpointid' + '}', CGI.escape(dynamicendpointid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_delete_my_dynamic_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_delete_my_dynamic_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  Get Bank Level Dynamic Endpoint
    # <p>Get a Bank Level Dynamic Endpoint.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param bankid [String] The BANKID identifier
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems]
    def o_bpv4_0_0_get_bank_level_dynamic_endpoint(bankid, dynamicendpointid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_bank_level_dynamic_endpoint_with_http_info(bankid, dynamicendpointid, opts)
      data
    end

    #  Get Bank Level Dynamic Endpoint
    # &lt;p&gt;Get a Bank Level Dynamic Endpoint.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems, Integer, Hash)>] OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems data, response status code and response headers
    def o_bpv4_0_0_get_bank_level_dynamic_endpoint_with_http_info(bankid, dynamicendpointid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_get_bank_level_dynamic_endpoint ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling DynamicEndpointManageApi.o_bpv4_0_0_get_bank_level_dynamic_endpoint"
      end
      # verify the required parameter 'dynamicendpointid' is set
      if @api_client.config.client_side_validation && dynamicendpointid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicendpointid' when calling DynamicEndpointManageApi.o_bpv4_0_0_get_bank_level_dynamic_endpoint"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/dynamic-endpoints/{dynamicendpointid}'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'dynamicendpointid' + '}', CGI.escape(dynamicendpointid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_get_bank_level_dynamic_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_get_bank_level_dynamic_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Bank Level Dynamic Endpoints
    # <p>Get Bank Level Dynamic Endpoints.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param bankid [String] The BANKID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicEndpoints200Response]
    def o_bpv4_0_0_get_bank_level_dynamic_endpoints(bankid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_bank_level_dynamic_endpoints_with_http_info(bankid, opts)
      data
    end

    # Get Bank Level Dynamic Endpoints
    # &lt;p&gt;Get Bank Level Dynamic Endpoints.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicEndpoints200Response, Integer, Hash)>] OBPv400GetDynamicEndpoints200Response data, response status code and response headers
    def o_bpv4_0_0_get_bank_level_dynamic_endpoints_with_http_info(bankid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_get_bank_level_dynamic_endpoints ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling DynamicEndpointManageApi.o_bpv4_0_0_get_bank_level_dynamic_endpoints"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/dynamic-endpoints'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_get_bank_level_dynamic_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_get_bank_level_dynamic_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Dynamic Endpoint
    # <p>Get a Dynamic Endpoint.</p> <p>Get one DynamicEndpoint,</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems]
    def o_bpv4_0_0_get_dynamic_endpoint(dynamicendpointid, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_dynamic_endpoint_with_http_info(dynamicendpointid, opts)
      data
    end

    # Get Dynamic Endpoint
    # &lt;p&gt;Get a Dynamic Endpoint.&lt;/p&gt; &lt;p&gt;Get one DynamicEndpoint,&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems, Integer, Hash)>] OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems data, response status code and response headers
    def o_bpv4_0_0_get_dynamic_endpoint_with_http_info(dynamicendpointid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_get_dynamic_endpoint ...'
      end
      # verify the required parameter 'dynamicendpointid' is set
      if @api_client.config.client_side_validation && dynamicendpointid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicendpointid' when calling DynamicEndpointManageApi.o_bpv4_0_0_get_dynamic_endpoint"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/dynamic-endpoints/{dynamicendpointid}'.sub('{' + 'dynamicendpointid' + '}', CGI.escape(dynamicendpointid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicEndpoints200ResponsePropertiesDynamicEndpointsItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_get_dynamic_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_get_dynamic_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  Get Dynamic Endpoints
    # <p>Get Dynamic Endpoints.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicEndpoints200Response]
    def o_bpv4_0_0_get_dynamic_endpoints(opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_dynamic_endpoints_with_http_info(opts)
      data
    end

    #  Get Dynamic Endpoints
    # &lt;p&gt;Get Dynamic Endpoints.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicEndpoints200Response, Integer, Hash)>] OBPv400GetDynamicEndpoints200Response data, response status code and response headers
    def o_bpv4_0_0_get_dynamic_endpoints_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_get_dynamic_endpoints ...'
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/dynamic-endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_get_dynamic_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_get_dynamic_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get My Dynamic Endpoints
    # <p>Get My Dynamic Endpoints.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param [Hash] opts the optional parameters
    # @return [OBPv400GetDynamicEndpoints200Response]
    def o_bpv4_0_0_get_my_dynamic_endpoints(opts = {})
      data, _status_code, _headers = o_bpv4_0_0_get_my_dynamic_endpoints_with_http_info(opts)
      data
    end

    # Get My Dynamic Endpoints
    # &lt;p&gt;Get My Dynamic Endpoints.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400GetDynamicEndpoints200Response, Integer, Hash)>] OBPv400GetDynamicEndpoints200Response data, response status code and response headers
    def o_bpv4_0_0_get_my_dynamic_endpoints_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_get_my_dynamic_endpoints ...'
      end
      # resource path
      local_var_path = '/obp/v4.0.0/my/dynamic-endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400GetDynamicEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_get_my_dynamic_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_get_my_dynamic_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  Update Bank Level Dynamic Endpoint Host
    # <p>Update Bank Level  dynamic endpoint Host.<br /> The value can be obp_mock, dynamic_entity, or some service url.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param bankid [String] The BANKID identifier
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param obpv400_update_bank_level_dynamic_endpoint_host_request [OBPv400UpdateBankLevelDynamicEndpointHostRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400UpdateBankLevelDynamicEndpointHostRequest]
    def o_bpv4_0_0_update_bank_level_dynamic_endpoint_host(bankid, dynamicendpointid, obpv400_update_bank_level_dynamic_endpoint_host_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_update_bank_level_dynamic_endpoint_host_with_http_info(bankid, dynamicendpointid, obpv400_update_bank_level_dynamic_endpoint_host_request, opts)
      data
    end

    #  Update Bank Level Dynamic Endpoint Host
    # &lt;p&gt;Update Bank Level  dynamic endpoint Host.&lt;br /&gt; The value can be obp_mock, dynamic_entity, or some service url.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param obpv400_update_bank_level_dynamic_endpoint_host_request [OBPv400UpdateBankLevelDynamicEndpointHostRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400UpdateBankLevelDynamicEndpointHostRequest, Integer, Hash)>] OBPv400UpdateBankLevelDynamicEndpointHostRequest data, response status code and response headers
    def o_bpv4_0_0_update_bank_level_dynamic_endpoint_host_with_http_info(bankid, dynamicendpointid, obpv400_update_bank_level_dynamic_endpoint_host_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_update_bank_level_dynamic_endpoint_host ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling DynamicEndpointManageApi.o_bpv4_0_0_update_bank_level_dynamic_endpoint_host"
      end
      # verify the required parameter 'dynamicendpointid' is set
      if @api_client.config.client_side_validation && dynamicendpointid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicendpointid' when calling DynamicEndpointManageApi.o_bpv4_0_0_update_bank_level_dynamic_endpoint_host"
      end
      # verify the required parameter 'obpv400_update_bank_level_dynamic_endpoint_host_request' is set
      if @api_client.config.client_side_validation && obpv400_update_bank_level_dynamic_endpoint_host_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_update_bank_level_dynamic_endpoint_host_request' when calling DynamicEndpointManageApi.o_bpv4_0_0_update_bank_level_dynamic_endpoint_host"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/dynamic-endpoints/{dynamicendpointid}/host'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'dynamicendpointid' + '}', CGI.escape(dynamicendpointid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_update_bank_level_dynamic_endpoint_host_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400UpdateBankLevelDynamicEndpointHostRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_update_bank_level_dynamic_endpoint_host",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_update_bank_level_dynamic_endpoint_host\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  Update Dynamic Endpoint Host
    # <p>Update dynamic endpoint Host.<br /> The value can be obp_mock, dynamic_entity, or some service url.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> 
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param obpv400_update_bank_level_dynamic_endpoint_host_request [OBPv400UpdateBankLevelDynamicEndpointHostRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [OBPv400UpdateBankLevelDynamicEndpointHostRequest]
    def o_bpv4_0_0_update_dynamic_endpoint_host(dynamicendpointid, obpv400_update_bank_level_dynamic_endpoint_host_request, opts = {})
      data, _status_code, _headers = o_bpv4_0_0_update_dynamic_endpoint_host_with_http_info(dynamicendpointid, obpv400_update_bank_level_dynamic_endpoint_host_request, opts)
      data
    end

    #  Update Dynamic Endpoint Host
    # &lt;p&gt;Update dynamic endpoint Host.&lt;br /&gt; The value can be obp_mock, dynamic_entity, or some service url.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; 
    # @param dynamicendpointid [String] The DYNAMICENDPOINTID identifier
    # @param obpv400_update_bank_level_dynamic_endpoint_host_request [OBPv400UpdateBankLevelDynamicEndpointHostRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(OBPv400UpdateBankLevelDynamicEndpointHostRequest, Integer, Hash)>] OBPv400UpdateBankLevelDynamicEndpointHostRequest data, response status code and response headers
    def o_bpv4_0_0_update_dynamic_endpoint_host_with_http_info(dynamicendpointid, obpv400_update_bank_level_dynamic_endpoint_host_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicEndpointManageApi.o_bpv4_0_0_update_dynamic_endpoint_host ...'
      end
      # verify the required parameter 'dynamicendpointid' is set
      if @api_client.config.client_side_validation && dynamicendpointid.nil?
        fail ArgumentError, "Missing the required parameter 'dynamicendpointid' when calling DynamicEndpointManageApi.o_bpv4_0_0_update_dynamic_endpoint_host"
      end
      # verify the required parameter 'obpv400_update_bank_level_dynamic_endpoint_host_request' is set
      if @api_client.config.client_side_validation && obpv400_update_bank_level_dynamic_endpoint_host_request.nil?
        fail ArgumentError, "Missing the required parameter 'obpv400_update_bank_level_dynamic_endpoint_host_request' when calling DynamicEndpointManageApi.o_bpv4_0_0_update_dynamic_endpoint_host"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/dynamic-endpoints/{dynamicendpointid}/host'.sub('{' + 'dynamicendpointid' + '}', CGI.escape(dynamicendpointid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(obpv400_update_bank_level_dynamic_endpoint_host_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OBPv400UpdateBankLevelDynamicEndpointHostRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"DynamicEndpointManageApi.o_bpv4_0_0_update_dynamic_endpoint_host",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicEndpointManageApi#o_bpv4_0_0_update_dynamic_endpoint_host\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
